{% extends 'AppBundle:Form:aaplus-bootstrap.html.twig' %}

{% block form_widget %}
  {% spaceless %}
    {% if compound %}
      {{ block('form_widget_compound') }}
    {% else %}
      {{ block('form_widget_simple') }}
    {% endif %}
  {% endspaceless %}
{% endblock form_widget %}

{% block form_widget_compound %}
  {% spaceless %}

      {% if form.parent is empty %}
        {{ block('global_form_errors') }}
      {% endif %}
      {{ block('form_rows') }}
      {{ form_rest(form) }}

  {% endspaceless %}
{% endblock form_widget_compound %}

{% block button_row %}
  {% spaceless %}
      {{ form_widget(form) }}
  {% endspaceless %}
{% endblock button_row %}

{% block form_start %}
    {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-inline') }) %}

    {{ parent() }}
{% endblock form_start %}



{% block button_widget %}
  {% spaceless %}

    {# Apparently we can't render two forms with different form themes in Symfony/Twig - hence this ugly hack! #}

    {% if label is defined and label != '' %}
      {% set modal_header = label%}
      {% set modal_body = label ~ '_confirm' %}
      {% set modal_submit_button = label %}
      {% set modal_submit_button_icon = 'caret-square-o-right' %}
      {% set modal_submit_button_type = 'btn-primary' %}
    {% endif %}

    {% if label is empty and label is not sameas(false) %}
      {% set label = name|humanize %}
    {% endif %}
    {# delete form #}
    {% if type is defined and type == 'submit' %}
      {# Set a random id to namespace the form so that two delete forms on the same page doesn't conflict modals#}
      {% set form_id = random() %}
      {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-'~button_class|default('danger'))|trim }) %}
      <button type="button" class="btn {{ modal_submit_button_type }}" data-toggle="modal" data-target="#modal-{{ form_id }}">{{ icon( modal_submit_button_icon ) }} {{ modal_submit_button | trans({}, translation_domain) }}</button>
      {% if form_id is defined %}
        <!-- Modal -->
        <div class="modal fade" id="modal-{{ form_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-left" id="myModalLabel">{{ modal_header | trans({}, translation_domain) }}</h4>
              </div>
              <div class="modal-body text-left">
                {{ modal_body | trans({}, translation_domain) }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel' | trans({}, translation_domain) }}</button>
                <button type="submit" class="btn btn-primary">{{ icon( modal_submit_button_icon ) }} {{ modal_submit_button | trans({}, translation_domain) }}</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal end -->
      {% endif %}

    {% else %}
      {% if type is defined and type == 'submit' %}
        {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-'~button_class|default('primary'))|trim }) %}
      {% else %}
        {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-'~button_class|default('default'))|trim }) %}
      {% endif %}
      {% if as_link is defined and as_link == true %}
        <a {{ block('button_attributes') }}>{% if attr.icon is defined and attr.icon != '' %}{{ icon(attr.icon) }}{% endif %}{{ label|trans({}, translation_domain) }}</a>
      {% else %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{% if attr.icon is defined and attr.icon != '' %}{{ icon(attr.icon) }}{% endif %}{{ label|trans({}, translation_domain) }}</button>
      {% endif %}
    {% endif %}


  {% endspaceless %}
{% endblock button_widget %}