{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ELOKategori list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Navn</th>
                <th>Totalvarmeforbrug</th>
                <th>Totalelforbrug</th>
                <th>Andelvarmeguffaktor</th>
                <th>Createdby</th>
                <th>Updatedby</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('elokategori_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.navn }}</td>
                <td>{{ entity.totalVarmeforbrug }}</td>
                <td>{{ entity.totalElforbrug }}</td>
                <td>{{ entity.andelVarmeGUFFaktor }}</td>
                <td>{{ entity.createdBy }}</td>
                <td>{{ entity.updatedBy }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('elokategori_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('elokategori_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('elokategori_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
