<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('favicon.ico')) }}" />

    <title>{% block title %}SEAS-NVE Strømmen A/S{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ absolute_url(asset('css/lib/bootstrap.min.css')) }}" type="text/css" rel="stylesheet" />
        <link href="{{ absolute_url(asset('css/lib/font-awesome.min.css')) }}" type="text/css" rel="stylesheet" />
        <link href="{{ absolute_url(asset('css/lib/sticky-footer-navbar.css')) }}" type="text/css" rel="stylesheet" />
        <link href="{{ absolute_url(asset('css/aaplus-styles.css')) }}" type="text/css" rel="stylesheet" />
        <link href="{{ absolute_url(asset('css/aaplus-manyone-pdfstyles.css')) }}" type="text/css" rel="stylesheet"/>
{#        <link href="{{ absolute_url(asset('css/Chart.css')) }}" type="text/css" rel="stylesheet"/>#}
    {% endblock %}

    <script>
        function formatNumberSeparators(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? ',' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;

            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }

            return x1 + x2;
        }
    </script>
  {#    <script src="{{ absolute_url(asset('js/lib/Chart.js/Chart.min.js')) }}"></script>#}
  <script src="{{ absolute_url(asset('js/lib/echarts.min.js')) }}"></script>
    <style type="text/css">
        body #navbar {
            font-size: 14px;
        }
        body #navbar a {
            text-decoration: none;
        }
        body > .container-fluid {
            padding: 60px 15px 0;
        }
    </style>
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="{{ absolute_url(asset('img/seas-nve-logo.png')) }}" class="navbar-brand--logo"/> </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% include 'AppBundle::top_navigation.html.twig' %}
        <div class="navbar-right">
          {% if pdf_export_url %}
            <form method="POST" action="{{ pdf_export_url }}" style="margin-top:10px;">
                <button type="submit" class="btn btn-default" name="save-pdf" value="1">{{ icon('file-pdf-o') }} {{ 'common.savePdf' | trans }}</button>
                <button type="submit" class="btn btn-default" name="download-pdf" value="1">{{ icon('file-pdf-o') }} {{ 'common.downloadPdf' | trans }}</button>
            </form>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</nav>
<div class="container-fluid">
  {{ wo_render_breadcrumbs() }}
</div>
{% macro header(key) %}
    {% set calculation = key|get_calculation %}

    <th class="rotate">
        <div>
            {% if calculation is null %}
                <span>{{ key | trans }}</span>
            {% else %}
                <span data-calculation="{{ calculation }}">{{ key | trans }}</span>
            {% endif %}
        </div>
    </th>
{% endmacro %}

{% macro header_unit(key, border_right=false) %}
    {% set translation = key|get_unit %}
    {% set border = border_right ? 'border-right' : '' %}

    <th class="unit {{ border }}">
        {{ translation }}
    </th>
{% endmacro %}

{% macro header_span(key, span) %}
    {% set translation = key|trans %}

    <th colspan="{{ span }}" class="text-center border-right">
        {{ translation }}
    </th>
{% endmacro %}

{% import _self as helper %}

<!-- Begin page content -->
<div style="height: 50px"></div>
{{ html | raw }}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascripts %}
  <script src="{{ absolute_url(asset('js/lib/jquery-1.11.2.min.js')) }}"></script>
  <script src="{{ absolute_url(asset('js/lib/bootstrap.min.js')) }}"></script>
  <script src="{{ absolute_url(asset('js/lib/bc-bootstrap-collection.js')) }}"></script>
  <script src="{{ absolute_url(asset('js/lib/jquery.autogrowtextarea.min.js')) }}"></script>
  <script src="{{ absolute_url(asset('js/lib/jquery.floatThead.min.js')) }}"></script>
  <script src="{{ absolute_url(asset('js/lib/select2.min.js')) }}"></script>
  <script src="{{ absolute_url(asset('js/aaplus.js')) }}"></script>
  <script src="{{ absolute_url(asset('js/app.js')) }}"></script>

  <script>
      $(document).ready(function() {
        {% block documentReady %}{% endblock documentReady %}
      });
  </script>
{% endblock %}

</body>
</html>
