{% extends 'AppBundle:Tiltag:show.html.twig' %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row details-overview">
    <div class="col-md-12">

      {% if is_granted('TILTAG_EDIT', entity) %}
        {{ form_start(edit_form) }}
      {% endif %}

      <table class="table table-condensed table-header-rotated table-hover">
        <thead>
        <tr>
          {{ helper.header() }}
          {{ helper.header('appbundle.tiltagdetail.tilvalgt') }}
          {{ helper.header('appbundle.vinduetiltagdetail.laastAfEnergiraadgiver') }}
          {{ helper.header('appbundle.vinduetiltagdetail.noterTilPrisfaktorValgteLoesningTiltagSpecielleForholdPaaStedet') }}
          {{ helper.header('appbundle.vinduetiltagdetail.orientering') }}
          {{ helper.header('appbundle.vinduetiltagdetail.eRefEksKWhM2Aar') }}
          {{ helper.header('appbundle.vinduetiltagdetail.eWEksKWhM2Aar') }}
          {{ helper.header('appbundle.vinduetiltagdetail.eRefNyKWhM2Aar') }}
          {{ helper.header('appbundle.vinduetiltagdetail.eWNyKWhM2Aar') }}
          {{ helper.header('appbundle.vinduetiltagdetail.solenergitransmittansEks') }}
          {{ helper.header('appbundle.vinduetiltagdetail.solenergitransmittansNy') }}
          {{ helper.header('appbundle.vinduetiltagdetail.klimaskaerm') }}
          {{ helper.header('appbundle.vinduetiltagdetail.type') }}
          {{ helper.header('appbundle.vinduetiltagdetail.placering') }}
          {{ helper.header('appbundle.vinduetiltagdetail.hoejdeElLaengdeM') }}
          {{ helper.header('appbundle.vinduetiltagdetail.breddeM') }}
          {{ helper.header('appbundle.vinduetiltagdetail.antalStk') }}
          {{ helper.header('appbundle.vinduetiltagdetail.arealM2') }}
          {{ helper.header('appbundle.vinduetiltagdetail.glasandel') }}
          {{ helper.header('appbundle.vinduetiltagdetail.uEksWM2K') }}
          {{ helper.header('appbundle.vinduetiltagdetail.uNyWM2K') }}
          {{ helper.header('appbundle.vinduetiltagdetail.besparelseKWhAar') }}
          {{ helper.header('appbundle.vinduetiltagdetail.prisfaktor') }}
          {{ helper.header('appbundle.vinduetiltagdetail.samletInvesteringKr') }}
          {{ helper.header('appbundle.vinduetiltagdetail.simpelTilbagebetalingstidAar') }}
          {{ helper.header('appbundle.vinduetiltagdetail.levetidAar') }}
          {{ helper.header('appbundle.vinduetiltagdetail.faktorForReinvestering') }}
          {{ helper.header('appbundle.vinduetiltagdetail.nutidsvaerdiSetOver15AarKr') }}
          {{ helper.header('appbundle.vinduetiltagdetail.kWhBesparElvaerkEksternEnergikilde') }}
          {{ helper.header('appbundle.vinduetiltagdetail.kWhBesparVarmevaerkEksternEnergikilde') }}
          {{ helper.header() }}
        </tr>
        <tr>
          {{ helper.header_unit() }}
          {{ helper.header_unit('appbundle.tiltagdetail.tilvalgt') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.laastAfEnergiraadgiver') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.noterTilPrisfaktorValgteLoesningTiltagSpecielleForholdPaaStedet') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.orientering') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.eRefEksKWhM2Aar') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.eWEksKWhM2Aar') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.eRefNyKWhM2Aar') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.eWNyKWhM2Aar') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.solenergitransmittansEks') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.solenergitransmittansNy') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.klimaskaerm') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.type') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.placering') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.hoejdeElLaengdeM') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.breddeM') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.antalStk') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.arealM2') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.glasandel') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.uEksWM2K') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.uNyWM2K') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.besparelseKWhAar') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.prisfaktor') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.samletInvesteringKr') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.simpelTilbagebetalingstidAar') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.levetidAar') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.faktorForReinvestering') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.nutidsvaerdiSetOver15AarKr') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.kWhBesparElvaerkEksternEnergikilde') }}
          {{ helper.header_unit('appbundle.vinduetiltagdetail.kWhBesparVarmevaerkEksternEnergikilde') }}
          {{ helper.header_unit() }}
        </tr>
        </thead>
        <tbody>
        {% for form_detail in edit_form.details %}
          {% set detail = details[form_detail.vars['value'].id] %}
          <tr id="{{ detail.id }}">
            <td>
              {{ block('tiltag_detail_edit') }}
            </td>
            <td>
              {% if is_granted('TILTAG_EDIT', entity) %}
                {{ form_row(form_detail.tilvalgt) }}
              {% else %}
                {{ detail.tilvalgt | b2icon }}
              {% endif %}
            </td>
            <td>{{ detail.laastAfEnergiraadgiver | b2icon }}</td>
            <td>{{ detail.noterTilPrisfaktorValgteLoesningTiltagSpecielleForholdPaaStedet }}</td>
            <td>{{ detail.orientering | readable('CardinalDirectionType') | trans }}</td>
            <td>{{ detail.eRefEksKWhM2Aar | format_decimal }}</td>
            <td>{{ detail.eWEksKWhM2Aar | format_decimal }}</td>
            <td>{{ detail.eRefNyKWhM2Aar | format_decimal }}</td>
            <td>{{ detail.eWNyKWhM2Aar | format_decimal }}</td>
            <td>{{ detail.solenergitransmittansEks | format_percent }}</td>
            <td>{{ detail.solenergitransmittansNy | format_percent }}</td>
            <td>
              {% if detail.klimaskaerm is not empty %}
                {{ detail.klimaskaerm }}
              {% else %}
                {{ 'appbundle.klimaskaermtiltagdetail.klimaskaerm.empty.show' | trans }}
              {% endif %}
            </td>
            <td>{{ detail.type }}</td>
            <td>{{ detail.placering }}</td>
            <td>{{ detail.hoejdeElLaengdeM | format_decimal }}</td>
            <td>{{ detail.breddeM | format_decimal }}</td>
            <td>{{ detail.antalStk | format_integer }}</td>
            <td>{{ detail.arealM2 | format_decimal }}</td>
            <td>{{ detail.glasandel | format_percent_nounit }}</td>
            <td>{{ detail.uEksWM2K | format_decimal }}</td>
            <td>{{ detail.uNyWM2K | format_decimal }}</td>
            <td>{{ detail.besparelseKWhAar | format_decimal }}</td>
            <td>{{ detail.prisfaktor | format_decimal }}</td>
            <td>{{ detail.samletInvesteringKr | format_decimal }}</td>
            <td>{{ detail.simpelTilbagebetalingstidAar | format_decimal }}</td>
            <td>{{ detail.levetidAar | format_decimal }}</td>
            <td>{{ detail.faktorForReinvestering | format_decimal }}</td>
            <td>{{ detail.nutidsvaerdiSetOver15AarKr | format_decimal }}</td>
            <td>{{ detail.kWhBesparElvaerkEksternEnergikilde | format_decimal }}</td>
            <td>{{ detail.kWhBesparVarmevaerkEksternEnergikilde | format_decimal }}</td>
            <td class="last"></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>


      {% if is_granted('TILTAG_EDIT', entity) %}
        {{ form_rest(edit_form) }}
        {{ form_end(edit_form) }}
      {% endif %}
    </div>
  </div>

{% endblock %}
