  {% extends 'AppBundle::base.html.twig' %}


  {% block body -%}

  <div class="row heading">
    <div class="col-md-6">
        <h1>{{ 'reporttext.labels.plural' | trans }}</h1>
    </div>
    <div class="col-md-6 text-right">
{#      <a href="{{ path('pumpe', {'_format': 'xlsx'}) }}" class="btn btn-default">{{ icon('download') }} {{ 'common.downloadExcel' | trans }}</a>#}
{#      <a href="{{ path('pumpe', {'_format': 'csv'}) }}"  class="btn btn-default">{{ icon('download') }} {{ 'common.downloadCsv' | trans }}</a>#}
{#      <a href="{{ path('pumpe_import_form') }}"  class="btn btn-default">{{ icon('upload') }} {{ 'common.import' | trans }}</a>#}
{#      <a class="btn btn-default" href="{{ path('pumpe_new') }}">{{ icon('plus') }} {{ 'pumpe.actions.add' | trans }}</a>#}
    </div>

  </div>


  <div class="row">
    <div class="col-md-12">

      <table class="table table-condensed">
        <tbody>
        <tr>
          <th>{{ 'appbundle.reporttext.title' | trans }}</th>
          <th>{{ 'appbundle.reporttext.body' | trans }}</th>
          <th>{{ 'appbundle.reporttext.updated_by' | trans }}</th>
          <th>{{ 'appbundle.reporttext.updated_at' | trans }}</th>
          <th></th>
        </tr>
            {% for entity in entities %}
              <tr>
                <td>
                  <a href="{{ path('report_text_edit', { 'report_text_id': entity.id}) }}">{{ entity.title }}</a>
                </td>
                <td>
                  {{ entity.body|striptags|truncate(50) }}
                </td>
                <td>{{ entity.updatedBy }}</td>
                <td>{{ entity.updatedAt | date('F j, Y H:i') }}</td>
                <td class="text-right">
                  <a href="{{ path('report_text_edit', { 'report_text_id': entity.id}) }}" class="btn btn-default btn-xs">{{ 'common.show' | trans }}</a>
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>

      <a class="btn btn-primary" href="{{ path('report_text_new') }}">
        {{ icon('plus') }} {{ 'reporttext.actions.create' | trans }}
      </a>

    </div>
  </div>

  {% endblock %}
