<table class="table table-condensed table-header-rotated table-hover">
  <thead>
  <tr>
    {{ helper.header('appbundle.tiltagdetail.tilvalgt') }}
    {{ helper.header('appbundle.klimaskaermtiltagdetail.type') }}
    {{ helper.header('appbundle.klimaskaermtiltagdetail.placering') }}
    {{ helper.header('appbundle.klimaskaermtiltagdetail.antalStk') }}
    {{ helper.header('appbundle.klimaskaermtiltagdetail.arealM2') }}
    {{ helper.header('appbundle.klimaskaermtiltagdetail.klimaskaerm') }}
    {{ helper.header('appbundle.klimaskaermtiltagdetail.enhedsprisEksklMoms') }}
    {{ helper.header('appbundle.klimaskaermtiltagdetail.samletInvesteringKr') }}
    {{ helper.header('appbundle.klimaskaermtiltagdetail.simpelTilbagebetalingstidAar') }}
    {{ helper.header('appbundle.klimaskaermtiltagdetail.noterTilPrisfaktorValgteLoesningTiltagSpecielleForholdPaaStedet') }}
    {{ helper.header('appbundle.klimaskaermtiltagdetail.levetidAar') }}
    {{ helper.header('appbundle.klimaskaermtiltagdetail.nutidsvaerdiSetOver15AarKr') }}
    {{ helper.header() }}
  </tr>
  <tr>
    {{ helper.header_unit('appbundle.tiltagdetail.tilvalgt') }}
    {{ helper.header_unit('appbundle.klimaskaermtiltagdetail.type') }}
    {{ helper.header_unit('appbundle.klimaskaermtiltagdetail.placering') }}
    {{ helper.header_unit('appbundle.klimaskaermtiltagdetail.antalStk') }}
    {{ helper.header_unit('appbundle.klimaskaermtiltagdetail.arealM2') }}
    {{ helper.header_unit('appbundle.klimaskaermtiltagdetail.klimaskaerm') }}
    {{ helper.header_unit('appbundle.klimaskaermtiltagdetail.enhedsprisEksklMoms') }}
    {{ helper.header_unit('appbundle.klimaskaermtiltagdetail.samletInvesteringKr') }}
    {{ helper.header_unit('appbundle.klimaskaermtiltagdetail.simpelTilbagebetalingstidAar') }}
    {{ helper.header_unit('appbundle.klimaskaermtiltagdetail.noterTilPrisfaktorValgteLoesningTiltagSpecielleForholdPaaStedet') }}
    {{ helper.header_unit('appbundle.klimaskaermtiltagdetail.levetidAar') }}
    {{ helper.header_unit('appbundle.klimaskaermtiltagdetail.nutidsvaerdiSetOver15AarKr') }}
    {{ helper.header_unit() }}
  </tr>
  </thead>
  <tbody>
  {% for detail in entity.details %}
    <tr>
      <td class="{{ detail.tilvalgt | b2class }}">{{ detail.tilvalgt | b2icon }}</td>
      <td>{{ detail.type }}</td>
      <td>{{ detail.placering }}</td>
      <td class="number">{{ detail.antalStk | format_integer }}</td>
      <td class="number">{{ detail.arealM2 | format_zeros }}</td>
      <td>{{ detail.klimaskaerm }}</td>
      <td class="number">{{ detail.klimaskaerm.enhedsprisEksklMoms | format_zeros}}</td>
      <td class="number">{{ detail.samletInvesteringKr | format_amount }}</td>
      <td class="number">{{ detail.simpelTilbagebetalingstidAar | format_decimal }}</td>
      <td>{{ detail.noterTilPrisfaktorValgteLoesningTiltagSpecielleForholdPaaStedet }}</td>
      <td class="number">{{ detail.levetidAar | format_decimal }}</td>
      <td class="number">{{ detail.nutidsvaerdiSetOver15AarKr | format_amount }}</td>
      <td class="last"></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
