{% extends 'AppBundle:Tiltag:show.html.twig' %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-condensed table-header-rotated table-hover">
          <thead>
            <tr>
              {{ helper.header('appbundle.klimaskaermtiltagdetail.laastAfEnergiraadgiver') }}
              {{ helper.header('appbundle.tiltagdetail.tilvalgt') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.klimaskaerm') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.typePlaceringJfPlantegning') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.hoejdeElLaengdeM') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.breddeM') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.antalStk') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.arealM2') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.andelAfArealDerEfterisoleres') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.uEksWM2K') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.uNyWM2K') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.tIndeC') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.tUdeC') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.tOpvarmningTimerAar') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.yderligereBesparelserPct') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.besparelseKWhAar') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.prisfaktor') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.samletInvesteringKr') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.simpelTilbagebetalingstidAar') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.noterTilPrisfaktorValgteLoesningTiltagSpecielleForholdPaaStedet') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.levetidAar') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.faktorForReinvestering') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.nutidsvaerdiSetOver15AarKr') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.kWhBesparElvaerkEksternEnergikilde') }}
              {{ helper.header('appbundle.klimaskaermtiltagdetail.kWhBesparVarmevaerkEksternEnergikilde') }}
              {{ helper.header() }}
            </tr>
          </thead>
          <tbody>
            {% for detail in entity.details %}
              <tr>
                <td>{{ detail.laastAfEnergiraadgiver | b2icon }}</td>
                <td>{{ detail.tilvalgt | b2icon }}</td>
                <td>{{ detail.klimaskaerm }}</td>
                <td>{{ detail.typePlaceringJfPlantegning }}</td>
                <td>{{ detail.hoejdeElLaengdeM | format_decimal }}</td>
                <td>{{ detail.breddeM | format_decimal }}</td>
                <td>{{ detail.antalStk | format_integer }}</td>
                <td>{{ detail.arealM2 | format_decimal }}</td>
                <td>{{ detail.andelAfArealDerEfterisoleres | format_percent }}</td>
                <td>{{ detail.uEksWM2K | format_decimal }}</td>
                <td>{{ detail.uNyWM2K | format_decimal }}</td>
                <td>{{ detail.tIndeC | format_decimal }}</td>
                <td>{{ detail.tUdeC | format_decimal }}</td>
                <td>{{ detail.tOpvarmningTimerAar | format_decimal }}</td>
                <td>{{ detail.yderligereBesparelserPct | format_percent }}</td>
                <td>{{ detail.besparelseKWhAar | format_decimal }}</td>
                <td>{{ detail.prisfaktor | format_decimal }}</td>
                <td>{{ detail.samletInvesteringKr | format_decimal }}</td>
                <td>{{ detail.simpelTilbagebetalingstidAar | format_decimal }}</td>
                <td>{{ detail.noterTilPrisfaktorValgteLoesningTiltagSpecielleForholdPaaStedet }}</td>
                <td>{{ detail.levetidAar | format_decimal }}</td>
                <td>{{ detail.faktorForReinvestering | format_decimal }}</td>
                <td>{{ detail.nutidsvaerdiSetOver15AarKr | format_decimal }}</td>
                <td>{{ detail.kWhBesparElvaerkEksternEnergikilde | format_decimal }}</td>
                <td>{{ detail.kWhBesparVarmevaerkEksternEnergikilde | format_decimal }}</td>
                <td>
                  <a href="{{ path('tiltag_detail_edit', { 'id': detail.id }) }}" class="btn btn-default btn-xs">{{ 'common.edit' | trans }}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% form_theme create_detail_form 'AppBundle:Form:modal-form.html.twig' %}
    {{ form(create_detail_form) }}

{% endblock %}
