{% extends 'AppBundle:Tiltag:show.html.twig' %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row">
    <div class="col-md-12">
	  <div class="table-responsive">
		<table class="table table-header-rotated table-hover">
		  <thead>
			<tr>
			  {{ helper.header('appbundle.tiltagdetail.tilvalgt') }}
              {{ helper.header('appbundle.solcelletiltagdetail.anlaegsstoerrelseKWp') }}
              {{ helper.header('appbundle.solcelletiltagdetail.produktionKWh') }}
              {{ helper.header('appbundle.solcelletiltagdetail.tilNettetPct') }}
              {{ helper.header('appbundle.solcelletiltagdetail.tilEgetForbrugPct') }}
              {{ helper.header('appbundle.solcelletiltagdetail.egetForbrugAfProduktionenKWh') }}
              {{ helper.header('appbundle.solcelletiltagdetail.produktionTilNettetKWh') }}
              {{ helper.header('appbundle.solcelletiltagdetail.forringetYdeevnePrAar') }}
              {{ helper.header('appbundle.solcelletiltagdetail.inverterskift1Aar') }}
              {{ helper.header('appbundle.solcelletiltagdetail.inverterskift2Aar') }}
              {{ helper.header('appbundle.solcelletiltagdetail.prisForNyInverterKr') }}
              {{ helper.header('appbundle.solcelletiltagdetail.salgsprisFoerste10AarKrKWh') }}
              {{ helper.header('appbundle.solcelletiltagdetail.salgsprisEfter10AarKrKWh') }}
              {{ helper.header('appbundle.solcelletiltagdetail.energiprisstigningPctPrAar') }}
              {{ helper.header('appbundle.solcelletiltagdetail.investeringKr') }}
              {{ helper.header('appbundle.solcelletiltagdetail.screeningOgProjekteringKr') }}
              {{ helper.header('appbundle.solcelletiltagdetail.driftPrAarKr') }}
              {{ helper.header('appbundle.solcelletiltagdetail.omkostningTilMaalerKr') }}
              {{ helper.header('appbundle.solcelletiltagdetail.raadighedstarifKr') }}
              {{ helper.header('appbundle.solcelletiltagdetail.totalDriftomkostningerPrAar') }}
			  {{ helper.header() }}
			</tr>
		  </thead>
		  <tbody>
			{% for detail in entity.details %}
			  <tr>
				<td>{{ detail.tilvalgt | b2icon }}</td>
                <td>{{ detail.anlaegsstoerrelseKWp | format_decimal }}</td>
                <td>{{ detail.produktionKWh | format_decimal }}</td>
                <td>{{ detail.tilNettetPct | format_percent }}</td>
                <td>{{ detail.tilEgetForbrugPct | format_percent }}</td>
                <td>{{ detail.egetForbrugAfProduktionenKWh | format_decimal }}</td>
                <td>{{ detail.produktionTilNettetKWh | format_decimal }}</td>
                <td>{{ detail.forringetYdeevnePrAar | format_decimal }}</td>
                <td>{{ detail.inverterskift1Aar | format_integer }}</td>
                <td>{{ detail.inverterskift2Aar | format_integer }}</td>
                <td>{{ detail.prisForNyInverterKr | format_decimal }}</td>
                <td>{{ detail.salgsprisFoerste10AarKrKWh | format_decimal }}</td>
                <td>{{ detail.salgsprisEfter10AarKrKWh | format_decimal }}</td>
                <td>{{ detail.energiprisstigningPctPrAar | format_decimal }}</td>
                <td>{{ detail.investeringKr | format_decimal }}</td>
                <td>{{ detail.screeningOgProjekteringKr | format_decimal }}</td>
                <td>{{ detail.driftPrAarKr | format_decimal }}</td>
                <td>{{ detail.omkostningTilMaalerKr | format_decimal }}</td>
                <td>{{ detail.raadighedstarifKr | format_decimal }}</td>
                <td>{{ detail.totalDriftomkostningerPrAar | format_decimal }}</td>
				<td>
				  <a href="{{ path('tiltag_detail_edit', { 'id': detail.id }) }}" class="btn btn-default btn-xs">{{ 'common.edit' | trans }}</a>
				</td>
			  </tr>
			{% endfor %}
		  </tbody>
		</table>
	  </div>
    </div>
  </div>

  {% form_theme create_detail_form 'AppBundle:Form:modal-form.html.twig' %}
    {{ form(create_detail_form) }}

{% endblock %}
