<div class="panel panel-default">
  {% if type == 'tilvalg' %}
    <div class="panel-heading"><h3 class="panel-title">{{ icon('thumbs-up') }} {{ 'appbundle.rapport.tilvalg' | trans }}</h3></div>
  {% else %}
    <div class="panel-heading"><h3 class="panel-title">{{ icon('thumbs-down') }} {{ 'appbundle.rapport.fravalg' | trans }}</h3></div>
  {% endif %}

  <table class="table table-condensed">
    <thead>
    <tr>
      <th>{{ 'appbundle.tiltag.title' | trans }}</th>
      <th>{{ 'appbundle.tiltag.tilvalgtAfRaadgiver' | trans }}</th>
      <th>{{ 'appbundle.tiltag.tilvalgtAfAaPlus' | trans }}</th>
      <th>{{ 'appbundle.tiltag.tilvalgtAfMagistrat' | trans }}</th>
      <th>{{ 'appbundle.tiltag.tilvalgtbegrundelse' | trans }}</th>
      <th>{{ 'appbundle.tiltag.tilvalgtBegrundelseMagistrat' | trans }}</th>
      <th class="text-right">{{ 'appbundle.tiltag.levetid' | trans }}</th>
      <th class="text-right">{{ 'appbundle.tiltag.simpelTilbagebetalingstidAar' | trans }}</th>
      <th class="text-right">{{ 'appbundle.tiltag.anlaegsInvestering' | trans }}</th>
      {% if is_granted('RAPPORT_EDIT', entity) and is_granted('ROLE_ADMIN') and pdf == false %}
        <th></th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for t in tiltag %}
      <tr>
        <td>{{ t.title }}</td>
        <td>{{ t.tilvalgtAfRaadgiver | b2icon }}</td>
        <td>{{ t.tilvalgtAfAaPlus | b2icon }}</td>
        <td>{{ t.tilvalgtAfMagistrat | b2icon }}</td>
        <td>{{ t.tilvalgtbegrundelse }}</td>
        <td>{{ t.tilvalgtBegrundelseMagistrat }}</td>
        <td class="text-right">{{ t.levetid | number_format }} {{ 'appbundle.tiltag.levetid.unit' | trans }}</td>
        <td class="text-right">{{ t.simpelTilbagebetalingstidAar | number_format }} {{ 'appbundle.tiltag.simpelTilbagebetalingstidAar.unit' | trans }}</td>
        <td class="text-right">{{ t.anlaegsinvestering | number_format }} {{ 'appbundle.tiltag.anlaegsInvestering.unit' | trans }}</td>
        {% if is_granted('RAPPORT_EDIT', entity) and is_granted('ROLE_ADMIN') and pdf == false %}
          <td class="text-right">
            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#tilvalgtModal-{{ t.id }}">
              {% if type == 'tilvalg' %}
                {{ 'common.deselect' | trans }}
              {% else %}
                {{ 'common.select' | trans }}
              {% endif %}
            </button>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <th>{{ 'appbundle.tiltag.ialt' | trans }}</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th class="text-right">
        {% if type == 'tilvalg' %}
          {{ rapport.anlaegsinvestering | number_format }} {{ 'appbundle.tiltag.anlaegsInvestering.unit' | trans }}
        {% else %}
          {{ rapport.fravalgtAnlaegsinvestering | number_format }} {{ 'appbundle.tiltag.anlaegsInvestering.unit' | trans }}
        {% endif %}
      </th>
      {% if is_granted('RAPPORT_EDIT', entity) and is_granted('ROLE_ADMIN') and pdf == false %}
        <th></th>
      {% endif %}
    </tr>
    </tfoot>
  </table>

</div>

{% if is_granted('ROLE_ADMIN') and pdf == false %}
  {% for t in tiltag %}
    {% form_theme valgt_form_array[t.id] 'AppBundle:Form:tilvalgt-modal-form.html.twig' %}
    {{ form(valgt_form_array[t.id], { 'style': 'horizontal' }) }}
  {% endfor %}
{% endif %}