{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <div class="row heading">
    <div class="col-md-9">
      <h1>{{ 'rapporter.actions.edit' | trans }}</h1>
    </div>
    <div class="col-md-3 text-right">
    </div>

  </div>

  {{ form_start(edit_form) }}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'common.generelt' | trans }}</h3>
    </div>
    <div class="panel-body">
      <div class="col-xs-12 col-md-6">
        {{ form_row(edit_form.datering) }}
        {% if edit_form.elena is defined %}
          {{ form_row(edit_form.elena) }}
          {{ form_row(edit_form.ava) }}
        {% endif %}
      </div>
      <div class="col-xs-12 col-md-6">
        {{ form_row(edit_form.energiscreening) }}
        {{ form_row(edit_form.faktorPaaVarmebesparelse) }}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'common.baseline' | trans }}</h3>
    </div>
    <div class="panel-body">
      <div class="col-xs-12 col-md-6">
        {{ form_row(edit_form.BaselineEl) }}
        {{ form_row(edit_form.BaselineVarmeGUF) }}
        {{ form_row(edit_form.BaselineVarmeGAF) }}
      </div>
      <div class="col-xs-12 col-md-6">
        {{ form_row(edit_form.BaselineVand) }}
        {{ form_row(edit_form.BaselineStrafAfkoeling) }}
      </div>
    </div>
  </div>

  {{ form_rest(edit_form) }}
  {{ form_end(edit_form) }}

{% endblock %}
