{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <h1>Rapport list</h1>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>{{ 'appbundle.rapport.bygning' | trans }}</th>
      <th>{{ 'appbundle.rapport.version' | trans }}</th>
      <th>{{ 'appbundle.rapport.datering' | trans }}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
      <tr>
        <td>{{ entity.bygning }}</td>
        <td>{{ entity.version }}</td>
        <td>{% if entity.datering %}{{ entity.datering|date('Y-m-d') }}{% endif %}</td>
        <td>
          <a href="{{ path('rapport_show', { 'id': entity.id }) }}" class="btn btn-primary btn-xs">{{ 'common.show' | trans }}</a>
          <a href="{{ path('rapport_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs">{{ 'common.edit' | trans }}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
