{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1><i class="fa fa-file"></i> Rapport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Version</th>
                <td>{{ entity.version }}</td>
            </tr>
            <tr>
                <th>Bygning</th>
                <td>{{ entity.bygning }}</td>
            </tr>
            <tr>
                <th>Datering</th>
                <td>{{ entity.datering | date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Tiltag:</h2>

    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            {% for key, t in entity.tiltag %}
            <li role="presentation" {% if key == 0 %} class="active" {% endif %}><a href="#tiltag{{ key }}" aria-controls="home" role="tab" data-toggle="tab">{{ key + 1 }}. {{ t.title }}</a></li>
            {% endfor %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            {% for key, t in entity.tiltag %}
            <div role="tabpanel" class="tab-pane {% if key == 0 %}active{% endif %}" id="tiltag{{ key }}">
                <p>{{ key }} - {{ t.title }}</p>
                <p>
                    <a href="{{ path('tiltag_show', { 'id': t.id }) }}" class="btn btn-default">
                        Show
                    </a>
                </p>
            </div>
            {% endfor %}
        </div>

    </div>

    <hr>


        <a href="{{ path('rapport') }}" class="btn btn-default">
            <i class="fa fa-arrow-left"></i> Back to the list
        </a>

        <a href="{{ path('rapport_edit', { 'id': entity.id }) }}"  class="btn btn-default">
            Edit
        </a>

    {{ form(delete_form) }}

{% endblock %}
