{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <h1>{{ icon('file') }} {{ 'rapporter.labels.singular' | trans }}</h1>

  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tbody>
        <tr>
          <th>{{ 'appbundle.rapport.version' | trans }}</th>
          <td>{{ entity.version }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.bygning' | trans }}</th>
          <td>{{ entity.bygning }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.datering' | trans }}</th>
          <td>{{ entity.datering | date('Y-m-d H:i:s') }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table">
        <tbody>
        <tr>
          <th>{{ 'appbundle.rapport.BaselineVarmeGUF' | trans }}</th>
          <td>{{ entity.BaselineVarmeGUF }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.BaselineVarmeGAF' | trans }}</th>
          <td>{{ entity.BaselineVarmeGAF }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.varmetotal' | trans }}</th>
          <td>{{ entity.totalvarme }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h2>Tiltag:</h2>

  <div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      {% for key, t in entity.tiltag %}
        <li role="presentation" {% if key == 0 %} class="active" {% endif %}><a href="#tiltag{{ key }}" aria-controls="home" role="tab" data-toggle="tab">{{ key + 1 }}. {{ t.title }}</a></li>
      {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      {% for key, t in entity.tiltag %}
        <div role="tabpanel" class="tab-pane {% if key == 0 %}active{% endif %}" id="tiltag{{ key }}">
          <h3>{{ t.title }}</h3>
          {{ include ('AppBundle:Tiltag:show-include.html.twig', {entity: t}, with_context = false) }}
          <p>
            <a href="{{ path('tiltag_show', { 'id': t.id }) }}" class="btn btn-default">
              {{ 'rapporter.labels.detailark' | trans }}
            </a>
          </p>
        </div>
      {% endfor %}
    </div>

  </div>

  <hr>

  {% if is_missing_tiltag_type(entity.tiltag, 'pumpetiltag') %}
    <form method="POST" action="{{ path('tiltag_create', { 'id': entity.id, 'type': 'pumpe' }) }}" class="inline-block">
      <button type="submit" class="btn btn-default">{{ icon('plus') }} Tilføj Pumpeudskiftninger</button>
    </form>
  {% endif %}


  {% if is_missing_tiltag_type(entity.tiltag, 'pumpetiltag') %}
    <form method="POST" action="{{ path('tiltag_create', { 'id': entity.id, 'type': 'isolering' }) }}" class="inline-block">
      <button type="submit" class="btn btn-default">{{ icon('plus') }} {{ 'rapporter.strings.teknisk_isolering' | trans }}</button>
    </form>
  {% endif %}

  {% if is_missing_tiltag_type(entity.tiltag, 'belysningstiltag') %}
    <form method="POST" action="{{ path('tiltag_create', { 'id': entity.id, 'type': 'belysning' }) }}" class="inline-block">
      <button type="submit" class="btn btn-default">{{ icon('plus') }} {{ 'rapporter.strings.belysningstiltag' | trans }}</button>
    </form>
  {% endif %}

  <form method="POST" action="{{ path('tiltag_create', { 'id': entity.id, 'type': 'special' }) }}" class="inline-block">
    <button type="submit" class="btn btn-default">{{ icon('plus') }} Tilføj specialtiltag</button>
  </form>

  <hr>

  <a href="{{ path('rapport_edit', { 'id': entity.id }) }}"  class="btn btn-default">
    {{ 'common.edit' | trans }}
  </a>

{% endblock %}
