{% extends 'AppBundle::pdf.html.twig' %}

{% block body -%}
  <!-- Rapport/showPdf2Cover.html.twig -->
  <div class="page-break-after">
    <div class="portrait">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      {% if rapport.bygning.virksomhed.name %}
        <h1 class="pdf-enlarged">
          {{ rapport.bygning.virksomhed.name }}
        </h1>
      {% endif %}
      <h1>
        {{ rapport.bygning.navn }}
      </h1>

      {% if typenavn %}
        <h2>{{ typenavn }}</h2>
      {% endif %}

      <br><br>

      <p>{{ 'common.genereted'| trans }}: {{ 'now' | date }}</p>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      {% if rapport.bygning.virksomhed.name is empty %}
        <br><br><br><br><br>
      {% endif %}

      <div class="text-right">
        <img src="{{ absolute_url(asset('img/seas-nve-logo-pdf.png')) }}" height="60">
      </div>
    </div>
  </div>
{% endblock %}
