{% extends 'AppBundle::pdf.html.twig' %}

{% block body -%}

  <div class="portrait">

    {# ##### Tilvalgte Tiltag ####### #}

    <div class="row">
      <div class="col-xs-12">
        <h4>Tilvalgte tiltag</h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Energibesparelser</h3></div>

      <table class="table table-condensed results">
        <tbody>
        <tr>
          <th>{{ 'appbundle.rapport.besparelseEl' | trans }}</th>
          <td class="text-right">{{ rapport.besparelseEl | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.besparelseEl.unit' | trans }}</td>
        </tr>
        <tr class="no-border">
          <th>{{ 'appbundle.rapport.besparelseVarme' | trans }}</th>
          <td class="text-right">{{ rapport.besparelseVarme | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.besparelseVarme.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.besparelseAarEtPdf' | trans }}</th>
          <td class="text-right">{{ rapport.besparelseAarEt | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.besparelseAarEtPdf.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.besparelseCO2' | trans }}</th>
          <td class="text-right">{{ rapport.besparelseCO2 | number_format }}</td>
          <td>{{ 'appbundle.rapport.besparelseCO2.unit' | trans }}</td>
        </tr>
        <tr class="no-border">
          <th>{{ 'appbundle.rapport.besparelseCO2relative' | trans }}</th>
          <td class="text-right">{{ rapport.co2BesparelseSamletFaktor | format_percent_nounit }}</td>
          <td>{{ 'appbundle.rapport.besparelseCO2relative.unit' | trans }}</td>
        </tr>
        </tbody>
      </table>

    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Økonomi</h3></div>

      <table class="table table-condensed results">
        <tbody>
        <tr>
          <th>{{ 'appbundle.rapport.totalEntreprisesum' | trans }}</th>
          <td class="text-right">{{ rapport.anlaegsinvestering | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.totalEntreprisesum.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.investeringEksFaellesomkostninger' | trans }}</th>
          <td class="text-right">{{ rapport.investeringEksFaellesomkostninger | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.investeringEksFaellesomkostninger.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.oevrigeOmkostninger' | trans }}</th>
          <td class="text-right"></td>
          <td></td>
        </tr>
        <tr>
          <th class="indent">- {{ 'appbundle.rapport.energiscreening' | trans }}</th>
          <td class="text-right">{{ rapport.energiscreening | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.energiscreening.unit' | trans }}</td>
        </tr>
        <tr>
          <th class="indent">- {{ 'appbundle.rapport.mtmFaellesomkostninger' | trans }}</th>
          <td class="text-right">{{ rapport.mtmFaellesomkostninger | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.mtmFaellesomkostninger.unit' | trans }}</td>
        </tr>
        <tr>
          <th class="indent">- {{ 'appbundle.rapport.implementering' | trans }}</th>
          <td class="text-right">{{ rapport.implementering | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.implementering.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.sumOevrige' | trans }}</th>
          <td class="text-right">{{ rapport.tilvalgtSum | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.sumOevrige.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.genopretningsandel' | trans }}</th>
          <td class="text-right">{{ rapport.genopretning | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.genopretningsandel.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.genopretningForImplementeringsomkostninger' | trans }}</th>
          <td class="text-right">{{ rapport.genopretningForImplementeringsomkostninger | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.genopretningForImplementeringsomkostninger.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.modernisering' | trans }}</th>
          <td class="text-right">{{ rapport.modernisering | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.modernisering.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.nutidsvaerdi' | trans }}</th>
          <td class="text-right">{{ rapport.nutidsvaerdiSetOver15AarKr | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.nutidsvaerdi.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.internRenteInklFaellesomkostninger' | trans }}</th>
          <td class="text-right">
            {% if rapport.internRenteInklFaellesomkostninger < 100 %}
              {{ rapport.internRenteInklFaellesomkostninger | format_percent_nounit }}
            {% else %}
              --
            {% endif %}
          </td>
          <td>{{ 'appbundle.rapport.internRenteInklFaellesomkostninger.unit' | trans }}</td>
        </tr>
        </tbody>
      </table>

    </div>

    {# ##### Fravalgte Tiltag ####### #}

    <div class="row">
      <div class="col-xs-12">
        <h4>Fravalgte tiltag</h4>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Energi- og D & V - besparelse</h3></div>

      <table class="table table-condensed results">
        <tbody>
        <tr>
          <th>{{ 'appbundle.rapport.besparelseEl' | trans }}</th>
          <td class="text-right">{{ rapport.fravalgtBesparelseEl | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.besparelseEl.unit' | trans }}</td>
        </tr>
        <tr class="no-border">
          <th>{{ 'appbundle.rapport.besparelseVarme' | trans }}</th>
          <td class="text-right">{{ rapport.fravalgtBesparelseVarme | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.besparelseVarme.unit' | trans }}</td>
        </tr>
        <tr class="no-border">
          <th>{{ 'appbundle.rapport.fravalgtBesparelseDriftOgVedligeholdelse' | trans }}</th>
          <td class="text-right">{{ rapport.fravalgtBesparelseDriftOgVedligeholdelse | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.fravalgtBesparelseDriftOgVedligeholdelse.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.besparelseAarEt' | trans }}</th>
          <td class="text-right">{{ rapport.fravalgtBesparelseAarEt | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.besparelseAarEt.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.besparelseCO2' | trans }}</th>
          <td class="text-right">{{ rapport.fravalgtBesparelseCO2 | number_format }}</td>
          <td>{{ 'appbundle.rapport.besparelseCO2.unit' | trans }}</td>
        </tr>
        <tr class="no-border">
          <th>{{ 'appbundle.rapport.besparelseCO2relative' | trans }}</th>
          <td class="text-right">{{ rapport.fravalgtCo2BesparelseSamletFaktor | format_percent_nounit }}</td>
          <td>{{ 'appbundle.rapport.besparelseCO2relative.unit' | trans }}</td>
        </tr>
        </tbody>
      </table>

    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Økonomi</h3></div>

      <table class="table table-condensed results">
        <tbody>
        <tr>
          <th>{{ 'appbundle.rapport.investeringEkslFaelles' | trans }}</th>
          <td class="text-right">{{ rapport.fravalgtInvesteringEksFaellesomkostninger | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.investeringEkslFaelles.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.implementering' | trans }}</th>
          <td class="text-right">{{ rapport.fravalgtImplementering | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.implementering.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.sum' | trans }}</th>

          <td class="text-right">{{ rapport.fravalgtSum | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.sum.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.nutidsvaerdi' | trans }}</th>
          <td class="text-right">{{ rapport.fravalgtNutidsvaerdiSetOver15AarKr | format_hundreds }}</td>
          <td>{{ 'appbundle.rapport.nutidsvaerdi.unit' | trans }}</td>
        </tr>
        </tbody>
      </table>

    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4>Ordforklaring</h4>

        <p>
          <em>Nutidsværdi</em><br>
          Beløbet er den "nutidige værdi" af de kommende indtægter fra energibesparelsen samt udgifterne til service mv.
          i 15 år, hvor der er taget hensyn til inflation, energiprisstigninger, renteudgifter til
          lånoptagning, reinvesteringer samt tiltagenes eventuelle restværdi i år 15.<br>
          En positiv nutidsværdi beskriver dermed den totale gevinst ved en investering, set over 15 år, mens en negativ
          nutidsværdi viser den
          totale udgift set over 15 år.
        </p>

        <p><em>Øvrige omkostninger</em><br>
          Udover investeringen er der indregnet øvrige omkostninger til:
        <ul>
          <li>Energiscreening, som er udgiften til Energirådgiver for at gennemgå bygningen samt beskrive og beregne
            tiltagene i tiltagslisten.
          </li>
          <li>MTM fællesudgifter, som bl.a. omfatter udgifter til bl.a. energiledelse, bygherrerådgivning og Aa+
            sekretariatet
          </li>
          <li>Implementeringsomkostninger, som omfatter bl.a. projektering og byggeledelse.</li>
        </ul>
        </p>

        <p><em>Forventet timeforbrug for lokalpersonalet</em><br>
          I forbindelse med gennemførslen af projektet forventes der et øget timeforbrug for lokalpersonalet direkte
          relateret til projektet, bl.a. i forbindelse med møder,
          kordinering, energiledelse og uddannelse.
        </p>

      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h3>2. Samtidighed</h3>

        <p>
          Samtidighed er en faktor der indregnes i den totale sum af varmebesparelser for de energisparetiltag, der er
          tilvalgt for bygningen. Faktoren regnes ind, da forskellige varmebesparelser ofte har indflydelse på
          hinanden. Eksempelvis skal energibesparelsen ved natsænkning (sænkning af rumtemperaturen udenfor brugstiden)
          reduceres, såfremt der efterisoleres samtidigt. <br>
          De enkelte detailark indregner denne samtidighed på SUM-niveau.
        </p>
      </div>
    </div>

    <div class="panel panel-default">

      <table class="table table-condensed results">
        <tbody>
        <tr>
          <th>{{ 'appbundle.rapport.samtidighedsfaktor' | trans }}</th>
          <td class="text-right">{{ rapport.faktorPaaVarmebesparelse | number_format }}</td>
          <td></td>
        </tr>
        </tbody>
      </table>

    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3>3. Baseline</h3>

        <p>
          Baseline er det energiforbrug som energibesparelserne er regnet på baggrund af.<br>
          Baseline fastlægges med udgangspunkt i ejendommens seneste 3 års energiforbrug. <br>
          Energiforbruget korrigeres for ændringer i ejendommen, der er under 1 år gamle og dermed ikke er slået fuldt
          igennem i nyeste årsopgørelse fra forsyningsselskaberne. Eksempelvis korrigeres der for længere
          åbningstid, da det medfører længere brugstid på belysning mv.
        </p>

        <p>
          Korrektionerne har energirådgiver fastlagt ud fra interview af det lokale personale og ved
          bygningsgennemgangen. Korrektionerne er angivet i dokument 3, afsnit 1.1 og 1.2
        </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Ejendommens baseline inkl. korrektioner er fastlagt til
          følgende:</h3></div>

      <table class="table table-condensed results">
        <tbody>
        <tr>
          <th>{{ 'appbundle.rapport.BaselineEl' | trans }}</th>
          <td class="text-right">{{ rapport.BaselineEl | format_zeros }}</td>
          <td>{{ 'appbundle.rapport.BaselineEl.unit' | trans }}</td>
        </tr>
        <tr class="no-border">
          <th>{{ 'appbundle.rapport.BaselineVarme' | trans }}</th>
          <td class="text-right">{{ rapport.BaselineVarme | format_zeros }}</td>
          <td>{{ 'appbundle.rapport.BaselineVarme.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.rapport.BaselineStrafAfkoeling' | trans }}</th>
          <td class="text-right">{{ rapport.BaselineStrafAfkoeling | format_zeros }}</td>
          <td>{{ 'appbundle.rapport.BaselineStrafAfkoeling.unit' | trans }}</td>
        </tr>
        </tbody>
      </table>

    </div>

    <div class="row">
      <div class="col-xs-12">
        <p>Varmeforbruget er angivet for et "normalår". Varmeforbruget i specielt varme eller kolde år er dermed
          omregnet til et fast defineret normalår, hvilket gør forbrugene i de forskellige år sammenlignelige.</p>

        <p>Strafafkøling er en strafafgift, som fjernvarmeforsyningsselskabet pålægger fjernvarmeforsynede bygninger,
          hvor afkølingen af fjernvarmevandet ikke lever op til forsyningsselskabets krav.</p>
      </div>
    </div>


    <div class="row page-break-before">
      <div class="col-xs-12">
        <h3>4. Tiltagsliste</h3>
      </div>
    </div>

    {% if rapport.tiltag is not empty %}
      {% include 'AppBundle::Rapport/_valgteTiltagTablePdf2.html.twig' with {'tiltag': rapport.tiltag, 'pdf': true, 'type': 'tilvalg' } %}
    {% endif %}

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h3>5. Tilnærmet likviditetsoverblik</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p>Den følgende graf viser en tilnærmet likviditetsoversigt for tilvalgte tiltag fra forrige skema.<br>
          Vandret vises tidsperioden i år, lodret vises den årlige ydelse til lån, og den årlige besparelse.<br>
          Grafen viser forløbet såfremt der optages et 15-årigt lån til 3 % p.a. til finansering af udførslen af de
          tilvalgte tiltag, hvorfor ydelsen til lånet
          falder til 0 kr. i år 15.</p>

        <p>Der indregnes besparelser fra energisparetiltagene indenfor deres forventede levetid. Når den forventede
          levetid for disse nye energisparetiltag er
          udløbet, indregnes der hverken energibesparelser eller udgifter til reinvesteringer i nye installationer og
          bygningsdele fremadrettet.<br>
          Der indregnes besparelser på drift og vedligehold (D&V), såfremt den pågældende magistratsafdeling har
          ansvaret og dermed budgettet herfor.<br>
          Dog indregnes besparelser i form af mindre timeforbrug til drift ikke.<br>
          Der indregnes også eventuelle nye udgifter til D&V i form af f.eks. nye serviceaftaler mv. som i nogle
          tilfælde kræves til vedligehold af de nye installationer mv.<br>
          Samlet set vurderes grafen derfor at være et konservativt bud på en oversigt over totaløkonomien i
          energisparetiltagene.
        </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h3
            class="panel-title">{{ icon('line-chart') }} {{ 'appbundle.rapport.likviditetsoversigt' | trans }}</h3>
      </div>

      <div class="panel-body">
        {% include 'AppBundle::_includes/finansiering_graf_pdf.html.twig' with {'entity': rapport} %}


        {{ 'appbundle.rapport.laanLoebetid' | trans }}:
        {{ rapport.laanLoebetid }} {{ 'appbundle.rapport.laanLoebetid.unit' | trans }}


      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p>I det følgende vises ovenstående værdier i tabelform for de første 15 år, svarende til lånets løbetid.</p>
      </div>
    </div>

    <div class="panel panel-default">
      {% include 'AppBundle::_includes/finansiering_likviditetsoverblik_pdf.html.twig' with {'entity': rapport} %}
    </div>

  </div>

{% endblock %}
