{% extends 'AppBundle::pdf.html.twig' %}

{% block body -%}

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <h1 class="pdf-enlarged">
    {% if rapport.bygning.virksomhed.navn %}
      {{ rapport.bygning.virksomhed.navn }}
      <br>
    {% endif %}

    {{ rapport.bygning.navn }}
  </h1>

  {% if typenavn %}
    <h2>{{ typenavn }}</h2>
  {% endif %}

  <br><br>

  <p>{{ 'common.genereted'| trans }}: {{ 'now' | date }}</p>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  {% if not rapport.bygning.virksomhed.navn %}
    <br><br><br><br><br>
  {% endif %}

  <div class="text-right">
    <img src="{{ absolute_url(asset('img/seas-nve-logo-pdf.png')) }}" height="60">
  </div>

{% endblock %}
