{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <h1>PumpeTiltag list</h1>

  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Id</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
      <tr>
        <td><a href="{{ path('pumpetiltag_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
        <td>
          <ul>
            <li>
              <a href="{{ path('pumpetiltag_show', { 'id': entity.id }) }}">{{ 'common.show' | trans }}</a>
            </li>
            <li>
              <a href="{{ path('pumpetiltag_edit', { 'id': entity.id }) }}">{{ 'common.edit' | trans }}</a>
            </li>
          </ul>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
