{% extends 'AppBundle:Tiltag:show.html.twig' %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th>{{ 'appbundle.tiltag.tilvalgt' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.pumpeID' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.forsyningsomraade' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.placering' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.applikation' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.isoleringskappe' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.bfaktor' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.noter' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.eksisterendeDrifttid' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.nyDrifttid' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.prisfaktor' | trans }}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for detail in entity.details %}
          <tr>
            <td>{{ detail.tilvalgt | b2icon }}</td>
            <td>{{ detail.pumpeID }}</td>
            <td>{{ detail.forsyningsomraade }}</td>
            <td>{{ detail.placering }}</td>
            <td>{{ detail.applikation }}</td>
            <td>{{ detail.isoleringskappe | b2icon }}</td>
            <td>{{ detail.bfaktor }}</td>
            <td>{{ detail.noter }}</td>
            <td>{{ detail.eksisterendeDrifttid }}</td>
            <td>{{ detail.nyDrifttid }}</td>
            <td>{{ detail.prisfaktor }}</td>
            <td>
              <a href="{{ path('tiltag_detail_show', { 'id': detail.id }) }}" class="btn btn-primary btn-xs">{{ 'common.show' | trans }}</a>
              <a href="{{ path('tiltag_detail_edit', { 'id': detail.id }) }}" class="btn btn-default btn-xs">{{ 'common.edit' | trans }}</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% form_theme create_detail_form 'AppBundle:Form:modal-form.html.twig' %}
  {{ form(create_detail_form) }}



{% endblock %}
