{% extends 'AppBundle:Tiltag:show-parent.html.twig' %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th>{{ 'appbundle.pumpetiltag.tilvalgt' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.pumpeID' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.forsyningsomraade' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.placering' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.applikation' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.isoleringskappe' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.bfaktor' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.noter' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.eksisterendeDrifttid' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.nyDrifttid' | trans }}</th>
          <th>{{ 'appbundle.pumpetiltag.prisfaktor' | trans }}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for detail in entity.pumpedetails %}
          <tr>
            <td>{{ detail.tilvalgt }}</td>
            <td>{{ detail.pumpeID }}</td>
            <td>{{ detail.forsyningsomraade }}</td>
            <td>{{ detail.placering }}</td>
            <td>{{ detail.applikation }}</td>
            <td>{{ detail.isoleringskappe }}</td>
            <td>{{ detail.bfaktor }}</td>
            <td>{{ detail.noter }}</td>
            <td>{{ detail.eksisterendeDrifttid }}</td>
            <td>{{ detail.nyDrifttid }}</td>
            <td>{{ detail.prisfaktor }}</td>
            <td>
              <a href="{{ path('pumpedetail_show', { 'id': detail.id }) }}" class="btn btn-primary btn-xs">{{ 'common.show' | trans }}</a>
              <a href="{{ path('pumpedetail_edit', { 'id': detail.id }) }}" class="btn btn-default btn-xs">{{ 'common.edit' | trans }}</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-success" href="#">{{ icon('plus') }} {{ 'pumper.strings.pluspumpe' | trans }}</a>
    </div>
  </div>


{% endblock %}
