{% extends 'AppBundle:Tiltag:show.html.twig' %}
{% from 'AppBundle:_includes:calculation_warnings.html.twig' import renderWarnings as renderCalculationWarnings %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row details-overview">
    <div class="col-md-12">

      {% if is_granted('TILTAG_EDIT', entity) %}
        {{ form_start(edit_form) }}
      {% endif %}

      <div id="list-details">
        <table class="table table-condensed table-header-rotated">
          <thead>
            <tr>
              {{ helper.header() }}
              {{ helper.header('appbundle.tiltag.tilvalgt') }}
              {{ helper.header('appbundle.pumpetiltagdetail.noter') }}
              {{ helper.header('appbundle.pumpetiltagdetail.pumpeID') }}
              {{ helper.header('appbundle.pumpetiltagdetail.forsyningsomraade') }}
              {{ helper.header('appbundle.pumpetiltagdetail.placering') }}
              {{ helper.header('appbundle.pumpetiltagdetail.applikation') }}
              {{ helper.header('appbundle.pumpetiltagdetail.isoleringskappe') }}
              {{ helper.header('appbundle.pumpetiltagdetail.nyttiggjortVarme') }}
              {{ helper.header('appbundle.pumpetiltagdetail.eksisterendePumpe') }}
              {{ helper.header('appbundle.pumpetiltagdetail.eksisterendeDrifttid') }}
              {{ helper.header('appbundle.pumpetiltagdetail.nyPumpe') }}
              {{ helper.header('appbundle.pumpetiltagdetail.nytByggemaal') }}
              {{ helper.header('appbundle.pumpetiltagdetail.nyTilslutning') }}
              {{ helper.header('appbundle.pumpetiltagdetail.nytVVSnr') }}
              {{ helper.header('appbundle.pumpetiltagdetail.nyDrifttid') }}
              {{ helper.header('appbundle.pumpetiltagdetail.prisfaktor') }}
              {{ helper.header('appbundle.pumpetiltagdetail.pristillaeg') }}
              {{ helper.header('appbundle.pumpetiltagdetail.samletInvesteringInklPristillaeg') }}
              {{ helper.header('appbundle.pumpetiltagdetail.elforbrugVedNyeDriftstidKWhAar') }}
              {{ helper.header('appbundle.pumpetiltagdetail.elbespKWhAar') }}
              {{ helper.header('appbundle.pumpetiltagdetail.varmebespIsokappeKWh') }}
              {{ helper.header('appbundle.pumpetiltagdetail.simpelTilbagebetalingstidAar') }}
              {{ helper.header('appbundle.pumpetiltagdetail.nutidsvaerdiSetOver15AarKr') }}
              {{ helper.header('appbundle.pumpetiltagdetail.kwhBesparelseElFraVaerket') }}
              {{ helper.header('appbundle.pumpetiltagdetail.kwhBesparelseVarmeFraVaerket') }}
              {{ helper.header() }}
            </tr>
            <tr>
              {{ helper.header_unit() }}
              {{ helper.header_unit('appbundle.tiltag.tilvalgt', 'tilvalgt', null, 'value') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.noter', 'noter') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.pumpeID', 'pumpeID') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.forsyningsomraade', 'forsyningsomraade') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.placering', 'placering') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.applikation', 'applikation') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.isoleringskappe', 'isoleringskappe') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.nyttiggjortVarme', 'nyttiggjortVarme', 'number') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.eksisterendePumpe', 'eksisterendePumpe') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.eksisterendeDrifttid', 'eksisterendeDrifttid', 'number') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.nyPumpe', 'nyPumpe') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.nytByggemaal', 'nytByggemaal') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.nyTilslutning', 'nyTilslutning') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.nytVVSnr', 'nytVVSnr') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.nyDrifttid', 'nyDrifttid', 'number') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.prisfaktor', 'prisfaktor', 'number') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.pristillaeg', 'pristillaeg', 'number') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.samletInvesteringInklPristillaeg', 'samletInvesteringInklPristillaeg', 'number') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.elforbrugVedNyeDriftstidKWhAar', 'elforbrugVedNyeDriftstidKWhAar', 'number') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.elbespKWhAar', 'elbespKWhAar', 'number') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.varmebespIsokappeKWh', 'varmebespIsokappeKWh', 'number') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.simpelTilbagebetalingstidAar', 'simpelTilbagebetalingstidAar', 'number') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.nutidsvaerdiSetOver15AarKr', 'nutidsvaerdiSetOver15AarKr', 'number') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.kwhBesparelseElFraVaerket', 'kwhBesparelseElFraVaerket', 'number') }}
              {{ helper.header_unit('appbundle.pumpetiltagdetail.kwhBesparelseVarmeFraVaerket', 'kwhBesparelseVarmeFraVaerket', 'number') }}
              {{ helper.header_unit() }}
            </tr>
          </thead>

          <tbody class="filter">
            <tr>
              {{ helper.header_filter() }}
              {{ helper.header_filter() }}
              {{ helper.header_filter('noter') }}
              {{ helper.header_filter('pumpeID') }}
              {{ helper.header_filter('forsyningsomraade') }}
              {{ helper.header_filter('placering') }}
              {{ helper.header_filter('applikation') }}
              {{ helper.header_filter('isoleringskappe') }}
              {{ helper.header_filter('nyttiggjortVarme', 'number') }}
              {{ helper.header_filter('eksisterendePumpe') }}
              {{ helper.header_filter('eksisterendeDrifttid', 'number') }}
              {{ helper.header_filter('nyPumpe') }}
              {{ helper.header_filter('nytByggemaal') }}
              {{ helper.header_filter('nyTilslutning') }}
              {{ helper.header_filter('nytVVSnr') }}
              {{ helper.header_filter('nyDrifttid', 'number') }}
              {{ helper.header_filter('prisfaktor', 'number') }}
              {{ helper.header_filter('pristillaeg', 'number') }}
              {{ helper.header_filter('samletInvesteringInklPristillaeg', 'number') }}
              {{ helper.header_filter('elforbrugVedNyeDriftstidKWhAar', 'number') }}
              {{ helper.header_filter('elbespKWhAar', 'number') }}
              {{ helper.header_filter('varmebespIsokappeKWh', 'number') }}
              {{ helper.header_filter('simpelTilbagebetalingstidAar', 'number') }}
              {{ helper.header_filter('nutidsvaerdiSetOver15AarKr', 'number') }}
              {{ helper.header_filter('kwhBesparelseElFraVaerket', 'number') }}
              {{ helper.header_filter('kwhBesparelseVarmeFraVaerket', 'number') }}
              {{ helper.header_filter() }}
            </tr>
          </tbody>

          <tbody class="list">
            {% for form_detail in edit_form.details %}
              {% set detail = details[form_detail.vars['value'].id] %}
              <tr id="{{ detail.id }}">
                <td>
                  {{ block('tiltag_detail_edit') }}
                </td>
                <td class="tilvalgt" data-value="{{ detail.tilvalgt }}">
                  {{ block('tiltag_detail_tilvalgt') }}
                </td>
                <td class="noter">{{ detail.noter }}</td>
                <td class="pumpeID">{{ detail.pumpeID }}</td>
                <td class="forsyningsomraade">{{ detail.forsyningsomraade }}</td>
                <td class="placering">{{ detail.placering }}</td>
                <td class="applikation">{{ detail.applikation }}</td>
                <td class="isoleringskappe">{{ detail.isoleringskappe | b2icon }}</td>
                <td class="nyttiggjortVarme number">
                  {{ (detail.nyttiggjortVarme is null ? detail.bFaktor : detail.nyttiggjortVarme.faktor) | format_decimal }}
                </td>
								<td class="eksisterendePumpe">{{ detail.pumpe }}</td>
                <td class="eksisterendeDrifttid number">{{ detail.eksisterendeDrifttid | format_decimal }}</td>
                <td class="nyPumpe">{{ detail.pumpe ? detail.pumpe.nyPumpe : '' }}</td>
                <td class="nytByggemaal">{{ detail.pumpe ? detail.pumpe.nyByggemaal : '' }}</td>
                <td class="nyTilslutning">{{ detail.pumpe ? detail.pumpe.nyTilslutning : '' }}</td>
                <td class="nytVVSnr">{{ detail.pumpe ? detail.pumpe.VvsNr : '' }}</td>
                <td class="nyDrifttid number">{{ detail.nyDrifttid | format_decimal }}</td>
                <td class="prisfaktor number">{{ detail.prisfaktor | format_decimal }}</td>
                <td class="pristillaeg number">{{ detail.pristillaeg | format_amount }}</td>
                <td class="samletInvesteringInklPristillaeg number">{{ detail.samletInvesteringInklPristillaeg | format_amount }}</td>
                <td class="elforbrugVedNyeDriftstidKWhAar number">{{ detail.elforbrugVedNyeDriftstidKWhAar | format_decimal }}</td>
                <td class="elbespKWhAar number">{{ detail.elbespKWhAar | format_decimal }}</td>
                <td class="varmebespIsokappeKWh number">{{ detail.varmebespIsokappeKWh | format_decimal }}</td>
                <td class="simpelTilbagebetalingstidAar number">{{ detail.simpelTilbagebetalingstidAar | format_decimal }}</td>
                <td class="nutidsvaerdiSetOver15AarKr number">{{ detail.nutidsvaerdiSetOver15AarKr | format_amount }}</td>
                <td class="kwhBesparelseElFraVaerket number">{{ detail.kwhBesparelseElFraVaerket | format_decimal }}</td>
                <td class="kwhBesparelseVarmeFraVaerket number">{{ detail.kwhBesparelseVarmeFraVaerket | format_decimal }}</td>
                <td class="last"></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {{ block('editform_button_row') }}

    </div>
  </div>

{% endblock %}
