{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  {% if calculation_changes %}
    <div class="alert alert-warning">
      <p>{{ 'Calculations have changed' | trans }}</p>
      {% for message in calculation_changes %}
        <p>
          {{ message.property | trans }}:
          {{ message.oldValue | format_decimal }} → {{ message.newValue | format_decimal }}
          ({{ message.oldValue }} → {{ message.newValue }})
        </p>
      {% endfor %}
    </div>
  {% endif %}

  <div class="row heading">
    <div class="col-md-8">
      <h1>{{ 'belysningtiltagdetail.actions.edit' | trans }}</h1>
    </div>
    <div class="col-md-4 text-right">
      {% if is_granted('ROLE_RAPPORT_EDIT') %}
        {{ form(delete_form) }}
      {% endif %}
    </div>
  </div>

  {{ form_start(edit_form, { 'style': 'horizontal' }) }}
  {{ form_row(edit_form.tilvalgt) }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'common.generelt' | trans }}</h3>
    </div>
    <div class="panel-body">

    </div>
  </div>
  {{ form_rest(edit_form) }}
  {{ form_end(edit_form) }}


{% endblock %}
