<table class="table table-condensed table-header-rotated">
  <thead>
  <tr>
    <th>{{ 'appbundle.tiltag.tilvalgt' | trans }}</th>
    <th>{{ 'appbundle.specialtiltag.kommentar' | trans }}</th>
    <th>{{ 'appbundle.specialtiltag.filepath' | trans }}</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for detail in entity.details %}
    <tr>
      <td class="{{ detail.tilvalgt | b2class }}">{{ detail.tilvalgt | b2icon }}</td>
      <td>{{ detail.kommentar }}</td>
      <td>{% if not detail.filepath is empty %}<a target="_blank" href="{{ asset(detail.filepath) }}">{{ detail.filepath }}</a>{% endif %}</td>
      <td></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
