<table class="table table-condensed">
  <thead>
  <tr>
    <th>{{ 'appbundle.specialtiltag.kommentar' | trans }}</th>
    <th>{{ 'appbundle.specialtiltag.filepath' | trans }}</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for detail in entity.tilvalgteDetails %}
    <tr>
      <td>{{ detail.kommentar }}</td>
      <td>{% if not detail.filepath is empty %}<a target="_blank" href="{{ asset(detail.filepath) }}">{{ detail.filepath }}</a>{% endif %}</td>
      <td></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
