{% extends 'AppBundle:Tiltag:show-parent.html.twig' %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th>{{ 'appbundle.tiltag.tilvalgt' | trans }}</th>
          <th>{{ 'appbundle.specialtiltag.kommentar' | trans }}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for detail in entity.details %}
          <tr>
            <td>{{ detail.tilvalgt | b2icon }}</td>
            <td>{{ detail.kommentar }}</td>
            <td>
              <a href="{{ path('tiltag_detail_show', { 'id': detail.id }) }}" class="btn btn-primary btn-xs">{{ 'common.show' | trans }}</a>
              <a href="{{ path('tiltag_detail_edit', { 'id': detail.id }) }}" class="btn btn-default btn-xs">{{ 'common.edit' | trans }}</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">{{ icon('plus') }} {{ 'special.strings.add.special' | trans }}</button>
    </div>
  </div>

  <!-- Modal start -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{ 'special.strings.add.special' | trans }}</h4>
        </div>
        <div class="modal-body">
          {{ form(create_detail_form) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal end -->



{% endblock %}
