{% extends 'AppBundle:Tiltag:show.html.twig' %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-header-rotated">
        <thead>
        <tr>
          <th></th>
          <th>{{ 'appbundle.tiltag.tilvalgt' | trans }}</th>
          <th>{{ 'appbundle.specialtiltag.kommentar' | trans }}</th>
          <th>{{ 'appbundle.specialtiltag.filepath' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for detail in entity.details %}
          <tr>
            <td>
              {{ block('special_tiltag_detail_edit') }}
            </td>
            <td>{{ detail.tilvalgt | b2icon }}</td>
            <td>{{ detail.kommentar }}</td>
            <td>{% if not detail.filepath is empty %}<a target="_blank" href="{{ asset(detail.filepath) }}">{{ detail.filepath }}</a>{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
