{% extends 'AppBundle:Tiltag:show-parent.html.twig' %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th>{{ 'appbundle.tiltag.tilvalgt' | trans }}</th>
          <th>{{ 'appbundle.specialtiltag.kommentar' | trans }}</th>
          <th>{{ 'appbundle.specialtiltag.filepath' | trans }}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for detail in entity.details %}
          <tr>
            <td>{{ detail.tilvalgt | b2icon }}</td>
            <td>{{ detail.kommentar }}</td>
            <td>{% if not detail.filepath is empty %}<a target="_blank" href="{{ asset(detail.filepath) }}">{{ detail.filepath }}</a>{% endif %}</td>
            <td>
              <a href="{{ path('tiltag_detail_show', { 'id': detail.id }) }}" class="btn btn-primary btn-xs">{{ 'common.show' | trans }}</a>
              <a href="{{ path('tiltag_detail_edit', { 'id': detail.id }) }}" class="btn btn-default btn-xs">{{ 'common.edit' | trans }}</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% form_theme create_detail_form 'AppBundle:Form:modal-form.html.twig' %}
  {{ form(create_detail_form) }}

{% endblock %}
