{% extends 'AppBundle:Tiltag:show.html.twig' %}
{% from 'AppBundle:_includes:calculation_warnings.html.twig' import renderWarnings as renderCalculationWarnings %}

{% set add_action = 'specialtiltagdetail.actions.add' %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row details-overview">
    <div class="col-md-12">
      <table class="table table-condensed table-header-rotated">
        <thead>
        <tr>
          <th></th>
          <th>{{ 'appbundle.tiltag.tilvalgt' | trans }}</th>
          <th>{{ 'appbundle.specialtiltag.kommentar' | trans }}</th>
          <th>{{ 'appbundle.specialtiltag.filepath' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for detail in entity.details %}
          <tr id="{{ detail.id }}">
            <td>
              {% if is_granted('TILTAG_EDIT', entity) %}
                {{ block('special_tiltag_detail_edit') }}
              {% endif %}
            </td>
            <td>{{ detail.tilvalgt | b2icon }}</td>
            <td>{{ detail.kommentar }}</td>
            <td>{% if not detail.filepath is empty %}<a target="_blank" href="{{ path('tiltag_detail_download', { 'id': detail.id }) }}">{{ detail.filename }}</a>{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
