{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  {% if calculation_changes %}
    <div class="alert alert-warning">
      <p>{{ 'Calculations have changed' | trans }}</p>
      {% for message in calculation_changes %}
        <p>
          {{ message.property | trans }}:
          {{ message.oldValueFormatted }} → {{ message.newValueFormatted }}
          ({{ message.oldValue }} → {{ message.newValue }})
        </p>
      {% endfor %}
    </div>
  {% endif %}

  {% form_theme edit_form 'AppBundle:Form:twocol-form.html.twig' %}
  {{ form(edit_form, { 'style': 'horizontal' }) }}
{% endblock %}
