{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  {% if calculation_changes is defined %}
    {% if calculation_changes %}
      <div class="alert alert-warning">
        <p>{{ 'Calculations have changed' | trans }}</p>
        {% for message in calculation_changes %}
          <p>
            {{ message.property | trans }}:
            {{ message.oldValue | format_decimal }} → {{ message.newValue | format_decimal }}
            ({{ message.oldValue }} → {{ message.newValue }})
          </p>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}

  <div class="row heading">
    <div class="col-md-8">
      {% if heading is defined and heading is not empty %}
        <h1>{{ heading | trans }}</h1>
      {% else %}
        <h1>{{ 'tiltagdetail.actions.edit' | trans }}</h1>
      {% endif %}
    </div>
    <div class="col-md-4 text-right">
      {% if is_granted('ROLE_RAPPORT_EDIT') and delete_form is defined %}
        {{ form(delete_form) }}
      {% endif %}
    </div>
  </div>

  {{ form_start(edit_form, { 'style': '' }) }}
  {{ form_errors(edit_form) }}

  <div class="panel panel-default">
    <div class="panel-body">
      {{ form_row(edit_form.tilvalgt) }}
      {{ form_row(edit_form.ikkeElenaBerettiget) }}
    </div>
  </div>

  {% block edit_form %}

  {% endblock %}

  {{ form_rest(edit_form) }}
  {{ form_end(edit_form) }}

{% endblock %}
