{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  {% if calculation_changes %}
    <div class="alert alert-warning">
      <p>{{ 'Calculations have changed' | trans }}</p>
      {% for message in calculation_changes %}
        <p>
          {{ message.property | trans }}:
          {{ message.oldValue | format_decimal }} → {{ message.newValue | format_decimal }}
          ({{ message.oldValue }} → {{ message.newValue }})
        </p>
      {% endfor %}
    </div>
  {% endif %}

  <div class="row heading">
    <div class="col-md-8">
      <h1>{{ 'tiltagdetail.actions.edit' | trans }}</h1>
    </div>
    <div class="col-md-4 text-right">
      {% if is_granted('ROLE_RAPPORT_EDIT') %}
        {{ form(delete_form) }}
      {% endif %}
    </div>
  </div>

  {% form_theme edit_form 'AppBundle:Form:twocol-form.html.twig' %}
  {{ form(edit_form, { 'style': 'horizontal' }) }}
{% endblock %}
