{% import 'AppBundle::_includes/aaplus.html.twig' as aaplus %}

{{ form_start(edit_form) }}

<div class="row heading">
  <div class="col-md-9">
    <h1>{{ 'baseline.actions.edit' | trans }}</h1>
  </div>
  <div class="col-md-3 text-right">
    {{ form_row(edit_form.save_changed) }}
  </div>

</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div
          class="panel-heading">{{ icon('home') }} {{ 'appbundle.baseline.generelt' | trans }}</div>
      <div class="panel-body">
        {{ form_row(edit_form.bygning) }}
        {{ form_row(edit_form.eloKategori) }}
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div
          class="panel-heading">{{ icon('cube') }} {{ 'appbundle.baseline.opsummering' | trans }}</div>
      <table class="table">
        <tbody>
        <tr>
          <th>{{ 'appbundle.baseline.elBaselineFastsatForEjendom' | trans }}</th>
          <td class="text-right">{{ entity.elBaselineFastsatForEjendom | format_decimal }}</td>
          <td>{{ 'appbundle.baseline.elBaselineFastsatForEjendom.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.baseline.varmeGAFForbrug' | trans }}</th>
          <td class="text-right">{{ entity.varmeGAFForbrug | format_decimal }}</td>
          <td>{{ 'appbundle.baseline.varmeGAFForbrug.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.baseline.varmeGUFForbrug' | trans }}</th>
          <td class="text-right">{{ entity.varmeGUFForbrug | format_decimal }}</td>
          <td>{{ 'appbundle.baseline.varmeGUFForbrug.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.baseline.varmeBaselineFastsatForEjendom' | trans }}</th>
          <td
              class="text-right">{{ entity.varmeBaselineFastsatForEjendom | format_decimal }}</td>
          <td>{{ 'appbundle.baseline.varmeBaselineFastsatForEjendom.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.baseline.varmeStrafafkoelingsafgift' | trans }}</th>
          <td class="text-right">{{ entity.varmeStrafafkoelingsafgift | format_decimal }}</td>
          <td>{{ 'appbundle.baseline.varmeStrafafkoelingsafgift.unit' | trans }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#areal" aria-controls="areal" role="tab" data-toggle="tab">{{ icon('map-o') }} {{ 'appbundle.baseline.areal' | trans }}</a></li>
    <li role="presentation"><a href="#el" aria-controls="el" role="tab" data-toggle="tab">{{ icon('flash') }} {{ 'appbundle.baseline.el' | trans }}</a></li>
    <li role="presentation"><a href="#varme" aria-controls="varme" role="tab" data-toggle="tab">{{ icon('fire') }} {{ 'appbundle.baseline.varme' | trans }}</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Areal -->
    <div role="tabpanel" class="tab-pane active" id="areal">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div
                class="panel-heading">{{ icon('map-o') }} {{ 'appbundle.baseline.arealPrimaer' | trans }}</div>
            <div class="panel-body">
              {{ form_row(edit_form.arealdataPrimaerKilde) }}
              {{ form_row(edit_form.arealdataPrimaerAreal) }}
              {{ form_row(edit_form.arealdataPrimaerNoter) }}
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div
                class="panel-heading">{{ icon('map-o') }} {{ 'appbundle.baseline.arealSekundaer' | trans }}</div>
            <div class="panel-body">
              {{ form_row(edit_form.arealdataSekundaerKilde) }}
              {{ form_row(edit_form.arealdataSekundaerAreal) }}
              {{ form_row(edit_form.arealdataSekundaerNoter) }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div
                class="panel-heading">{{ icon('map-o') }} {{ 'appbundle.baseline.arealGenerelt' | trans }}</div>
            <div class="panel-body">
              {{ form_row(edit_form.arealTilNoegletalsanalyse) }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- El -->
    <div role="tabpanel" class="tab-pane" id="el">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">{{ icon('flash') }} {{ 'appbundle.baseline.elPrimaer' | trans }}</div>
            <div class="panel-body">
              {{ form_row(edit_form.elForbrugsdataPrimaerKilde) }}
              <table class="table">
                <thead>
                <tr>
                  <th></th>
                  <th
                      class="text-center">{{ 'appbundle.baseline.year1' | trans }}</th>
                  <th
                      class="text-center">{{ 'appbundle.baseline.year2' | trans }}</th>
                  <th
                      class="text-center">{{ 'appbundle.baseline.year3' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{ form_label(edit_form.elForbrugsdataPrimaer1Aarstal) }}</td>
                  <td>{{ form_widget(edit_form.elForbrugsdataPrimaer1Aarstal) }}</td>
                  <td>{{ form_widget(edit_form.elForbrugsdataPrimaer2Aarstal) }}</td>
                  <td>{{ form_widget(edit_form.elForbrugsdataPrimaer3Aarstal) }}</td>
                </tr>
                <tr>
                  <td>{{ form_label(edit_form.elForbrugsdataPrimaer1Forbrug) }}</td>
                  <td>{{ form_widget(edit_form.elForbrugsdataPrimaer1Forbrug) }}</td>
                  <td>{{ form_widget(edit_form.elForbrugsdataPrimaer2Forbrug) }}</td>
                  <td>{{ form_widget(edit_form.elForbrugsdataPrimaer3Forbrug) }}</td>
                </tr>
                </tbody>
              </table>
              {{ aaplus.form_row_decimal('appbundle.baseline.elForbrugsdataPrimaerGennemsnit', entity.elForbrugsdataPrimaerGennemsnit, 'appbundle.baseline.elForbrugsdataPrimaerGennemsnit.unit') }}
              {{ aaplus.form_row_decimal('appbundle.baseline.eloElTotalForbrug', entity.eloKategori ? entity.eloKategori.totalElforbrug : null, 'appbundle.baseline.eloElTotalForbrug.unit') }}
              {{ aaplus.form_row_decimal('appbundle.baseline.elForbrugsdataPrimaerNoegetal', entity.elForbrugsdataPrimaerNoegetal, 'appbundle.baseline.elForbrugsdataPrimaerNoegetal.unit') }}
              {{ form_row(edit_form.elForbrugsdataPrimaerNoter) }}
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div
                class="panel-heading">{{ icon('flash') }} {{ 'appbundle.baseline.elSekundaer' | trans }}</div>
            <div class="panel-body">
              {{ form_row(edit_form.elForbrugsdataSekundaerKilde) }}
              <table class="table">
                <thead>
                <tr>
                  <th></th>
                  <th
                      class="text-center">{{ 'appbundle.baseline.year1' | trans }}</th>
                  <th
                      class="text-center">{{ 'appbundle.baseline.year2' | trans }}</th>
                  <th
                      class="text-center">{{ 'appbundle.baseline.year3' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{ form_label(edit_form.elForbrugsdataSekundaer1Aarstal) }}</td>
                  <td>{{ form_widget(edit_form.elForbrugsdataSekundaer1Aarstal) }}</td>
                  <td>{{ form_widget(edit_form.elForbrugsdataSekundaer2Aarstal) }}</td>
                  <td>{{ form_widget(edit_form.elForbrugsdataSekundaer3Aarstal) }}</td>
                </tr>
                <tr>
                  <td>{{ form_label(edit_form.elForbrugsdataSekundaer1Forbrug) }}</td>
                  <td>{{ form_widget(edit_form.elForbrugsdataSekundaer1Forbrug) }}</td>
                  <td>{{ form_widget(edit_form.elForbrugsdataSekundaer2Forbrug) }}</td>
                  <td>{{ form_widget(edit_form.elForbrugsdataSekundaer3Forbrug) }}</td>
                </tr>
                </tbody>
              </table>
              {{ aaplus.form_row_decimal('appbundle.baseline.elForbrugsdataSekundaerGennemsnit', entity.elForbrugsdataSekundaerGennemsnit, 'appbundle.baseline.elForbrugsdataSekundaerGennemsnit.unit') }}
              {{ aaplus.form_row_decimal('appbundle.baseline.eloElTotalForbrug', entity.eloKategori ? entity.eloKategori.totalElforbrug : null, 'appbundle.baseline.eloElTotalForbrug.unit') }}
              {{ aaplus.form_row_decimal('appbundle.baseline.elForbrugsdataSekundaerNoegetal', entity.elForbrugsdataSekundaerNoegetal, 'appbundle.baseline.elForbrugsdataSekundaerNoegetal.unit') }}
              {{ form_row(edit_form.elForbrugsdataSekundaerNoter) }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div
                class="panel-heading">{{ icon('flash') }} {{ 'appbundle.baseline.elGenerelt' | trans }}</div>
            <div class="panel-body">
              {{ form_row(edit_form.elBaselineFastsatForEjendom) }}
              {{ aaplus.form_row_decimal('appbundle.baseline.eloElTotalForbrug', entity.eloKategori ? entity.eloKategori.totalElforbrug : null, 'appbundle.baseline.eloElTotalForbrug.unit') }}
              {{ aaplus.form_row_decimal('appbundle.baseline.elBaselineNoegletalForEjendom', entity.elBaselineNoegletalForEjendom, 'appbundle.baseline.elBaselineNoegletalForEjendom.unit') }}
              {{ form_row(edit_form.elBaselineNoter) }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Varme -->
    <div role="tabpanel" class="tab-pane" id="varme">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div
                class="panel-heading">{{ icon('fire') }} {{ 'appbundle.baseline.varmePrimaer' | trans }}</div>
            <div class="panel-body">
              {{ form_row(edit_form.varmeForbrugsdataPrimaerKilde) }}
              {{ form_row(edit_form.varmeForbrudsdataPrimaerGUFForbrugFastsaettesEfter) }}
              <table class="table">
                <thead>
                <tr>
                  <th></th>
                  <th
                      class="text-center">{{ 'appbundle.baseline.year1' | trans }}</th>
                  <th
                      class="text-center">{{ 'appbundle.baseline.year2' | trans }}</th>
                  <th
                      class="text-center">{{ 'appbundle.baseline.year3' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{ form_label(edit_form.varmeForbrugsdataPrimaer1Aarstal) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataPrimaer1Aarstal) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataPrimaer2Aarstal) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataPrimaer3Aarstal) }}</td>
                </tr>
                <tr>
                  <td>{{ form_label(edit_form.varmeForbrugsdataPrimaer1Forbrug) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataPrimaer1Forbrug) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataPrimaer2Forbrug) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataPrimaer3Forbrug) }}</td>
                </tr>
                <tr>
                  <td>{{ form_label(edit_form.varmeForbrugsdataPrimaer1SamletVarmeforbrugJuniJuliAugust) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataPrimaer1SamletVarmeforbrugJuniJuliAugust) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataPrimaer2SamletVarmeforbrugJuniJuliAugust) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataPrimaer3SamletVarmeforbrugJuniJuliAugust) }}</td>
                </tr>
                <tr>
                  <td>{{ aaplus.form_label('appbundle.baseline.varmeForbrugsdataPrimaer1GUFRegAar') }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataPrimaer1GUFRegAar) }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataPrimaer2GUFRegAar) }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataPrimaer3GUFRegAar) }}</td>
                </tr>
                <tr>
                  <td>{{ aaplus.form_label('appbundle.baseline.varmeForbrugsdataPrimaer1GAFRegAar') }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataPrimaer1GAFRegAar) }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataPrimaer2GAFRegAar) }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataPrimaer3GAFRegAar) }}</td>
                </tr>
                <tr>
                  <td><label
                        class="control-label">{{ 'appbundle.baseline.gdNormal' | trans }}</label>
                  </td>
                  <td><input type="text" disabled="disabled" class="form-control"
                             value="{{ graddage_normal }}"></td>
                  <td><input type="text" disabled="disabled" class="form-control"
                             value="{{ graddage_normal }}"></td>
                  <td><input type="text" disabled="disabled" class="form-control"
                             value="{{ graddage_normal }}"></td>
                </tr>
                <tr>
                  <td>{{ form_label(edit_form.varmeForbrugsdataPrimaer1GDPeriode) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataPrimaer1GDPeriode) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataPrimaer2GDPeriode) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataPrimaer3GDPeriode) }}</td>
                </tr>
                <tr>
                  <td>{{ aaplus.form_label('appbundle.baseline.varmeForbrugsdataPrimaer1GAFnormal') }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataPrimaer1GAFnormal) }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataPrimaer2GAFnormal) }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataPrimaer3GAFnormal) }}</td>
                </tr>
                <tr>
                  <td>{{ aaplus.form_label('appbundle.baseline.varmeForbrugsdataPrimaer1ForbrugKlimakorrigeret') }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataPrimaer1ForbrugKlimakorrigeret) }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataPrimaer2ForbrugKlimakorrigeret) }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataPrimaer3ForbrugKlimakorrigeret) }}</td>
                </tr>
                </tbody>
              </table>
              {{ aaplus.form_row_decimal('appbundle.baseline.varmeForbrugsdataPrimaerGAFGennemsnit', entity.varmeForbrugsdataPrimaerGAFGennemsnit, 'appbundle.baseline.varmeForbrugsdataPrimaerGAFGennemsnit.unit') }}
              {{ aaplus.form_row_decimal('appbundle.baseline.varmeForbrugsdataPrimaerGUFGennemsnit', entity.varmeForbrugsdataPrimaerGUFGennemsnit, 'appbundle.baseline.varmeForbrugsdataPrimaerGUFGennemsnit.unit') }}
              {{ aaplus.form_row_decimal('appbundle.baseline.varmeForbrugsdataPrimaerGennemsnitKlimakorrigeret', entity.varmeForbrugsdataPrimaerGennemsnitKlimakorrigeret, 'appbundle.baseline.varmeForbrugsdataPrimaerGennemsnitKlimakorrigeret.unit') }}
              {{ aaplus.form_row_decimal('appbundle.baseline.eloVarmeTotalForbrug', entity.eloKategori ? entity.eloKategori.totalVarmeforbrug : null, 'appbundle.baseline.eloVarmeTotalForbrug.unit') }}
              {{ aaplus.form_row_decimal('appbundle.baseline.varmeForbrugsdataPrimaerNoegletal', entity.varmeForbrugsdataPrimaerNoegletal, 'appbundle.baseline.varmeForbrugsdataPrimaerNoegletal.unit') }}
              {{ form_row(edit_form.varmeForbrugsdataPrimaerNoter) }}
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div
                class="panel-heading">{{ icon('fire') }} {{ 'appbundle.baseline.varmeSekundaer' | trans }}</div>
            <div class="panel-body">
              {{ form_row(edit_form.varmeForbrugsdataSekundaerKilde) }}
              {{ form_row(edit_form.varmeForbrudsdataSekundaerGUFForbrugFastsaettesEfter) }}
              <table class="table">
                <thead>
                <tr>
                  <th></th>
                  <th
                      class="text-center">{{ 'appbundle.baseline.year1' | trans }}</th>
                  <th
                      class="text-center">{{ 'appbundle.baseline.year2' | trans }}</th>
                  <th
                      class="text-center">{{ 'appbundle.baseline.year3' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{ form_label(edit_form.varmeForbrugsdataSekundaer1Aarstal) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataSekundaer1Aarstal) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataSekundaer2Aarstal) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataSekundaer3Aarstal) }}</td>
                </tr>
                <tr>
                  <td>{{ form_label(edit_form.varmeForbrugsdataSekundaer1Forbrug) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataSekundaer1Forbrug) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataSekundaer2Forbrug) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataSekundaer3Forbrug) }}</td>
                </tr>
                <tr>
                  <td>{{ form_label(edit_form.varmeForbrugsdataSekundaer1SamletVarmeforbrugJuniJuliAugust) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataSekundaer1SamletVarmeforbrugJuniJuliAugust) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataSekundaer2SamletVarmeforbrugJuniJuliAugust) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataSekundaer3SamletVarmeforbrugJuniJuliAugust) }}</td>
                </tr>
                <tr>
                  <td>{{ aaplus.form_label('appbundle.baseline.varmeForbrugsdataSekundaer1GUFRegAar') }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataSekundaer1GUFRegAar) }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataSekundaer2GUFRegAar) }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataSekundaer3GUFRegAar) }}</td>
                </tr>
                <tr>
                  <td>{{ aaplus.form_label('appbundle.baseline.varmeForbrugsdataSekundaer1GAFRegAar') }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataSekundaer1GAFRegAar) }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataSekundaer2GAFRegAar) }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataSekundaer3GAFRegAar) }}</td>
                </tr>
                <tr>
                  <td><label
                        class="control-label">{{ 'appbundle.baseline.gdNormal' | trans }}</label>
                  </td>
                  <td><input type="text" disabled="disabled" class="form-control"
                             value="{{ graddage_normal }}"></td>
                  <td><input type="text" disabled="disabled" class="form-control"
                             value="{{ graddage_normal }}"></td>
                  <td><input type="text" disabled="disabled" class="form-control"
                             value="{{ graddage_normal }}"></td>
                </tr>
                <tr>
                  <td>{{ form_label(edit_form.varmeForbrugsdataSekundaer1GDPeriode) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataSekundaer1GDPeriode) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataSekundaer2GDPeriode) }}</td>
                  <td>{{ form_widget(edit_form.varmeForbrugsdataSekundaer3GDPeriode) }}</td>
                </tr>
                <tr>
                  <td>{{ aaplus.form_label('appbundle.baseline.varmeForbrugsdataSekundaer1GAFnormal') }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataSekundaer1GAFnormal) }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataSekundaer2GAFnormal) }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataSekundaer3GAFnormal) }}</td>
                </tr>
                <tr>
                  <td>{{ aaplus.form_label('appbundle.baseline.varmeForbrugsdataSekundaer1ForbrugKlimakorrigeret') }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataSekundaer1ForbrugKlimakorrigeret) }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataSekundaer2ForbrugKlimakorrigeret) }}</td>
                  <td>{{ aaplus.form_widget(entity.varmeForbrugsdataSekundaer3ForbrugKlimakorrigeret) }}</td>
                </tr>
                </tbody>
              </table>
              {{ aaplus.form_row_decimal('appbundle.baseline.varmeForbrugsdataSekundaerGAFGennemsnit', entity.varmeForbrugsdataSekundaerGAFGennemsnit, 'appbundle.baseline.varmeForbrugsdataSekundaerGAFGennemsnit.unit') }}
              {{ aaplus.form_row_decimal('appbundle.baseline.varmeForbrugsdataSekundaerGUFGennemsnit', entity.varmeForbrugsdataSekundaerGUFGennemsnit, 'appbundle.baseline.varmeForbrugsdataSekundaerGUFGennemsnit.unit') }}
              {{ aaplus.form_row_decimal('appbundle.baseline.varmeForbrugsdataSekundaerGennemsnitKlimakorrigeret', entity.varmeForbrugsdataSekundaerGennemsnitKlimakorrigeret, 'appbundle.baseline.varmeForbrugsdataSekundaerGennemsnitKlimakorrigeret.unit') }}
              {{ aaplus.form_row_decimal('appbundle.baseline.eloVarmeTotalForbrug', entity.eloKategori ? entity.eloKategori.totalVarmeforbrug : null, 'appbundle.baseline.eloVarmeTotalForbrug.unit') }}
              {{ aaplus.form_row_decimal('appbundle.baseline.varmeForbrugsdataSekundaerNoegletal', entity.varmeForbrugsdataSekundaerNoegletal, 'appbundle.baseline.varmeForbrugsdataSekundaerNoegletal.unit') }}
              {{ form_row(edit_form.varmeForbrugsdataSekundaerNoter) }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">{{ icon('calendar') }} {{ 'appbundle.graddagefordeling.graddageVedForskelligeAar' | trans }}</div>
            {% include 'AppBundle:GraddageFordeling:_index_table.html.twig' with { 'entities':graddage } %}
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">{{ icon('fire') }} {{ 'appbundle.baseline.varmeGenerelt' | trans }}</div>
            <div class="panel-body">
              {{ form_row(edit_form.varmeGAFForbrug) }}
              {{ form_row(edit_form.varmeGUFForbrug) }}
              {{ aaplus.form_row_decimal('appbundle.baseline.varmeBaselineFastsatForEjendom', entity.varmeBaselineFastsatForEjendom, 'appbundle.baseline.varmeBaselineFastsatForEjendom.unit') }}
              {{ aaplus.form_row_decimal('appbundle.baseline.eloVarmeTotalForbrug', entity.eloKategori ? entity.eloKategori.totalVarmeforbrug : null, 'appbundle.baseline.eloVarmeTotalForbrug.unit') }}
              {{ aaplus.form_row_decimal('appbundle.baseline.varmeBaselineNoegletalForEjendom', entity.varmeBaselineNoegletalForEjendom, 'appbundle.baseline.varmeBaselineNoegletalForEjendom.unit') }}
              {{ form_row(edit_form.varmeStrafafkoelingsafgift) }}
              {{ form_row(edit_form.varmeBaselineNoter) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{{ form_rest(edit_form) }}

{{ form_end(edit_form) }}
