{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Baseline</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Arealdataprimaerkilde</th>
                <td>{{ entity.arealdataPrimaerKilde }}</td>
            </tr>
            <tr>
                <th>Arealdataprimaerareal</th>
                <td>{{ entity.arealdataPrimaerAreal }}</td>
            </tr>
            <tr>
                <th>Arealdataprimaernoter</th>
                <td>{{ entity.arealdataPrimaerNoter }}</td>
            </tr>
            <tr>
                <th>Arealdatasekundaerkilde</th>
                <td>{{ entity.arealdataSekundaerKilde }}</td>
            </tr>
            <tr>
                <th>Arealdatasekundaerareal</th>
                <td>{{ entity.arealdataSekundaerAreal }}</td>
            </tr>
            <tr>
                <th>Arealdatasekundaernoter</th>
                <td>{{ entity.arealdataSekundaerNoter }}</td>
            </tr>
            <tr>
                <th>Arealtilnoegletalsanalyse</th>
                <td>{{ entity.arealTilNoegletalsanalyse }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdataprimaerkilde</th>
                <td>{{ entity.elForbrugsdataPrimaerKilde }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdataprimaer1aarstal</th>
                <td>{{ entity.elForbrugsdataPrimaer1Aarstal }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdataprimaer1forbrug</th>
                <td>{{ entity.elForbrugsdataPrimaer1Forbrug }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdataprimaer2aarstal</th>
                <td>{{ entity.elForbrugsdataPrimaer2Aarstal }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdataprimaer2forbrug</th>
                <td>{{ entity.elForbrugsdataPrimaer2Forbrug }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdataprimaer3aarstal</th>
                <td>{{ entity.elForbrugsdataPrimaer3Aarstal }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdataprimaer3forbrug</th>
                <td>{{ entity.elForbrugsdataPrimaer3Forbrug }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdataprimaergennemsnit</th>
                <td>{{ entity.elForbrugsdataPrimaerGennemsnit }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdataprimaernoegetal</th>
                <td>{{ entity.elForbrugsdataPrimaerNoegetal }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdataprimaernoter</th>
                <td>{{ entity.elForbrugsdataPrimaerNoter }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdatasekundaerkilde</th>
                <td>{{ entity.elForbrugsdataSekundaerKilde }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdatasekundaer1aarstal</th>
                <td>{{ entity.elForbrugsdataSekundaer1Aarstal }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdatasekundaer1forbrug</th>
                <td>{{ entity.elForbrugsdataSekundaer1Forbrug }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdatasekundaer2aarstal</th>
                <td>{{ entity.elForbrugsdataSekundaer2Aarstal }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdatasekundaer2forbrug</th>
                <td>{{ entity.elForbrugsdataSekundaer2Forbrug }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdatasekundaer3aarstal</th>
                <td>{{ entity.elForbrugsdataSekundaer3Aarstal }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdatasekundaer3forbrug</th>
                <td>{{ entity.elForbrugsdataSekundaer3Forbrug }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdatasekundaergennemsnit</th>
                <td>{{ entity.elForbrugsdataSekundaerGennemsnit }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdatasekundaernoegetal</th>
                <td>{{ entity.elForbrugsdataSekundaerNoegetal }}</td>
            </tr>
            <tr>
                <th>Elforbrugsdatasekundaernoter</th>
                <td>{{ entity.elForbrugsdataSekundaerNoter }}</td>
            </tr>
            <tr>
                <th>Elbaselinefastsatforejendom</th>
                <td>{{ entity.elBaselineFastsatForEjendom }}</td>
            </tr>
            <tr>
                <th>Elbaselinenoegletalforejendom</th>
                <td>{{ entity.elBaselineNoegletalForEjendom }}</td>
            </tr>
            <tr>
                <th>Elbaselinenoter</th>
                <td>{{ entity.elBaselineNoter }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaerkilde</th>
                <td>{{ entity.varmeForbrugsdataPrimaerKilde }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer1aarstal</th>
                <td>{{ entity.varmeForbrugsdataPrimaer1Aarstal }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer1forbrug</th>
                <td>{{ entity.varmeForbrugsdataPrimaer1Forbrug }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer2aarstal</th>
                <td>{{ entity.varmeForbrugsdataPrimaer2Aarstal }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer2forbrug</th>
                <td>{{ entity.varmeForbrugsdataPrimaer2Forbrug }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer3aarstal</th>
                <td>{{ entity.varmeForbrugsdataPrimaer3Aarstal }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer3forbrug</th>
                <td>{{ entity.varmeForbrugsdataPrimaer3Forbrug }}</td>
            </tr>
            <tr>
                <th>Varmeforbrudsdataprimaergufforbrugfastsaettesefter</th>
                <td>{{ entity.varmeForbrudsdataPrimaerGUFForbrugFastsaettesEfter }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer1samletvarmeforbrugjunijuliaugust</th>
                <td>{{ entity.varmeForbrugsdataPrimaer1SamletVarmeforbrugJuniJuliAugust }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer2samletvarmeforbrugjunijuliaugust</th>
                <td>{{ entity.varmeForbrugsdataPrimaer2SamletVarmeforbrugJuniJuliAugust }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer3samletvarmeforbrugjunijuliaugust</th>
                <td>{{ entity.varmeForbrugsdataPrimaer3SamletVarmeforbrugJuniJuliAugust }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer1gufregaar</th>
                <td>{{ entity.varmeForbrugsdataPrimaer1GUFRegAar }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer2gufregaar</th>
                <td>{{ entity.varmeForbrugsdataPrimaer2GUFRegAar }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer3gufregaar</th>
                <td>{{ entity.varmeForbrugsdataPrimaer3GUFRegAar }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer1gafregaar</th>
                <td>{{ entity.varmeForbrugsdataPrimaer1GAFRegAar }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer2gafregaar</th>
                <td>{{ entity.varmeForbrugsdataPrimaer2GAFRegAar }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer3gafregaar</th>
                <td>{{ entity.varmeForbrugsdataPrimaer3GAFRegAar }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer1gdperiode</th>
                <td>{{ entity.varmeForbrugsdataPrimaer1GDPeriode }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer2gdperiode</th>
                <td>{{ entity.varmeForbrugsdataPrimaer2GDPeriode }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer3gdperiode</th>
                <td>{{ entity.varmeForbrugsdataPrimaer3GDPeriode }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer1gafnormal</th>
                <td>{{ entity.varmeForbrugsdataPrimaer1GAFnormal }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer2gafnormal</th>
                <td>{{ entity.varmeForbrugsdataPrimaer2GAFnormal }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer3gafnormal</th>
                <td>{{ entity.varmeForbrugsdataPrimaer3GAFnormal }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer1forbrugklimakorrigeret</th>
                <td>{{ entity.varmeForbrugsdataPrimaer1ForbrugKlimakorrigeret }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer2forbrugklimakorrigeret</th>
                <td>{{ entity.varmeForbrugsdataPrimaer2ForbrugKlimakorrigeret }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaer3forbrugklimakorrigeret</th>
                <td>{{ entity.varmeForbrugsdataPrimaer3ForbrugKlimakorrigeret }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaergafgennemsnit</th>
                <td>{{ entity.varmeForbrugsdataPrimaerGAFGennemsnit }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaergufgennemsnit</th>
                <td>{{ entity.varmeForbrugsdataPrimaerGUFGennemsnit }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaergennemsnitklimakorrigeret</th>
                <td>{{ entity.varmeForbrugsdataPrimaerGennemsnitKlimakorrigeret }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaernoegletal</th>
                <td>{{ entity.varmeForbrugsdataPrimaerNoegletal }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdataprimaernoter</th>
                <td>{{ entity.varmeForbrugsdataPrimaerNoter }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaerkilde</th>
                <td>{{ entity.varmeForbrugsdataSekundaerKilde }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer1aarstal</th>
                <td>{{ entity.varmeForbrugsdataSekundaer1Aarstal }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer1forbrug</th>
                <td>{{ entity.varmeForbrugsdataSekundaer1Forbrug }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer2aarstal</th>
                <td>{{ entity.varmeForbrugsdataSekundaer2Aarstal }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer2forbrug</th>
                <td>{{ entity.varmeForbrugsdataSekundaer2Forbrug }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer3aarstal</th>
                <td>{{ entity.varmeForbrugsdataSekundaer3Aarstal }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer3forbrug</th>
                <td>{{ entity.varmeForbrugsdataSekundaer3Forbrug }}</td>
            </tr>
            <tr>
                <th>Varmeforbrudsdatasekundaergufforbrugfastsaettesefter</th>
                <td>{{ entity.varmeForbrudsdataSekundaerGUFForbrugFastsaettesEfter }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer1samletvarmeforbrugjunijuliaugust</th>
                <td>{{ entity.varmeForbrugsdataSekundaer1SamletVarmeforbrugJuniJuliAugust }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer2samletvarmeforbrugjunijuliaugust</th>
                <td>{{ entity.varmeForbrugsdataSekundaer2SamletVarmeforbrugJuniJuliAugust }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer3samletvarmeforbrugjunijuliaugust</th>
                <td>{{ entity.varmeForbrugsdataSekundaer3SamletVarmeforbrugJuniJuliAugust }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer1gufregaar</th>
                <td>{{ entity.varmeForbrugsdataSekundaer1GUFRegAar }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer2gufregaar</th>
                <td>{{ entity.varmeForbrugsdataSekundaer2GUFRegAar }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer3gufregaar</th>
                <td>{{ entity.varmeForbrugsdataSekundaer3GUFRegAar }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer1gafregaar</th>
                <td>{{ entity.varmeForbrugsdataSekundaer1GAFRegAar }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer2gafregaar</th>
                <td>{{ entity.varmeForbrugsdataSekundaer2GAFRegAar }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer3gafregaar</th>
                <td>{{ entity.varmeForbrugsdataSekundaer3GAFRegAar }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer1gdperiode</th>
                <td>{{ entity.varmeForbrugsdataSekundaer1GDPeriode }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer2gdperiode</th>
                <td>{{ entity.varmeForbrugsdataSekundaer2GDPeriode }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer3gdperiode</th>
                <td>{{ entity.varmeForbrugsdataSekundaer3GDPeriode }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer1gafnormal</th>
                <td>{{ entity.varmeForbrugsdataSekundaer1GAFnormal }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer2gafnormal</th>
                <td>{{ entity.varmeForbrugsdataSekundaer2GAFnormal }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer3gafnormal</th>
                <td>{{ entity.varmeForbrugsdataSekundaer3GAFnormal }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer1forbrugklimakorrigeret</th>
                <td>{{ entity.varmeForbrugsdataSekundaer1ForbrugKlimakorrigeret }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer2forbrugklimakorrigeret</th>
                <td>{{ entity.varmeForbrugsdataSekundaer2ForbrugKlimakorrigeret }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaer3forbrugklimakorrigeret</th>
                <td>{{ entity.varmeForbrugsdataSekundaer3ForbrugKlimakorrigeret }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaergafgennemsnit</th>
                <td>{{ entity.varmeForbrugsdataSekundaerGAFGennemsnit }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaergufgennemsnit</th>
                <td>{{ entity.varmeForbrugsdataSekundaerGUFGennemsnit }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaergennemsnitklimakorrigeret</th>
                <td>{{ entity.varmeForbrugsdataSekundaerGennemsnitKlimakorrigeret }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaernoegletal</th>
                <td>{{ entity.varmeForbrugsdataSekundaerNoegletal }}</td>
            </tr>
            <tr>
                <th>Varmeforbrugsdatasekundaernoter</th>
                <td>{{ entity.varmeForbrugsdataSekundaerNoter }}</td>
            </tr>
            <tr>
                <th>Varmegafforbrug</th>
                <td>{{ entity.varmeGAFForbrug }}</td>
            </tr>
            <tr>
                <th>Varmegufforbrug</th>
                <td>{{ entity.varmeGUFForbrug }}</td>
            </tr>
            <tr>
                <th>Varmebaselinefastsatforejendom</th>
                <td>{{ entity.varmeBaselineFastsatForEjendom }}</td>
            </tr>
            <tr>
                <th>Varmebaselinenoegletalforejendom</th>
                <td>{{ entity.varmeBaselineNoegletalForEjendom }}</td>
            </tr>
            <tr>
                <th>Varmestrafafkoelingsafgift</th>
                <td>{{ entity.varmeStrafafkoelingsafgift }}</td>
            </tr>
            <tr>
                <th>Varmebaselinenoter</th>
                <td>{{ entity.varmeBaselineNoter }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ entity.createdBy }}</td>
            </tr>
            <tr>
                <th>Updatedby</th>
                <td>{{ entity.updatedBy }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('baseline') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('baseline_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
