  {% extends 'AppBundle::base.html.twig' %}


  {% block body -%}

  <div class="row heading">
    <div class="col-md-9">
        <h1>{{ 'pumpe.labels.plural' | trans }}</h1>
    </div>
    <div class="col-md-3 text-right">
              <a class="btn btn-default" href="{{ path('pumpe_new') }}">
          {{ icon('plus') }} {{ 'pumpe.actions.add' | trans }}
        </a>
          </div>

  </div>


  <table class="table table-condensed table-header-rotated">
    <thead>
    <tr>
        {{ helper.header('appbundle.pumpe.nuvaerendeType') }}
        {{ helper.header('appbundle.pumpe.byggemaal') }}
        {{ helper.header('appbundle.pumpe.tilslutning') }}
        {{ helper.header('appbundle.pumpe.indst') }}
        {{ helper.header('appbundle.pumpe.forbrug') }}
        {{ helper.header('appbundle.pumpe.q') }}
        {{ helper.header('appbundle.pumpe.h') }}
        {{ helper.header('appbundle.pumpe.aarsforbrug') }}
        {{ helper.header('appbundle.pumpe.nyPumpe') }}
        {{ helper.header('appbundle.pumpe.nyByggemaal') }}
        {{ helper.header('appbundle.pumpe.nyTilslutning') }}
        {{ helper.header('appbundle.pumpe.vvsnr') }}
        {{ helper.header('appbundle.pumpe.nytAarsforbrug') }}
        {{ helper.header('appbundle.pumpe.elbesparelse') }}
        {{ helper.header('appbundle.pumpe.udligningssaet') }}
        {{ helper.header('appbundle.pumpe.kommentarer') }}
        {{ helper.header('appbundle.pumpe.standInvestering') }}
        {{ helper.header('appbundle.pumpe.fabrikant') }}
        {{ helper.header('appbundle.pumpe.roerlaengde') }}
        {{ helper.header('appbundle.pumpe.roerstoerrelse') }}
      {{ helper.header() }}
    </tr>
    <tr>
        {{ helper.header_unit('appbundle.pumpe.nuvaerendeType') }}
        {{ helper.header_unit('appbundle.pumpe.byggemaal') }}
        {{ helper.header_unit('appbundle.pumpe.tilslutning') }}
        {{ helper.header_unit('appbundle.pumpe.indst') }}
        {{ helper.header_unit('appbundle.pumpe.forbrug') }}
        {{ helper.header_unit('appbundle.pumpe.q') }}
        {{ helper.header_unit('appbundle.pumpe.h') }}
        {{ helper.header_unit('appbundle.pumpe.aarsforbrug') }}
        {{ helper.header_unit('appbundle.pumpe.nyPumpe') }}
        {{ helper.header_unit('appbundle.pumpe.nyByggemaal') }}
        {{ helper.header_unit('appbundle.pumpe.nyTilslutning') }}
        {{ helper.header_unit('appbundle.pumpe.vvsnr') }}
        {{ helper.header_unit('appbundle.pumpe.nytAarsforbrug') }}
        {{ helper.header_unit('appbundle.pumpe.elbesparelse') }}
        {{ helper.header_unit('appbundle.pumpe.udligningssaet') }}
        {{ helper.header_unit('appbundle.pumpe.kommentarer') }}
        {{ helper.header_unit('appbundle.pumpe.standInvestering') }}
        {{ helper.header_unit('appbundle.pumpe.fabrikant') }}
        {{ helper.header_unit('appbundle.pumpe.roerlaengde') }}
        {{ helper.header_unit('appbundle.pumpe.roerstoerrelse') }}
      {{ helper.header_unit() }}
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    <tr>
        <td>{{ entity.nuvaerendeType }}</td>
        <td class="number">{{ entity.byggemaal }}</td>
        <td>{{ entity.tilslutning }}</td>
        <td class="number">{{ entity.indst }}</td>
        <td class="number">{{ entity.forbrug }}</td>
        <td class="number">{{ entity.q }}</td>
        <td class="number">{{ entity.h }}</td>
        <td class="number">{{ entity.aarsforbrug }}</td>
        <td>{{ entity.nyPumpe }}</td>
        <td class="number">{{ entity.nyByggemaal }}</td>
        <td>{{ entity.nyTilslutning }}</td>
        <td class="number">{{ entity.vvsnr }}</td>
        <td class="number">{{ entity.nytAarsforbrug }}</td>
        <td class="number">{{ entity.elbesparelse }}</td>
        <td>{{ entity.udligningssaet }}</td>
        <td>{{ entity.kommentarer }}</td>
        <td class="number">{{ entity.standInvestering | format_amount(2) }}</td>
        <td>{{ entity.fabrikant }}</td>
        <td class="number">{{ entity.roerlaengde }}</td>
        <td>{{ entity.roerstoerrelse }}</td>
      <td class="text-right">    <a class="btn btn-default btn-xs" href="{{ path('pumpe_edit', { 'id': entity.id }) }}">{{ 'common.edit' | trans }}</a>

      </td>

    </tr>
    {% endfor %}
    </tbody>
  </table>

  {% endblock %}
