{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <div class="row">
    <div class="col-md-10">
      <h1>{{ 'pumpe.labels.plural' | trans }}</h1>
    </div>
    <div class="col-md-2 text-right">
      
    </div>
  </div>

  <table class="table table-condensed table-header-rotated table-hover">
    <thead>
    <tr>
      {{ helper.header() }}
      {{ helper.header('appbundle.pumpe.nuvaerendeType') }}
      {{ helper.header('appbundle.pumpe.byggemaal') }}
      {{ helper.header('appbundle.pumpe.tilslutning') }}
      {{ helper.header('appbundle.pumpe.indst') }}
      {{ helper.header('appbundle.pumpe.forbrug') }}
      {{ helper.header('appbundle.pumpe.q') }}
      {{ helper.header('appbundle.pumpe.h') }}
      {{ helper.header('appbundle.pumpe.aarsforbrug') }}
      {{ helper.header('appbundle.pumpe.nyPumpe') }}
      {{ helper.header('appbundle.pumpe.nyByggemaal') }}
      {{ helper.header('appbundle.pumpe.nyTilslutning') }}
      {{ helper.header('appbundle.pumpe.vvsnr') }}
      {{ helper.header('appbundle.pumpe.nytAarsforbrug') }}
      {{ helper.header('appbundle.pumpe.elbesparelse') }}
      {{ helper.header('appbundle.pumpe.udligningssaet') }}
      {{ helper.header('appbundle.pumpe.kommentarer') }}
      {{ helper.header('appbundle.pumpe.standInvestering') }}
      {{ helper.header('appbundle.pumpe.fabrikant') }}
      {{ helper.header('appbundle.pumpe.roerlaengde') }}
      {{ helper.header('appbundle.pumpe.roerstoerrelse') }}
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
      <tr>
        <td>
          <a href="{{ path('pumpe_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-default">edit</a>
        </td>
        <td>{{ entity.nuvaerendeType }}</td>
        <td>{{ entity.byggemaal }}</td>
        <td>{{ entity.tilslutning }}</td>
        <td>{{ entity.indst }}</td>
        <td>{{ entity.forbrug }}</td>
        <td>{{ entity.q }}</td>
        <td>{{ entity.h }}</td>
        <td>{{ entity.aarsforbrug }}</td>
        <td>{{ entity.nyPumpe }}</td>
        <td>{{ entity.nyByggemaal }}</td>
        <td>{{ entity.nyTilslutning }}</td>
        <td>{{ entity.vvsnr }}</td>
        <td>{{ entity.nytAarsforbrug }}</td>
        <td>{{ entity.elbesparelse }}</td>
        <td>{{ entity.udligningssaet }}</td>
        <td>{{ entity.kommentarer }}</td>
        <td>{{ entity.standInvestering }}</td>
        <td>{{ entity.fabrikant }}</td>
        <td>{{ entity.roerlaengde }}</td>
        <td>{{ entity.roerstoerrelse }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
