{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>Pumpe list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nuvaerendetype</th>
                <th>Byggemaal</th>
                <th>Tilslutning</th>
                <th>Indst</th>
                <th>Forbrug</th>
                <th>Q</th>
                <th>H</th>
                <th>Aarsforbrug</th>
                <th>Nypumpe</th>
                <th>Nybyggemaal</th>
                <th>Nytilslutning</th>
                <th>Vvsnr</th>
                <th>Nytaarsforbrug</th>
                <th>Elbesparelse</th>
                <th>Udligningssaet</th>
                <th>Kommentarer</th>
                <th>Standinvestering</th>
                <th>Fabrikant</th>
                <th>Roerlaengde</th>
                <th>Roerstoerrelse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('pumpe_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nuvaerendeType }}</td>
                <td>{{ entity.byggemaal }}</td>
                <td>{{ entity.tilslutning }}</td>
                <td>{{ entity.indst }}</td>
                <td>{{ entity.forbrug }}</td>
                <td>{{ entity.q }}</td>
                <td>{{ entity.h }}</td>
                <td>{{ entity.aarsforbrug }}</td>
                <td>{{ entity.nyPumpe }}</td>
                <td>{{ entity.nyByggemaal }}</td>
                <td>{{ entity.nyTilslutning }}</td>
                <td>{{ entity.vvsnr }}</td>
                <td>{{ entity.nytAarsforbrug }}</td>
                <td>{{ entity.elbesparelse }}</td>
                <td>{{ entity.udligningssaet }}</td>
                <td>{{ entity.kommentarer }}</td>
                <td>{{ entity.standInvestering }}</td>
                <td>{{ entity.fabrikant }}</td>
                <td>{{ entity.roerlaengde }}</td>
                <td>{{ entity.roerstoerrelse }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('pumpe_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
