  {% extends 'AppBundle::base.html.twig' %}


{% block body -%}
  <div class="row heading">
    <div class="col-md-9">
      <h1>{{ entity }}</h1>
    </div>
    <div class="col-md-3 text-right">    <a class="btn btn-default btn-default" href="{{ path('pumpe_edit', { 'id': entity.id }) }}">{{ 'common.edit' | trans }}</a>

    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('chevron-right') }} {{ 'pumpe.labels.singular' | trans }}</div>
        <table class="table table-condensed">
          <tbody>
            <tr>
              <th>{{ 'appbundle.pumpe.nuvaerendeType' | trans }}</th>
                <td>{{ entity.nuvaerendeType }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.byggemaal' | trans }}</th>
                <td>{{ entity.byggemaal }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.tilslutning' | trans }}</th>
                <td>{{ entity.tilslutning }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.indst' | trans }}</th>
                <td>{{ entity.indst }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.forbrug' | trans }}</th>
                <td>{{ entity.forbrug }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.q' | trans }}</th>
                <td>{{ entity.q }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.h' | trans }}</th>
                <td>{{ entity.h }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.aarsforbrug' | trans }}</th>
                <td>{{ entity.aarsforbrug }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.nyPumpe' | trans }}</th>
                <td>{{ entity.nyPumpe }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.nyByggemaal' | trans }}</th>
                <td>{{ entity.nyByggemaal }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.nyTilslutning' | trans }}</th>
                <td>{{ entity.nyTilslutning }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.vvsnr' | trans }}</th>
                <td>{{ entity.vvsnr }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.nytAarsforbrug' | trans }}</th>
                <td>{{ entity.nytAarsforbrug }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.elbesparelse' | trans }}</th>
                <td>{{ entity.elbesparelse }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.udligningssaet' | trans }}</th>
                <td>{{ entity.udligningssaet }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.kommentarer' | trans }}</th>
                <td>{{ entity.kommentarer }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.standInvestering' | trans }}</th>
                <td>{{ entity.standInvestering | format_amount(2) }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.fabrikant' | trans }}</th>
                <td>{{ entity.fabrikant }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.roerlaengde' | trans }}</th>
                <td>{{ entity.roerlaengde }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.roerstoerrelse' | trans }}</th>
                <td>{{ entity.roerstoerrelse }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.createdAt' | trans }}</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.pumpe.updatedAt' | trans }}</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
