<div class="box box--anbefaling box--anbefaling-type-{{ section.anbefalingType }}">
  <div>
    <span class="icon"></span>
  </div>
  <div>
    {{ section.number }}. {{ 'rapportsektion.types.anbefaling' | trans }}
  </div>
  <div>
    <span class="h3">{{ section.anbefalingTitle }}</span>
  </div>
  <div>
    ROI: {{ section.ROI | number_format(1) }} år
  </div>
</div>
