{% extends 'AppBundle::RapportSektioner/base.html.twig' %}
{% block section_content -%}
  {{ parent() }}

  <br><br>

  <div class="row">
    <div class="col-xs-6">
      <div class="h2">Besparelseseffekter</div>
      <div class="ckeditor-content">
        {{ section.besparelseeffekt | raw }}
      </div>
    </div>
    <div class="col-xs-6">
      <div class="box box--primary">
        <div>
          <strong>Samlede årlige besparelser:</strong>
        </div>

        <br>

        <div>
          <span class="h1">{{ section.effektBesparesleKwh | format_decimal(0) }} <small>kWh</small></span>
        </div>

        <br>

        <div>
          <span class="h1">{{ section.effektBesparesleKr | format_decimal(0) }} <small>kr.</small></span>
        </div>

        <br>

        <div>
          <span class="h1">{{ section.effektBesparesleCo2 | format_decimal }} <small>ton CO2</small></span>
        </div>

        <div>
          {{ section.besparelseeffektUnderTekst }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
