{# Define orientation variable to get ability change section orientation on pages below #}
{% set landscape = section.landscape %}
{% set sectionTypeNanv = ('rapportsektion.types.' ~ section.type ) | trans %}
<div id="section-{{ section.type }}{{ section.id }}" class="section-{{ section.type }} {% if landscape %}landscape{% else %}portrait{% endif %}{% if section.break %} page-break-before{% endif %}">
  <div class="row">
    <div class="col-xs-12">
      {% if section.editUrl and review %}
        <div class="float-right"><a href="{{ section.editUrl }}">edit</a></div>
      {% endif %}
      {% block section -%}
        {% block section_type -%}
          <div class="section-type">{{ sectionTypeNanv }}</div>
        {% endblock %}
          {% block section_title -%}
            {% if section.title %}
              <h1>{{ section.title }}</h1>
            {% endif %}
          {% endblock %}
        {% block section_content -%}
          {% if section.text %}
            <div class="section-text">
              {{ section.text | raw }}
            </div>
          {% endif %}
        {% endblock %}
      {% endblock %}
    </div>
  </div>
</div>
