{% extends 'AppBundle::RapportSektioner/base.html.twig' %}
{% block section_content -%}
  {{ parent() }}
  <div class="section-finansiering-nogletal">
    <h2>Nøgletal</h2>
    <div class="section-finansiering-nogletal-tekst">
      {{ section.noegletal | raw }}
    </div>
    <div class="section-finansiering-nogletal-chart row">
      <div class="section-finansiering-nogletal-chart-now col-md-3">
        <div>Nu</div>
        <div>Investering</div>
        <div>{{ section.ROIGrafData.investering | format_decimal(0) }} kr</div>
      </div>
      <div class="section-finansiering-nogletal-chart-roi col-md-4 text-right">
        <div>{{ section.ROIGrafData.roi | format_decimal(0) }} år</div>
        <div>Simpel tilbagebetalingstid</div>
        <div>ROI</div>
      </div>
      <div class="section-finansiering-nogletal-chart-now col-md-5 text-right">
        <div>{{ section.tekniskelevetid | format_decimal(0) }} år</div>
        <div>Samlet besparelse (i den tekniskelevetid)</div>
        <div>{{ section.getSamletBesparelseOverAar(section.tekniskelevetid) | format_decimal(0) }} kr</div>
      </div>
    </div>
  </div>
  <div class="section-finansiering-roi">
    <h2>Simpel tilbagebetalingstid (ROI)</h2>
    {% include 'AppBundle:_includes:graf_roi.html.twig' with { 'chart_data' : section.ROIGrafData  } %}
  </div>
  <div class="section-finansiering-tekst">
    {{ section.finansieringTekst | raw }}
  </div>
{% endblock %}
