{% extends 'AppBundle::RapportSektioner/base.html.twig' %}
{% block section -%}
  <div class="section-frontpage-image">
    {% if section.filepath %}
      <img src="{{ absolute_url(asset(section.filepath)) }}" alt="" style="width:100%"/>
    {% endif %}
  </div>
  <div class="row section-frontpage-gray">
    <div class="col-md-7 section-frontpage">
      <div class="section-overtext">{{ section.title }}</div>
      <h1 class="section-title">{{ section.virksomhedNavn }}</h1>
      <div class="section-rapport-type">{{ section.getRapportTypeNavn }}</div>
    </div>
    <div class="col-md-5">
      {% if section.address and not section.skjuleKort %}
        <div class="section-frontpage-map" style="overflow: hidden">
          <img alt="" src="https://www.mapquestapi.com/staticmap/v5/map?center={{ section.address }}&zoom=18&size=400,400&key=dmNBHsqexMpt6bWFyuPwWklH10alas5X&locations=={{ section.address }}">
        </div>
      {% endif %}
    </div>
  </div>
  <div class="section-frontpage">
    <h2 class="section-subtitle">{{ section.underTekst }}</h2>
    <div class="section-text">{{ section.datering | date('d.m.Y') }}</div>
  </div>
  <div class="section-frontpage">
    <img alt="" src="{{ absolute_url(asset('img/seas-nve-logo.png')) }}" height="30px" />
  </div>

{% endblock %}
