{% extends 'AppBundle::RapportSektioner/base.html.twig' %}
{% block section -%}
  <div class="section-frontpage-image">
    <img src="{{ image }}" alt=""/>
  </div>
  <div class="row section-frontpage-gray">
    <div class="col-md-7 section-frontpage">
      <div class="section-overtext">Energisynsrapport</div>
      <h1 class="section-title">{{ title }}</h1>
      <div class="section-type">{{ rapport_type }}</div>
    </div>
    <div class="col-md-5">
      {% if address %}
        <div class="section-frontpage-map" style="overflow: hidden">
          <img alt="" src="https://www.mapquestapi.com/staticmap/v5/map?center={{ address }}&zoom=18&size=400,400&key=dmNBHsqexMpt6bWFyuPwWklH10alas5X&locations=={{ address }}">
        </div>
      {% endif %}
    </div>
  </div>
  <div class="section-frontpage">
    <h2 class="section-subtitle">{{ subtitle }}</h2>
    <div class="section-text">{{ date }}</div>
  </div>
  <div class="section-frontpage">
    <img alt="" src="{{ absolute_url(asset('img/seas-nve-logo.png')) }}" height="30px" />
  </div>

{% endblock %}
