{% extends 'AppBundle::RapportSektioner/base.html.twig' %}
{% block section_content -%}
  {{ parent() }}
  <div class="block block-opsummering--seas-anbefaler">
    <div class="row">
      <div class="col-xs-5">
        <br><br>
        <h2>SEAS-NVE anbefaler</h2>
        {% if section.seasAnbefalerUnderTekst %}
          <p>{{ section.seasAnbefalerUnderTekst }}</p>
        {% endif %}
      </div>
      <div class="col-xs-7">
        <div class="row">
          {% for key, anbefaling in section.anbefalinger %}
            <div class="col-xs-4">
              {% include 'AppBundle:RapportSektioner:anbefaling-teaser.html.twig' with { 'section' : anbefaling  } %}
            </div>
          {% endfor %}

          {% if section.anbefalinger | length < 3 and review %}
            <div class="col-xs-4">
              <br><br><br>
              <a href="{{ path('virksomhed_oversigt_rapport_sektioner_new', { 'virksomhed_rapport': section.rapport.id, 'type': 'anbefaling', 'destination': path('virksomhed_rapport_pdf_review', { 'id': section.rapport.id, 'type': 'oversigt' })}) }}" class="btn btn-default">
                <span class="fa fa-plus"></span>
                Tilføj anbefaling
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% include 'AppBundle::RapportSektioner/_includes/section-page-break.html.twig' %}
  <div class="block block-opsummering--samlet-forbrug">
    <h2>Samlet forbrug</h2>
    {% include 'AppBundle:_includes:graf_samletforbrug.html.twig' with { 'chart_data' : section.samletForbrugGrafData  } %}
  </div>
  <div class="block block-opsummering--potentiel-besparelse">
    <h2>Potentielt samlet besparelse</h2>
    <div class="box box--samlet-besparelse">
      <div class="row">
        <div class="col-xs-4">
          <span class="h1">{{ section.potentieltBesparesleKwh | format_decimal(0) }} <small>færre kWh</small></span>
        </div>
        <div class="col-xs-4">
          <span class="h1">{{ section.potentieltBesparesleKr | format_decimal(0) }} <small>kr. sparet</small></span>
        </div>
        <div class="col-xs-4">
          <span class="h1">{{ section.potentieltBesparesleCo2 | format_decimal }} <small>færre ton CO2</small></span>
        </div>
      </div>
    </div>
  </div>
  <div class="block block-opsummering--roi">
    <h2>Simpel tilbagebetalingtid (ROI)</h2>
    <br>
    {% include 'AppBundle:_includes:graf_roi_full_width.html.twig' with { 'chart_data' : section.ROIGrafData  } %}

    <ul class="list-inline">
      <li>
        <span class="color-square color-square--brand-1"></span> Nuværende energiforbrug
      </li>
      <li>
        <span class="color-square color-square--brand-2"></span> Energiudgift efter investering
      </li>
      <li>
        <span class="color-square color-square--brand-4"></span> Lorem ipsum
      </li>
      <li></li>
    </ul>
  </div>
{% endblock %}
