{% extends 'AppBundle::RapportSektioner/base.html.twig' %}
{% macro header(key) %}
  {% set calculation = key|get_calculation %}

  <th class="rotate">
    <div>
      {% if calculation is null %}
        <span>{{ key | trans }}</span>
      {% else %}
        <span data-calculation="{{ calculation }}">{{ key | trans }}</span>
      {% endif %}
    </div>
  </th>
{% endmacro %}

{% macro header_unit(key, border_right=false) %}
  {% set translation = key|get_unit %}
  {% set border = border_right ? 'border-right' : '' %}

  <th class="unit {{ border }}">
    {{ translation }}
  </th>
{% endmacro %}

{% macro header_span(key, span) %}
  {% set translation = key|trans %}

  <th colspan="{{ span }}" class="text-center border-right">
    {{ translation }}
  </th>
{% endmacro %}

{% import _self as helper %}

{% set sectionTypeNavn = (('rapportsektion.types.' ~ section.type ) | trans) ~ ' ' ~ section.number ~ '. ' ~ (('bygning_rapporter.strings.' ~ section.tiltagType ~ 'tiltag') | trans) %}
{% block section -%}
  {{ block('section_type') }}
  <div class="section-light-green">
    {% if section.filepath %}
      <div class="section-tiltag-image">
        <img src="{{ absolute_url(asset(section.filepath)) }}" alt=""/>
      </div>
    {% endif %}
    <div class="section-tiltag-effect">
      <div class="section-tiltag-effect-title">Effekt:</div>
      <div class="row">
        <div class="col-xs-4">
          <span class="enlarged">{{ section.potentieltBesparesleCo2 | format_decimal }} <small>tons CO2</small></span>
          <span>sparet årligt</span>
        </div>
        <div class="col-xs-4">
          <span class="enlarged">{{ section.potentieltBesparesleKr | format_decimal(0) }} <small>kr.</small></span>
          <span>sparet årligt</span>
        </div>
        <div class="col-xs-4">
          <span class="enlarged">{{ section.potentieltBesparesleKwh | format_decimal(0) }} <small>kWh</small></span>
          <span>sparet årligt</span>
        </div>
      </div>
    </div>
  </div>

  {% block section_title -%}
    {% if section.sectionTitle %}
      <h1> {{ section.number }}. {{ section.sectionTitle }}</h1>
    {% endif %}
  {% endblock %}
  {% block section_content -%}
    {% if section.text %}
      <div class="section-text">
        {{ section.text | raw }}
      </div>
    {% endif %}
  {% endblock %}

  {% include 'AppBundle::RapportSektioner/_includes/section-page-break.html.twig' %}
  <div class="section-tiltag-details">
    <h2>Forslagsdetaljer</h2>
  </div>
  {% include 'AppBundle::RapportSektioner/_includes/section-page-break.html.twig' with { landscape : 1} %}
  <div class="section-tiltag-details">
    <h2>Detailarke</h2>
    {% if section.tiltag.details is not empty %}
      {% set template = 'AppBundle:' ~ tiltag_type(section.tiltag) ~ 'Tiltag:_detailTablePdf.html.twig' %}
      <div class="panel panel-default page-break-before">
        <div class="panel-heading"><h3 class="panel-title">Skema til: {{ section.tiltag.title }}</h3></div>
        {% include template with {'entity': section.tiltag} %}
      </div>
    {% endif %}

  </div>
{% endblock %}
