{% extends 'AppBundle::base.html.twig' %}

{% block body -%}

    <div class="row heading">
        <div class="col-md-9">
            <h1>{{ 'leverandoer.labels.plural' | trans }}</h1>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-default" href="{{ path('leverandoer_new') }}">
                {{ icon('plus') }} {{ 'leverandoer.actions.add' | trans }}
            </a>
        </div>

    </div>


    <table class="table table-condensed">
        <thead>
        <tr>
            {{ helper.header('appbundle.leverandoer.title') }}
            {{ helper.header() }}
        </tr>
        </thead>
        <tbody>

        {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td class="text-right"><a href="{{ path('leverandoer_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs">{{ 'common.edit' | trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
