{% block extends %}
  {{ "{% extends 'AppBundle::base.html.twig' %}" }}
{% endblock extends %}

{% set class = entity | split('\\') | last | lower %}

{% block body %}
  {{ "{% block body -%}" }}
  <div class="row heading">
    <div class="col-md-9">
      <h1>{{ "{{ '" }}{{ class }}{{ ".actions.edit' | trans }}" }}</h1>
    </div>
    <div class="col-md-3 text-right">
      {{ " {{ form(delete_form) }} " }}
    </div>

  </div>

  {{ '{{ form_start(edit_form) }}' }}
  {%- for field in fields %}
    {{ '
    {{ form_row(edit_form.' }}{{ field | first }}{{ ')}}' }}
  {%- endfor %}
  {{ '

    {{ form_rest(edit_form) }}' }}
  {{ '
  {{ form_end(edit_form) }}' }}

  {% set hide_edit, hide_delete = true, false %}
  {{ "{% endblock %}" }}
{% endblock body %}
