{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <h1>{{ icon('gears') }} {{ 'configuration.labels.singular' | trans }}</h1>

  {{ form_start(edit_form) }}

  <div class="row">
    <div class="col-md-12">
      {{ form_row(edit_form.rapportKalkulationsrente) }}
      {{ form_row(edit_form.rapportDriftomkostningerfaktor) }}
      {{ form_row(edit_form.rapportInflation) }}
      {{ form_row(edit_form.rapportLobetid) }}
      {{ form_row(edit_form.rapportProcentAfInvestering) }}
      {{ form_row(edit_form.rapportNominelEnergiprisstigning) }}
      {{ form_row(edit_form.nutidsvaerdiBeregnAar) }}
    </div>
  </div>

  <h2>Teknisk isolering</h2>

  <div class="row">
    <div class="col-md-12">
      {{ form_row(edit_form.tekniskisoleringVarmeledningsevneEksistLamelmaatter) }}
      {{ form_row(edit_form.tekniskisoleringVarmeledningsevneNyIsolering) }}
    </div>
  </div>

  <h2>Solcelletiltag</h2>

  <div class="row">
    <div class="col-md-12">
      {{ form_row(edit_form.solcelletiltagdetailEnergiprisstigningPctPrAar) }}
      {{ form_row(edit_form.solcelletiltagdetailSalgsprisFoerste10AarKrKWh) }}
      {{ form_row(edit_form.solcelletiltagdetailSalgsprisEfter10AarKrKWh) }}
    </div>
  </div>

  <h2>Fællesomkostninger</h2>

  <div class="row">
    <div class="col-md-12">
      {{ form_row(edit_form.mtmFaellesomkostningerGrundpris) }}
      {{ form_row(edit_form.mtmFaellesomkostningerPrisPrM2) }}
      <div class="form-inline">
        <label class="control-label">Sæt <span class="property">fællesomkostninger</span> til {{ 0 | format_amount(2) }} {{ 'appbundle.configuration.mtmFaellesomkostningerGrundpris' | get_unit }} hvis</label>
        <div>
          <span class="property">{{ 'appbundle.bygning.areal' | trans }}</span> &lt;
          <div class="input-group">
            {{ form_widget(edit_form.mtmFaellesomkostningerNulHvisArealMindreEnd, {label: 'null'}) }}
            <span class="input-group-addon">{{ 'appbundle.configuration.mtmFaellesomkostningerNulHvisArealMindreEnd' | get_unit }}</span>
          </div>
          <strong>eller</strong>
          <span class="property">{{ 'appbundle.rapport.totalEntreprisesum' | trans }}</span> &lt;
          <div class="input-group">
            {{ form_widget(edit_form.mtmFaellesomkostningerNulHvisTotalEntreprisesumMindreEnd) }}
            <span class="input-group-addon">{{ 'appbundle.configuration.mtmFaellesomkostningerNulHvisTotalEntreprisesumMindreEnd' | get_unit }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2>NyKlimaskaerm</h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'appbundle.configuration.tJordMonthly.label' | trans}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        {% for row in edit_form.tJordMonthly %}
          <div class="col-xs-3 col-md-2 padding">{{ form_row(row) }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'appbundle.configuration.tUdeMonthly.label' | trans}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        {% for row in edit_form.tUdeMonthly %}
          <div class="col-xs-3 col-md-2 padding">{{ form_row(row) }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'appbundle.configuration.tOpvarmningTimerAarMonthly.label' | trans}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        {% for row in edit_form.tOpvarmningTimerAarMonthly %}
          <div class="col-xs-3 col-md-2 padding">{{ form_row(row) }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  <h2>Ventilation</h2>
  <div class="row">
    <div class="col-md-6 col-xs-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'appbundle.configuration.grundventilationMatrix.label' | trans}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-3 padding">{{ 'appbundle.configuration.kvalitet' | trans}}</div>
            <div class="col-xs-3 padding">{{ 'appbundle.configuration.kvalitet_1' | trans}}</div>
            <div class="col-xs-3 padding">{{ 'appbundle.configuration.kvalitet_2' | trans}}</div>
            <div class="col-xs-3 padding">{{ 'appbundle.configuration.kvalitet_3' | trans}}</div>
          </div>
          {% for key, row in edit_form.grundventilationMatrix %}
            <div class="row">
              <div class="col-xs-3 padding">{{ ('appbundle.configuration.grundventilationMatrix.' ~ key) | trans}}</div>
                {% for kvalitet in row %}
                  <div class="col-xs-3 padding">{{ form_widget(kvalitet) }}</div>
                {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'appbundle.configuration.udeluftTilfoerselMatrix.label' | trans}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-3 padding">{{ 'appbundle.configuration.kvalitet' | trans}}</div>
            <div class="col-xs-3 padding">{{ 'appbundle.configuration.kvalitet_1' | trans}}</div>
            <div class="col-xs-3 padding">{{ 'appbundle.configuration.kvalitet_2' | trans}}</div>
            <div class="col-xs-3 padding">{{ 'appbundle.configuration.kvalitet_3' | trans}}</div>
          </div>
          {% for key, row in edit_form.udeluftTilfoerselMatrix %}
            <div class="row">
              <div class="col-xs-3 padding">{{ ('appbundle.configuration.udeluftTilfoerselMatrix.' ~ key) | trans}}</div>
                {% for kvalitet in row %}
                  <div class="col-xs-3 padding">{{ form_widget(kvalitet) }}</div>
                {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <h2>Varme</h2>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'appbundle.configuration.varmeEnergiFaktor.label' | trans}}</h3>
        </div>
        <div class="panel-body">
          <table class="table table-condensed">
            <thead>
            <tr>
              <th>{{ 'appbundle.configuration.varmeEnergiFaktor.type' | trans}}</th>
              <th>{{ 'appbundle.configuration.varmeEnergiFaktor.faktor' | trans}}</th>
            </tr>
            </thead>
            <tbody>
            {% for type, faktor in edit_form.varmeEnergiFaktor %}
              <tr>
                <td>{{ ('appbundle.varmeanlaegtiltagdetail.energiType.' ~ type ) | trans }}</td>
                <td>{{ form_widget(faktor) }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'appbundle.configuration.varmePumpeFaktor.label' | trans}}</h3>
        </div>
        <div class="panel-body">
          <table class="table table-condensed">
            <thead>
            <tr>
              <th>{{ 'appbundle.configuration.varmePumpeFaktor.type' | trans}}</th>
              <th>{{ 'appbundle.configuration.varmePumpeFaktor.faktor' | trans}}</th>
            </tr>
            </thead>
            <tbody>
            {% for type, faktor in edit_form.varmePumpeFaktor %}
              <tr>
                <td>{{ ('appbundle.varmeanlaegtiltagdetail.varmePumpeType.' ~ type ) | trans }}</td>
                <td>{{ form_widget(faktor) }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {{ form_rest(edit_form) }}
  {{ form_end(edit_form) }}
{% endblock %}
