{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <h1>{{ icon('gears') }} {{ 'configuration.labels.singular' | trans }}</h1>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed configuration-settings">
        <tr>
          <td>{{ 'appbundle.configuration.rapportKalkulationsrente' | trans }}</td>
          <td>{{ entity.rapportKalkulationsrente | format_percent_nounit }}</td>
          <td>{{ 'appbundle.configuration.rapportKalkulationsrente' | get_unit }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.configuration.rapportDriftomkostningerfaktor' | trans }}</td>
          <td>{{ entity.rapportDriftomkostningerfaktor | format_decimal }}</td>
          <td>{{ 'appbundle.configuration.rapportDriftomkostningerfaktor' | get_unit }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.configuration.rapportInflation' | trans }}</td>
          <td>{{ entity.rapportInflation | format_percent_nounit }}</td>
          <td>{{ 'appbundle.configuration.rapportInflation' | get_unit }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.configuration.rapportLobetid' | trans }}</td>
          <td>{{ entity.rapportLobetid | format_integer }}</td>
          <td>{{ 'appbundle.configuration.rapportLobetid' | get_unit }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.configuration.rapportNominelEnergiprisstigning' | trans }}</td>
          <td>{{ entity.rapportNominelEnergiprisstigning | format_decimal }}</td>
          <td>{{ 'appbundle.configuration.rapportNominelEnergiprisstigning' | get_unit }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.configuration.rapportProcentAfInvestering' | trans }}</td>
          <td>{{ entity.rapportProcentAfInvestering | format_percent_nounit }}</td>
          <td>{{ 'appbundle.configuration.rapportProcentAfInvestering' | get_unit }}</td>
        </tr>
      </table>

      <h2>Teknisk isolering</h2>
      <table class="table table-condensed configuration-settings">
        <tr>
          <td>{{ 'appbundle.configuration.tekniskisoleringVarmeledningsevneEksistLamelmaatter' | trans }}</td>
          <td>{{ entity.tekniskIsoleringVarmeledningsevneEksistLamelmaatter | format_decimal }}</td>
          <td>{{ 'appbundle.configuration.tekniskIsoleringVarmeledningsevneEksistLamelmaatter' | get_unit }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.configuration.tekniskisoleringVarmeledningsevneNyIsolering' | trans }}</td>
          <td>{{ entity.tekniskIsoleringVarmeledningsevneNyIsolering | format_decimal }}</td>
          <td>{{ 'appbundle.configuration.tekniskIsoleringVarmeledningsevneNyIsolering' | get_unit }}</td>
        </tr>
      </table>

      <h2>Solcelletiltag</h2>
      <table class="table table-condensed configuration-settings">
        <tr>
          <td>{{ 'appbundle.configuration.solcelletiltagdetailEnergiprisstigningPctPrAar' | trans }}</td>
          <td>{{ entity.solcelletiltagdetailEnergiprisstigningPctPrAar | format_percent_nounit }}</td>
          <td>{{ 'appbundle.configuration.solcelletiltagdetailEnergiprisstigningPctPrAar' | get_unit }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.configuration.solcelletiltagdetailSalgsprisFoerste10AarKrKWh' | trans }}</td>
          <td>{{ entity.solcelletiltagdetailSalgsprisFoerste10AarKrKWh | format_amount(2) }}</td>
          <td>{{ 'appbundle.configuration.solcelletiltagdetailSalgsprisFoerste10AarKrKWh' | get_unit }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.configuration.solcelletiltagdetailSalgsprisEfter10AarKrKWh' | trans }}</td>
          <td>{{ entity.solcelletiltagdetailSalgsprisEfter10AarKrKWh | format_amount(2) }}</td>
          <td>{{ 'appbundle.configuration.solcelletiltagdetailSalgsprisEfter10AarKrKWh' | get_unit }}</td>
        </tr>
      </table>

      <h2>Fællesomkostninger</h2>
      <table class="table table-condensed configuration-settings">
        <tr>
          <td>{{ 'appbundle.configuration.mtmFaellesomkostningerGrundpris' | trans }}</td>
          <td>{{ entity.mtmFaellesomkostningerGrundpris | format_amount(2) }}</td>
          <td>{{ 'appbundle.configuration.mtmFaellesomkostningerGrundpris' | get_unit }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.configuration.mtmFaellesomkostningerPrisPrM2' | trans }}</td>
          <td>{{ entity.mtmFaellesomkostningerPrisPrM2 | format_amount(2) }}</td>
          <td>{{ 'appbundle.configuration.mtmFaellesomkostningerPrisPrM2' | get_unit }}</td>
        </tr>
        <tr>
          <td>
            Sæt <span class="property">fællesomkostninger</span> til {{ 0 | format_amount(2) }} {{ 'appbundle.configuration.mtmFaellesomkostningerGrundpris' | get_unit }}
            hvis
          </td>
          <td>
            <span class="property">{{ 'appbundle.bygning.areal' | trans }}</span> &lt; {{ entity.mtmFaellesomkostningerNulHvisArealMindreEnd | format_integer }} {{ 'appbundle.configuration.mtmFaellesomkostningerNulHvisArealMindreEnd' | get_unit }}
            <strong>eller</strong>
            <span class="property">{{ 'appbundle.rapport.totalEntreprisesum' | trans }}</span> &lt; {{ entity.mtmFaellesomkostningerNulHvisTotalEntreprisesumMindreEnd | format_amount(2) }} {{ 'appbundle.configuration.mtmFaellesomkostningerNulHvisTotalEntreprisesumMindreEnd' | get_unit }}
          </td>
        </tr>
      </table>

      <h2>Klimaskaerm</h2>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ 'appbundle.configuration.tJordMonthly.label' | trans}}</h3>
            </div>
            <table class="table table-condensed">
              <thead>
                <tr>
                  {% for key, row in entity.tJordMonthly %}
                    {{ helper.header(('appbundle.configuration.tJordMonthly.' ~ key)) }}
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for row in entity.tJordMonthly %}
                    <td class="col-xs-3 col-md-2 padding">{% if row is empty %}--{% else %}{{ row }}{% endif %}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ 'appbundle.configuration.tUdeMonthly.label' | trans}}</h3>
            </div>
            <table class="table table-condensed">
              <thead>
                <tr>
                  {% for key, row in entity.tUdeMonthly %}
                    {{ helper.header(('appbundle.configuration.tUdeMonthly.' ~ key)) }}
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for row in entity.tUdeMonthly %}
                    <td class="col-xs-3 col-md-2 padding">{% if row is empty %}--{% else %}{{ row }}{% endif %}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ 'appbundle.configuration.tOpvarmningTimerAarMonthly.label' | trans}}</h3>
            </div>
            <table class="table table-condensed">
              <thead>
                <tr>
                  {% for key, row in entity.tOpvarmningTimerAarMonthly %}
                    {{ helper.header(('appbundle.configuration.tOpvarmningTimerAarMonthly.' ~ key)) }}
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for row in entity.tOpvarmningTimerAarMonthly %}
                    <td class="col-xs-3 col-md-2 padding">{% if row is empty %}--{% else %}{{ row }}{% endif %}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <h2>Ventilation</h2>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ 'appbundle.configuration.grundventilationMatrix.label' | trans}}</h3>
            </div>
            <table class="table table-condensed">
              <thead>
              <tr>
                  <th>{{ 'appbundle.configuration.kvalitet' | trans}}</th>
                  <th>{{ 'appbundle.configuration.kvalitet_1' | trans}}</th>
                  <th>{{ 'appbundle.configuration.kvalitet_2' | trans}}</th>
                  <th>{{ 'appbundle.configuration.kvalitet_3' | trans}}</th>
              </tr>
              </thead>
              <tbody>
              {% for key, row in entity.grundventilationMatrix %}
                <tr>
                  <td>{{ ('appbundle.configuration.grundventilationMatrix.') ~ key | trans}}</td>
                  {% for kvalitet in row %}
                    <td>{% if kvalitet is empty %}--{% else %}{{ kvalitet }}{% endif %}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ 'appbundle.configuration.udeluftTilfoerselMatrix.label' | trans}}</h3>
            </div>
            <table class="table table-condensed">
              <thead>
              <tr>
                  <th>{{ 'appbundle.configuration.kvalitet' | trans}}</th>
                  <th>{{ 'appbundle.configuration.kvalitet_1' | trans}}</th>
                  <th>{{ 'appbundle.configuration.kvalitet_2' | trans}}</th>
                  <th>{{ 'appbundle.configuration.kvalitet_3' | trans}}</th>
              </tr>
              </thead>
              <tbody>
              {% for key, row in entity.udeluftTilfoerselMatrix %}
                <tr>
                  <td>{{ ('appbundle.configuration.udeluftTilfoerselMatrix.' ~ key) | trans}}</td>
                  {% for kvalitet in row %}
                    <td>{% if kvalitet is empty %}--{% else %}{{ kvalitet }}{% endif %}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <a href="{{ path('configuration_edit') }}" class="btn btn-default">
    {{ 'common.edit' | trans }}
  </a>
{% endblock %}
