{% trans_default_domain 'FOSUserBundle' %}

<h1>{{ 'change_password.submit'|trans }}</h1>

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
  {{ form_widget(form) }}
  <div class="form-group">
    <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary"/>
  </div>
</form>
