{% extends 'AppBundle::base.html.twig' %}
{% import 'AppBundle::_includes/aaplus.html.twig' as aaplus %}

{% block body -%}
  <div class="row heading">
    <div class="col-md-9">
      <h1>{{ 'virksomhed_rapporter.actions.edit' | trans }}</h1>
    </div>
    <div class="col-md-3 text-right">
      {% if entity.virksomhed.baseline %}
        <a href="{{ path('baseline_show', { 'id': entity.virksomhed.baseline.id }) }}" class="btn btn-default">{{ icon('sliders') }} {{ 'baseline.actions.korriger' | trans }}</a>
      {% endif %}
    </div>

  </div>

  {{ form_start(show_form) }}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'common.generelt' | trans }}</h3>
    </div>
    <div class="panel-body">
      <div class="col-xs-12 col-md-6">
        {{ form_row(show_form.datering) }}
        {{ aaplus.form_row_decimal('appbundle.virksomhed_rapport.energibudgetEl', entity.energibudgetEl, 'appbundle.virksomhed_rapport.energibudgetEl.unit') }}
      </div>
      <div class="col-xs-12 col-md-6">
        {{ form_row(show_form.energiscreening) }}
        {{ form_row(show_form.faktorPaaVarmebesparelse) }}
      </div>
      <div class="col-xs-12 col-md-6">
        {{ aaplus.form_row_decimal('appbundle.virksomhed_rapport.energibudgetVarme', entity.energibudgetVarme, 'appbundle.virksomhed_rapport.energibudgetVarme.unit') }}
      </div>
      <div class="col-xs-12 col-md-6">
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'virksomhed_rapporter.groups.baseline_data' | trans }}</h3>
    </div>
    <div class="panel-body">
      <div class="col-xs-12 col-md-6">
        {{ form_row(show_form.BaselineEl) }}
        {{ form_row(show_form.BaselineVarmeGUF) }}
        {{ form_row(show_form.BaselineVarmeGAF) }}
        {{ form_row(show_form.BaselineBraendstof) }}
      </div>
      <div class="col-xs-12 col-md-6">
        {{ form_row(show_form.BaselineStrafAfkoeling) }}
      </div>
    </div>
  </div>

  {{ form_rest(show_form) }}
  {{ form_end(show_form) }}

{% endblock %}
