<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">{{ icon('balance-scale') }} {{ 'common.result_overview' | trans }}</h3></div>

      <table class="table table-condensed table-fixed">
        <tbody>
        <tr>
          <th>{{ 'appbundle.virksomhed_rapport.forbrugFoer' | trans }}:</th>
          <td class="text-right">{{ entity.forbrugFoer | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.forbrugFoer.unit' | trans }}</td>
          <th>{{ 'appbundle.virksomhed_rapport.forbrugEfter' | trans }}:</th>
          <td class="text-right">{{ entity.forbrugEfter | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.forbrugEfter.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.virksomhed_rapport.forbrugFoerKr' | trans }}:</th>
          <td class="text-right">{{ entity.forbrugFoerKr | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.forbrugFoerKr.unit' | trans }}</td>
          <th>{{ 'appbundle.virksomhed_rapport.forbrugEfterKr' | trans }}:</th>
          <td class="text-right">{{ entity.forbrugEfterKr | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.forbrugEfterKr.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.virksomhed_rapport.forbrugFoerCo2' | trans }}:</th>
          <td class="text-right">{{ entity.forbrugFoerCo2 | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.forbrugFoerCo2.unit' | trans }}</td>
          <th>{{ 'appbundle.virksomhed_rapport.forbrugEfterCo2' | trans }}:</th>
          <td class="text-right">{{ entity.forbrugEfterCo2 | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.forbrugEfterCo2.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.virksomhed_rapport.samletEnergiBesparelse' | trans }}:<div class="calculation-expression hidden">{{ entity.expr('samletEnergibesparelse') }}</div></th>
          <td class="text-right">{{ entity.samletEnergibesparelse | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.samletEnergiBesparelse.unit' | trans }}</td>

          <th>{{ 'appbundle.virksomhed_rapport.co2BesparelseFaktor' | trans }}:</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th class="indent">{{ 'appbundle.virksomhed_rapport.besparelseEl' | trans }}<div class="calculation-expression hidden">{{ entity.expr('besparelseEl') }}</div></th>
          <td class="text-right">{{ entity.besparelseEl | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.besparelseEl.unit' | trans }}</td>

          <th class="indent">{{ 'appbundle.virksomhed_rapport.co2BesparelseSamletFaktor' | trans }}<div class="calculation-expression hidden">{{ entity.expr('co2BesparelseSamletFaktor') }}</div></th>
          <td class="text-right">{{ entity.co2BesparelseSamletFaktor | format_percent_nounit }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.co2BesparelseSamletFaktor.unit' | trans }}</td>
        </tr>
        <tr>
          <th class="indent">{{ 'appbundle.virksomhed_rapport.besparelseVarmeGAF' | trans }}<div class="calculation-expression hidden">{{ entity.expr('besparelseVarmeGAF') }}</div></th>
          <td class="text-right">{{ entity.besparelseVarmeGAF | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.besparelseVarmeGAF.unit' | trans }}</td>
          <th class="indent">{{ 'appbundle.virksomhed_rapport.co2BesparelseElFaktor' | trans }}<div class="calculation-expression hidden">{{ entity.expr('co2BesparelseElFaktor') }}</div></th>
          <td class="text-right">{{ entity.co2BesparelseElFaktor | format_percent_nounit }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.co2BesparelseElFaktor.unit' | trans }}</td>
        </tr>
        <tr>
          <th class="indent">{{ 'appbundle.virksomhed_rapport.besparelseVarmeGUF' | trans }}<div class="calculation-expression hidden">{{ entity.expr('besparelseVarmeGUF') }}</div></th>
          <td class="text-right">{{ entity.besparelseVarmeGUF | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.besparelseVarmeGUF.unit' | trans }}</td>
          <th class="indent">{{ 'appbundle.virksomhed_rapport.co2BesparelseVarmeFaktor' | trans }}<div class="calculation-expression hidden">{{ entity.expr('co2BesparelseVarmeFaktor') }}</div></th>
          <td class="text-right">{{ entity.co2BesparelseVarmeFaktor | format_percent_nounit }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.co2BesparelseVarmeFaktor.unit' | trans }}</td>
        </tr>
        <tr>
          <th class="indent">{{ 'appbundle.virksomhed_rapport.besparelseBraendstof' | trans }}<div class="calculation-expression hidden">{{ entity.expr('besparelseBraendstof') }}</div></th>
          <td class="text-right">{{ entity.besparelseBraendstof | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.besparelseBraendstof.unit' | trans }}</td>
          <th class="indent">{{ 'appbundle.virksomhed_rapport.co2BesparelseBraendstofFaktor' | trans }}<div class="calculation-expression hidden">{{ entity.expr('co2BesparelseBraendstofFaktor') }}</div></th>
          <td class="text-right">{{ entity.co2BesparelseBraendstofFaktor | format_percent_nounit }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.co2BesparelseBraendstofFaktor.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.virksomhed_rapport.samletEnergiBesparelseKr' | trans }}<div class="calculation-expression hidden">{{ entity.expr('samletEnergibesparelseKr') }}</div></th>
          <td class="text-right">{{ entity.samletEnergibesparelseKr | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.samletEnergiBesparelseKr.unit' | trans }}</td>
          <th>{{ 'appbundle.virksomhed_rapport.co2besparelser' | trans }}:</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>{{ 'appbundle.virksomhed_rapport.erhvervsareal' | trans }}<div class="calculation-expression hidden">{{ entity.expr('erhvervsareal') }}</div></th>
          <td class="text-right">{{ entity.erhvervsareal | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.erhvervsareal.unit' | trans }}</td>
          <th class="indent">{{ 'appbundle.virksomhed_rapport.besparelseCO2' | trans }}<div class="calculation-expression hidden">{{ entity.expr('besparelseCO2') }}</div></th>
          <td class="text-right">{{ entity.besparelseCO2 | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.besparelseCO2.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.virksomhed_rapport.opvarmetareal' | trans }}<div class="calculation-expression hidden">{{ entity.expr('opvarmetareal') }}</div></th>
          <td class="text-right">{{ entity.opvarmetareal | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.opvarmetareal.unit' | trans }}</td>
          <th class="indent">{{ 'appbundle.virksomhed_rapport.besparelseCO2el' | trans }}<div class="calculation-expression hidden">{{ entity.expr('co2BesparelseEl') }}</div></th>
          <td class="text-right">{{ entity.co2BesparelseEl | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.besparelseCO2el.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.virksomhed_rapport.uOpvarmetareal' | trans }}<div class="calculation-expression hidden">{{ entity.expr('uOpvarmetareal') }}</div></th>
          <td class="text-right">{{ entity.uOpvarmetareal | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.uOpvarmetareal.unit' | trans }}</td>
          <th class="indent">{{ 'appbundle.virksomhed_rapport.besparelseCO2varme' | trans }}<div class="calculation-expression hidden">{{ entity.expr('co2BesparelseVarme') }}</div></th>
          <td class="text-right">{{ entity.co2BesparelseVarme | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.besparelseCO2varme.unit' | trans }}</td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <th class="indent">{{ 'appbundle.virksomhed_rapport.co2BesparelseBraendstofITon' | trans }}<div class="calculation-expression hidden">{{ entity.expr('co2BesparelseBraendstofITon') }}</div></th>
          <td class="text-right">{{ entity.co2BesparelseBraendstofITon | format_decimal }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.co2BesparelseBraendstofITon.unit' | trans }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">{{ icon('line-chart') }} {{ 'appbundle.virksomhed_rapport.akkumuleretNutidsvaerdiSet' | trans }}</h3></div>

      <div class="panel-body">
        {%  set linje_graf_label = (('appbundle.virksomhed_rapport.akkumuleretNutidsvaerdiSet' | trans) ~ ', ' ~ ('appbundle.virksomhed_rapport.akkumuleretNutidsvaerdiSet.unit' | trans)) %}
        {% include 'AppBundle::_includes/linje_graf_years.html.twig' with { 'linje_graf_data' : entity.akkumuleretNutidsvaerdiSet } %}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">{{ icon('dollar') }} {{ 'common.finans' | trans }}</h3></div>

      <table class="table table-condensed">
        <tbody>
        <tr>
          <th>{{ 'appbundle.virksomhed_rapport.faellesomkostninger' | trans }}:</th>
          <td></td>
          <td></td>
          <th>{{ 'appbundle.virksomhed_rapport.totalEntreprisesum' | trans }}<div class="calculation-expression hidden">{{ entity.expr('anlaegsinvestering') }}</div></th>
          <td class="text-right">{{ entity.anlaegsinvestering | format_amount }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.totalEntreprisesum.unit' | trans }}</td>
        </tr>
        <tr>
          <td class="indent">{{ 'appbundle.virksomhed_rapport.energiscreening' | trans }}<div class="calculation-expression hidden">{{ entity.expr('energiscreening') }}</div></td>
          <td class="text-right">{{ entity.energiscreening | format_amount }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.energiscreening.unit' | trans }}</td>
          <th>{{ 'appbundle.virksomhed_rapport.investeringEksFaellesomkostninger' | trans }}<div class="calculation-expression hidden">{{ entity.expr('investeringEksFaellesomkostninger') }}</div></th>
          <td class="text-right">{{ entity.investeringEksFaellesomkostninger | format_amount }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.investeringEksFaellesomkostninger.unit' | trans }}</td>
        </tr>
        <tr class="hidden">
          <td class="indent">{{ 'appbundle.virksomhed_rapport.mtmFaellesomkostninger' | trans }}<div class="calculation-expression hidden">{{ entity.expr('mtmFaellesomkostninger') }}</div></td>
          <td class="text-right">{{ entity.mtmFaellesomkostninger | format_amount }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.mtmFaellesomkostninger.unit' | trans }}</td>
          <th>{{ 'appbundle.virksomhed_rapport.investeringInklFaellesomkostninger' | trans }}<div class="calculation-expression hidden">{{ entity.expr('investeringInklFaellesomkostninger') }}</div></th>
          <td class="text-right">{{ entity.investeringInklFaellesomkostninger | format_amount }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.investeringInklFaellesomkostninger.unit' | trans }}</td>
        </tr>
        <tr>
          <td class="indent">{{ 'appbundle.virksomhed_rapport.implementering' | trans }}<div class="calculation-expression hidden">{{ entity.expr('implementering') }}</div></td>
          <td class="text-right">{{ entity.implementering | format_amount }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.implementering.unit' | trans }}</td>
          <th>{{ 'appbundle.virksomhed_rapport.nutidsvaerdiInklFaellesomkostninger' | trans }}<div class="calculation-expression hidden">{{ entity.expr('nutidsvaerdiSetOver15AarKr') }}</div></th>
          <td class="text-right">{{ entity.nutidsvaerdiSetOver15AarKr | format_amount }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.nutidsvaerdiInklFaellesomkostninger.unit' | trans }}</td>
        </tr>
        <tr>
          <th class="indent"></th>
          <td class="text-right"></td>
          <td></td>
          <th>{{ 'appbundle.virksomhed_rapport.besparelseAarEt' | trans }}<div class="calculation-expression hidden">{{ entity.expr('besparelseAarEt') }}</div></th>
          <td class="text-right">{{ entity.besparelseAarEt | format_amount }}</td>
          <td>{{ 'appbundle.virksomhed_rapport.besparelseAarEt.unit' | trans }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
