{% extends 'AppBundle::pdf.html.twig' %}

{% block body -%}

  <div class="portrait">
    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Indledning</h2>
        <p>[[ Indledning teksten]]</p>
      </div>
    </div>
    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Forudsætninger for energisynet</h2>
        <p>[[ Forudsætninger for energisynet teksten]]</p>
        <h4>Energifordeling:</h4>
        <table>
          <tr>
            <th>Energiart</th>
            <th>kWh/år</th>
            <th>%</th>
          </tr>
          <tr>
            <td>EL</td>
            <td>{{ rapport.besparelseEl }}</td>
            <td>{{ rapport.besparelseEl | format_percent_of(rapport.samletEnergibesparelse) }} </td>
          </tr>
          <tr>
            <td>Varme</td>
            <td>{{ rapport.getBesparelseVarme() }}</td>
            <td>{{ rapport.getBesparelseVarme() | format_percent_of(rapport.samletEnergibesparelse) }} </td>
          </tr>
          <tr>
            <td>Brændstof</td>
            <td>{{ rapport.besparelseBraendstof }}</td>
            <td>{{ rapport.besparelseBraendstof | format_percent_of(rapport.samletEnergibesparelse) }} </td>
          </tr>
          <tr>
            <td>Sum energi</td>
            <td>{{ rapport.samletEnergibesparelse }}</td>
            <td>100</td>
          </tr>
        </table>

        [[ lagkagediagram ]]
        <p>[[ lagkagediagram analyse]]</p>

      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Konklusion</h2>
        <p>[[ Konklusion teksten]]</p>
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Bilagsoversigt</h2>
        <p>Bilag 1: Energiscreening af el og varme i bygninger</p>
      </div>
      <div class="col-xs-12">
        <h2>Underskrifter</h2>
        <p>Før energisynsrapporten indsendes til Energistyrelsen, skal den underskrives af virksomhedens ejer og energisynskonsulenten.</p>
        <table>
          <tr>
            <td>For <strong>{{ rapport.virksomhed.name }}</strong><br/>
              Facility Manager<br/>
              {{ rapport.virksomhed.contactPersons[0] }}
            </td>
            <td>For <strong>SEAS-NVE</strong>
              <br/>
              {{ rapport.virksomhed.kam }}
            </td>
          </tr>
          <tr>
            <td>Dato: {{ rapport.Datering|date('d F Y') }}</td>
            <td>Dato: {{ rapport.Datering|date('d F Y') }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Virksomhedsdata</h2>
        <p>{{ include ('AppBundle:Virksomhed:show-embed.html.twig', {entity: rapport.virksomhed}) }}</p>
        <h3>Datterselskaber</h3>
        {% for datterSelskab in rapport.virksomhed.datterSelskaber %}
          <p>{{ include ('AppBundle:Virksomhed:show-embed.html.twig', {entity: datterSelskab}) }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Beskrivelse af virksomheden</h2>
        <p>[[ Beskrivelse af virksomheden teksten]]</p>
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Energiportefølge</h2>
        <p>Energi portefølje omfatter forbrug af el og varme til bygninger og brændstof til biler og maskiner.</p>
        <p>I det følgende er de enkelte afsnit opdelt i elforbrug, varmeforbrug og i brændstofforbrug.</p>

        <p>[[ Overordnet forbrug lagkagediagram ]]
        <p>[[ Overordnet table ]]
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Elforbrug, alle afdelinger</h2>
        <p>Fordeling af elforbruget for hver afdeling fremgår desuden af følgende diagram.</p>

        <p>[[ Elforbrug, alle afdelinger lagkagediagram ]]</p>
        <p>[[ Elforbrug, alle afdelinger table ]]</p>
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Varmeforbrug, alle afdelinger</h2>
        <p>På tilsvarende måde er varmeforbruget opgjort til hver afdeling og vist i følgende skema og efterfølgende diagram med fordeling på hver afdeling.</p>
        <p>Samtlige forbrug er opgjort i kWh så de er sammenlignelige.</p>

        <p>[[ Varmeforbrug, alle afdelinger lagkagediagram ]]</p>
        <p>[[ Varmeforbrug, alle afdelinger table ]]</p>
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Brændstof, alle afdelinger</h2>
        <p>[[ Brændstof teksten]]</p>

        <p>[[ Brændstof, alle afdelinger lagkagediagram ]]</p>
        <p>[[ Brændstof, alle afdelinger table ]]</p>
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Besparelser opdelt i afdelinger</h2>
        <p>[[ Besparelser lagkagediagram {{ rapport.virksomhed }} ]]</p>
        {% for datterSelskab in rapport.virksomhed.datterSelskaber %}
          <p>[[ Besparelser lagkagediagram {{ datterSelskab.virksomhed }} ]]</p>
        {% endfor %}
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Brændstof, alle afdelinger</h2>
        <p>[[ Brændstofforbruget teksten ]]</p>
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Sum energiforbrug og brændstofudgifter</h2>
        <p>I følgende skema er vist det samlede energiforbrug for alle afdelinger.
          Samtlige forbrug er opgjort i kWh/år så de er sammenlignelige.</p>

        <p>[[ Sum energiforbrug og brændstofudgifter lagkagediagram ]]</p>
        <p>[[ Sum energiforbrug og brændstofudgifter table ]]</p>
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Kortlægning og analyser</h2>
        <h3>Kortlægning og analyse af elforbrug i afdelinger</h3>
        <p>Ud fra besigtigelse og registrering er elforbruget kortlagt og fordelt efter anvendelse.</p>

        <p>[[ Kortlægning og analyse af elforbrug i afdelinger {{ rapport.virksomhed }} lagkagediagram ]]</p>
        <p>[[ Kortlægning og analyse af elforbrug i afdelinger {{ rapport.virksomhed }} table ]]</p>
        {% for datterSelskab in rapport.virksomhed.datterSelskaber %}
          <p>[[ Kortlægning og analyse af elforbrug i afdelinger {{ datterSelskab.virksomhed }} lagkagediagram ]]</p>
          <p>[[ Kortlægning og analyse af elforbrug i afdelinger {{ datterSelskab.virksomhed }} table ]]</p>
        {% endfor %}

        <p>[[ Nøgletal elforbrug, kWh/m2 table ]]</p>
        <p>[[ Nøgletal table teksten ]]</p>

        <h3>Kortlægning og analyse af varmeforbrug i bygninger og forslag til energibesparelser</h3>
        <p>Ud fra besigtigelse og registrering er varmeforbrug kortlagt og fordelt efter anvendelse.</p>

        <p>[[ Kortlægning og analyse af varmeforbrug i afdelinger {{ rapport.virksomhed }} lagkagediagram ]]</p>
        <p>[[ Kortlægning og analyse af varmeforbrug i afdelinger {{ rapport.virksomhed }} table ]]</p>
        {% for datterSelskab in rapport.virksomhed.datterSelskaber %}
          <p>[[ Kortlægning og analyse af varmeforbrug i afdelinger {{ datterSelskab.virksomhed }} lagkagediagram ]]</p>
          <p>[[ Kortlægning og analyse af varmeforbrug i afdelinger {{ datterSelskab.virksomhed }} table ]]</p>
        {% endfor %}

        <p>[[ Nøgletal varmeforbrug, kWh/m2 table ]]</p>
        <p>[[ Nøgletal table teksten ]]</p>

        <h3>Kortlægning og analyse af brændstof i bygninger og forslag til energibesparelser</h3>
        <p>Ud fra besigtigelse og registrering er brændstof kortlagt og fordelt efter anvendelse.</p>

        <p>[[ Kortlægning og analyse af brændstof i afdelinger {{ rapport.virksomhed }} lagkagediagram ]]</p>
        <p>[[ Kortlægning og analyse af brændstof i afdelinger {{ rapport.virksomhed }} table ]]</p>
        {% for datterSelskab in rapport.virksomhed.datterSelskaber %}
          <p>[[ Kortlægning og analyse af brændstof i afdelinger {{ datterSelskab.virksomhed }} lagkagediagram ]]</p>
          <p>[[ Kortlægning og analyse af brændstof i afdelinger {{ datterSelskab.virksomhed }} table ]]</p>
        {% endfor %}

        <p>[[ Nøgletal brændstof, kWh/m2 table ]]</p>
        <p>[[ Nøgletal table teksten ]]</p>

      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Forslag til energibesparelser på el og varme</h2>
        <div>
          {{ include ('AppBundle:Virksomhed:show-embed-overview.html.twig', {entity: rapport.virksomhed}) }}
        </div>
        {% for datterSelskab in rapport.virksomhed.datterSelskaber %}
          <div>
            {{ include ('AppBundle:Virksomhed:show-embed-overview.html.twig', {entity: datterSelskab}) }}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Bilag 2: Screening af energibesparelser på el, varme og brændstof</h2>
        <p>Screening af energibesparelser fremgår af bilag 1 som del 2 til energisynsrapporten.</p>
      </div>
    </div>


  </div>

{% endblock %}
