{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  {% if calculation_changes is defined and calculation_changes %}

    {% form_theme calculate_form 'AppBundle:Form:calculateVirksomhedRapportConfirmModalForm.html.twig' %}
    {% if calculate_form and is_granted('VIRKSOMHED_RAPPORT_EDIT', entity) %}
      {{ form_start(calculate_form) }}

      <!-- Modal -->
      <div class="modal fade" id="modal-calculate-rapport" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title text-left" id="myModalLabel">{{ 'virksomhed_rapporter.confirmation.re-calculate' | trans }}</h4>
            </div>
            <div class="modal-body text-left">
              {% if entity.calculationWarnings %}
                <div class="alert alert-warning">
                  <p><strong>{{ 'Incomplete calculation' | trans }}</strong></p>
                  {{ calculationWarnings.renderMessagesInline(calculation_warnings) }}
                </div>
              {% endif %}
              <p><strong>{{ 'common.changes' | trans }}:</strong></p>
              <div class="aaplus-calculation-changes-wrapper">
                {% include 'AppBundle:_includes:calculation_changes_show.html.twig' %}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel' | trans }}</button>
              {{ form_widget(calculate_form) }}
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end -->

      {{ form_end(calculate_form) }}
    {% endif %}

  {% endif %}
  <div class="row heading">
    <div class="col-md-2">
      <h1>
        <nobr>
          {{ icon('file-text-o') }}
          {{ 'virksomhed_rapporter.labels.singular' | trans }}
        </nobr>
      </h1>
    </div>
    <div class="col-md-10 text-right">
      {% if calculate_form and is_granted('VIRKSOMHED_RAPPORT_EDIT', entity) %}
        {% if calculation_changes is defined and calculation_changes is not empty%}
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-calculate-rapport">{{ icon( 'calculator' ) }} {{ 'virksomhed_rapporter.actions.re-calculate' | trans }}</button>
        {% else %}
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-calculate-rapport" disabled>{{ icon( 'calculator' ) }} {{ 'virksomhed_rapporter.actions.re-calculate' | trans }}</button>
        {% endif %}
      {% endif %}
      {% if entity.virksomhed.baseline %}
        <a href="{{ path('virksomhed_rapport_show_baseline', { 'id': entity.id }) }}" class="btn btn-default">
          {{ 'appbundle.virksomhed.baseline' | trans }}
        </a>
      {% endif %}
      <a href="{{ path('virksomhed_kortlaegning', { 'id': entity.virksomhed.id }) }}" class="btn btn-default">
        {{ 'appbundle.virksomhed.kortlaegning' | trans }}
      </a>
      <a href="{{ path_with_access_token('virksomhed_rapport_show_pdf2', { 'id': entity.id }) }}" class="btn btn-default">
        {{ icon('file-pdf-o') }} {{ 'virksomhed_rapporter.actions.pdf2' | trans }}
      </a>
      <a href="{{ path_with_access_token('virksomhed_rapport_show_pdf5', { 'id': entity.id }) }}" class="btn btn-default">
        {{ icon('file-pdf-o') }} {{ 'virksomhed_rapporter.actions.pdf5' | trans }}
      </a>
      <a class="btn btn-default" href="{{ path_with_access_token('virksomhed_rapport_filer', { 'id': entity.id }) }}">
        {{ icon('file') }} {{ 'virksomhed_rapporter.actions.filer' | trans }}
      </a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">{{ icon('home') }} {{ 'common.data' | trans }}</h3></div>

    <table class="table table-condensed">
      <tbody>
      <tr>
        <th>{{ 'appbundle.virksomhed_rapport.version' | trans }}</th>
        <td>{{ entity.version }}</td>
      </tr>
      <tr>
        <th>{{ 'appbundle.virksomhed_rapport.virksomhed' | trans }}</th>
        <td><a href="{{ path_with_access_token('virksomhed_show', { 'id': entity.virksomhed.id }) }}">{{ entity.virksomhed }}</a></td>
      </tr>
      <tr>
        <th>{{ 'appbundle.virksomhed_rapport.datering' | trans }}</th>
        <td>{{ entity.datering | date('Y-m-d') }}</td>
      </tr>
      <tr class="hidden">
        <th>{{ 'appbundle.virksomhed_rapport.elena' | trans }}</th>
        <td>{{ entity.elena | b2icon }}</td>
      </tr>
      <tr class="hidden">
        <th>{{ 'appbundle.virksomhed_rapport.ava' | trans }}</th>
        <td>{{ entity.ava | b2icon }}</td>
      </tr>
      <tr>
        <th>{{ 'common.updatedAt' | trans }}</th>
        <td>{{ entity.updatedAt | date('Y-m-d  H:i') }}, {{ entity.updatedBy }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">{{ icon('balance-scale') }} {{ 'common.result_overview' | trans }}</h3></div>

    <table class="table table-condensed table-fixed">
      <tbody>
      <tr>
        <th>{{ 'appbundle.virksomhed_rapport.energibesparelser' | trans }}:</th>
        <td></td>
        <td></td>
        <th>{{ 'appbundle.virksomhed_rapport.co2BesparelseFaktor' | trans }}:</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th class="indent">{{ 'appbundle.virksomhed_rapport.besparelseEl' | trans }}<div class="calculation-expression hidden">{{ entity.expr('besparelseEl') }}</div></th>
        <td class="text-right">{{ entity.besparelseEl | format_decimal }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.besparelseEl.unit' | trans }}</td>

        <th class="indent">{{ 'appbundle.virksomhed_rapport.co2BesparelseSamletFaktor' | trans }}<div class="calculation-expression hidden">{{ entity.expr('co2BesparelseSamletFaktor') }}</div></th>
        <td class="text-right">{{ entity.co2BesparelseSamletFaktor | format_percent_nounit }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.co2BesparelseSamletFaktor.unit' | trans }}</td>
      </tr>
      <tr>
        <th class="indent">{{ 'appbundle.virksomhed_rapport.besparelseVarmeGAF' | trans }}<div class="calculation-expression hidden">{{ entity.expr('besparelseVarmeGAF') }}</div></th>
        <td class="text-right">{{ entity.besparelseVarmeGAF | format_decimal }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.besparelseVarmeGAF.unit' | trans }}</td>
        <th class="indent">{{ 'appbundle.virksomhed_rapport.co2BesparelseElFaktor' | trans }}<div class="calculation-expression hidden">{{ entity.expr('co2BesparelseElFaktor') }}</div></th>
        <td class="text-right">{{ entity.co2BesparelseElFaktor | format_percent_nounit }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.co2BesparelseElFaktor.unit' | trans }}</td>
      </tr>
      <tr>
        <th class="indent">{{ 'appbundle.virksomhed_rapport.besparelseVarmeGUF' | trans }}<div class="calculation-expression hidden">{{ entity.expr('besparelseVarmeGUF') }}</div></th>
        <td class="text-right">{{ entity.besparelseVarmeGUF | format_decimal }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.besparelseVarmeGUF.unit' | trans }}</td>
        <th class="indent">{{ 'appbundle.virksomhed_rapport.co2BesparelseVarmeFaktor' | trans }}<div class="calculation-expression hidden">{{ entity.expr('co2BesparelseVarmeFaktor') }}</div></th>
        <td class="text-right">{{ entity.co2BesparelseVarmeFaktor | format_percent_nounit }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.co2BesparelseVarmeFaktor.unit' | trans }}</td>
      </tr>
      <tr>
        <th class="indent">{{ 'appbundle.virksomhed_rapport.besparelseBraendstof' | trans }}<div class="calculation-expression hidden">{{ entity.expr('besparelseBraendstof') }}</div></th>
        <td class="text-right">{{ entity.besparelseBraendstof | format_decimal }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.besparelseBraendstof.unit' | trans }}</td>

        <th class="indent">{{ 'appbundle.virksomhed_rapport.co2BesparelseBraendstof' | trans }}<div class="calculation-expression hidden">{{ entity.expr('co2BesparelseBraendstof') }}</div></th>
        <td class="text-right">{{ entity.co2BesparelseBraendstof | format_percent_nounit }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.co2BesparelseBraendstof.unit' | trans }}</td>
      </tr>
      <tr>
        <th>{{ 'appbundle.virksomhed_rapport.erhvervsareal' | trans }}<div class="calculation-expression hidden">{{ entity.expr('erhvervsareal') }}</div></th>
        <td class="text-right">{{ entity.erhvervsareal | format_decimal }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.erhvervsareal.unit' | trans }}</td>
        <th>{{ 'appbundle.virksomhed_rapport.co2besparelser' | trans }}:</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>{{ 'appbundle.virksomhed_rapport.opvarmetareal' | trans }}<div class="calculation-expression hidden">{{ entity.expr('opvarmetareal') }}</div></th>
        <td class="text-right">{{ entity.opvarmetareal | format_decimal }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.opvarmetareal.unit' | trans }}</td>
        <th class="indent">{{ 'appbundle.virksomhed_rapport.besparelseCO2' | trans }}<div class="calculation-expression hidden">{{ entity.expr('besparelseCO2') }}</div></th>
        <td class="text-right">{{ entity.besparelseCO2 | format_decimal }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.besparelseCO2.unit' | trans }}</td>
      </tr>
      <tr>
        <th>{{ 'appbundle.virksomhed_rapport.uOpvarmetareal' | trans }}<div class="calculation-expression hidden">{{ entity.expr('uOpvarmetareal') }}</div></th>
        <td class="text-right">{{ entity.uOpvarmetareal | format_decimal }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.uOpvarmetareal.unit' | trans }}</td>
        <th class="indent">{{ 'appbundle.virksomhed_rapport.besparelseCO2el' | trans }}<div class="calculation-expression hidden">{{ entity.expr('co2BesparelseEl') }}</div></th>
        <td class="text-right">{{ entity.co2BesparelseEl | format_decimal }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.besparelseCO2el.unit' | trans }}</td>
      </tr>
      <tr>
        <td colspan="3" rowspan="2"></td>
        <th class="indent">{{ 'appbundle.virksomhed_rapport.besparelseCO2varme' | trans }}<div class="calculation-expression hidden">{{ entity.expr('co2BesparelseVarme') }}</div></th>
        <td class="text-right">{{ entity.co2BesparelseVarme | format_decimal }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.besparelseCO2varme.unit' | trans }}</td>
      </tr>
      <tr>
        <th class="indent">{{ 'appbundle.virksomhed_rapport.co2BesparelseBraendstofITon' | trans }}<div class="calculation-expression hidden">{{ entity.expr('co2BesparelseBraendstofITon') }}</div></th>
        <td class="text-right">{{ entity.co2BesparelseBraendstofITon | format_decimal }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.co2BesparelseBraendstofITon.unit' | trans }}</td>
      </tr>
      </tbody>
    </table>

  </div>


  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">{{ icon('line-chart') }} {{ 'appbundle.virksomhed_rapport.likviditetsoversigt' | trans }}</h3></div>

    <div class="panel-body">
      {% include('AppBundle::_includes/finansiering_graf.html.twig') %}

      {% if is_granted('VIRKSOMHED_RAPPORT_EDIT', entity) and edit_form %}
        {% form_theme edit_form 'AppBundle:Form:aaplus-bootstrap.html.twig' %}
        {{ form(edit_form, { 'style': 'inline' }) }}
      {% else %}
        {{ 'appbundle.virksomhed_rapport.laanLoebetid' | trans }}:
        {{ entity.laanLoebetid }} {{ 'appbundle.virksomhed_rapport.laanLoebetid.unit' | trans }}
      {% endif %}

      {% include('AppBundle::_includes/finansiering_likviditetsoverblik.html.twig') %}
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">{{ icon('dollar') }} {{ 'common.finans' | trans }}</h3></div>

    <table class="table table-condensed">
      <tbody>
      <tr>
        <th>{{ 'appbundle.virksomhed_rapport.faellesomkostninger' | trans }}:</th>
        <td></td>
        <td></td>
        <th>{{ 'appbundle.virksomhed_rapport.totalEntreprisesum' | trans }}<div class="calculation-expression hidden">{{ entity.expr('anlaegsinvestering') }}</div></th>
        <td class="text-right">{{ entity.anlaegsinvestering | format_amount }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.totalEntreprisesum.unit' | trans }}</td>
      </tr>
      <tr>
        <td class="indent">{{ 'appbundle.virksomhed_rapport.energiscreening' | trans }}<div class="calculation-expression hidden">{{ entity.expr('energiscreening') }}</div></td>
        <td class="text-right">{{ entity.energiscreening | format_amount }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.energiscreening.unit' | trans }}</td>
        <th>{{ 'appbundle.virksomhed_rapport.investeringEksFaellesomkostninger' | trans }}<div class="calculation-expression hidden">{{ entity.expr('investeringEksFaellesomkostninger') }}</div></th>
        <td class="text-right">{{ entity.investeringEksFaellesomkostninger | format_amount }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.investeringEksFaellesomkostninger.unit' | trans }}</td>
      </tr>
      <tr class="hidden">
        <td class="indent">{{ 'appbundle.virksomhed_rapport.mtmFaellesomkostninger' | trans }}<div class="calculation-expression hidden">{{ entity.expr('mtmFaellesomkostninger') }}</div></td>
        <td class="text-right">{{ entity.mtmFaellesomkostninger | format_amount }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.mtmFaellesomkostninger.unit' | trans }}</td>
        <th>{{ 'appbundle.virksomhed_rapport.investeringInklFaellesomkostninger' | trans }}<div class="calculation-expression hidden">{{ entity.expr('investeringInklFaellesomkostninger') }}</div></th>
        <td class="text-right">{{ entity.investeringInklFaellesomkostninger | format_amount }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.investeringInklFaellesomkostninger.unit' | trans }}</td>
      </tr>
      <tr>
        <td class="indent">{{ 'appbundle.virksomhed_rapport.implementering' | trans }}<div class="calculation-expression hidden">{{ entity.expr('implementering') }}</div></td>
        <td class="text-right">{{ entity.implementering | format_amount }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.implementering.unit' | trans }}</td>
        <th>{{ 'appbundle.virksomhed_rapport.nutidsvaerdiInklFaellesomkostninger' | trans }}<div class="calculation-expression hidden">{{ entity.expr('nutidsvaerdiSetOver15AarKr') }}</div></th>
        <td class="text-right">{{ entity.nutidsvaerdiSetOver15AarKr | format_amount }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.nutidsvaerdiInklFaellesomkostninger.unit' | trans }}</td>
      </tr>
      <tr>
        <th class="indent"></th>
        <td class="text-right"></td>
        <td></td>
        <th>{{ 'appbundle.virksomhed_rapport.besparelseAarEt' | trans }}<div class="calculation-expression hidden">{{ entity.expr('besparelseAarEt') }}</div></th>
        <td class="text-right">{{ entity.besparelseAarEt | format_amount }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.besparelseAarEt.unit' | trans }}</td>
      </tr>
      <tr>
        <th class="indent"></th>
        <td class="text-right"></td>
        <td></td>
        <th>{{ 'appbundle.virksomhed_rapport.internRenteInklFaellesomkostninger' | trans }}<div class="calculation-expression hidden">{{ entity.expr('internRenteInklFaellesomkostninger') }}</div></th>
        <td class="text-right">
          {% if entity.internRenteInklFaellesomkostninger < 100 %}
            {{ entity.internRenteInklFaellesomkostninger | format_percent_nounit }}
          {% else %}
            <span class="aaplus-overwritten-value"><span class="aaplus-calculated-value">({{ 'common.calculated_value' | trans }}: {{ entity.internRenteInklFaellesomkostninger | format_percent_nounit }})</span> <span
                  class="aaplus-note-marker"></span>
              –
            </span>
          {% endif %}
        </td>
        <td>{{ 'appbundle.virksomhed_rapport.internRenteInklFaellesomkostninger.unit' | trans }}</td>
      </tr>
      <tr>
        <th></th>
        <td></td>
        <td></td>
        <th>{{ 'appbundle.virksomhed_rapport.genopretning' | trans }}<div class="calculation-expression hidden">{{ entity.expr('genopretning') }}</div></th>
        <td class="text-right">{{ entity.genopretning | format_amount }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.genopretning.unit' | trans }}</td>
      </tr>
      <tr>
        <th></th>
        <td></td>
        <td></td>
        <th>{{ 'appbundle.virksomhed_rapport.genopretningForImplementeringsomkostninger' | trans }}<div class="calculation-expression hidden">{{ entity.expr('genopretningForImplementeringsomkostninger') }}</div></th>
        <td class="text-right">{{ entity.genopretningForImplementeringsomkostninger | format_amount }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.genopretningForImplementeringsomkostninger.unit' | trans }}</td>
      </tr>
      <tr>
        <th></th>
        <td></td>
        <td></td>
        <th>{{ 'appbundle.virksomhed_rapport.modernisering' | trans }}<div class="calculation-expression hidden">{{ entity.expr('modernisering') }}</div></th>
        <td class="text-right">{{ entity.modernisering | format_amount }}</td>
        <td>{{ 'appbundle.virksomhed_rapport.modernisering.unit' | trans }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('line-chart') }} {{ 'virksomhed_rapporter.strings.related_reports' | trans }}</div>
        <table class="table table-condensed">
          <tbody>
          <tr>
            <th>{{ 'appbundle.virksomhed.parent' | trans }}:</th>
            <td>
              {% set parent = entity.getVirksomhed.getParent() %}
              {% if parent %}
                <a href="{{ path_with_access_token('virksomhed_create_rapport', { 'id': parent.id }) }}">{{ parent }}</a>
              {% else %}
                {{ 'virksomhed.messages.empty.parent' | trans }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.datterSelskaber' | trans }}:</th>
            <td>
              {% set datterSelskaber = entity.getVirksomhed.getDatterSelskaber() %}
              {% if datterSelskaber | length %}
                {% for datterSelskab in datterSelskaber %}
                  <div>
                    <a href="{{ path_with_access_token('virksomhed_create_rapport', { 'id': datterSelskab.id }) }}">{{ datterSelskab }}</a>
                  </div>
                {% endfor %}
              {% else %}
                {{ 'virksomhed.messages.empty.datterSelskaber' | trans }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.bygning' | trans }}:</th>
            <td>
              {% set bygninger = entity.getVirksomhed.getBygninger() %}
              {% if bygninger | length %}
                {% for bygning in bygninger %}
                  <div>
                    {% if bygning.rapport %}
                      <a href="{{ path_with_access_token('rapport_show', { 'id': bygning.rapport.id }) }}">{{ bygning }}</a>
                    {% else %}
                      <a href="{{ path_with_access_token('bygning_show', { 'id': bygning.id }) }}">{{ bygning }} ({{ 'bygninger.strings.ingen_rapporter' | trans }})</a>
                    {% endif %}
                  </div>
                {% endfor %}
              {% else %}
                {{ 'virksomhed.messages.empty.bygninger' | trans }}
              {% endif %}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block documentReady %}
  {{ parent() }}

  {% include 'AppBundle:Rapport:_documentReady.js.twig' %}
{% endblock documentReady %}
