{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  {% if calculation_changes is defined and calculation_changes %}

    {% form_theme calculate_form 'AppBundle:Form:calculateVirksomhedRapportConfirmModalForm.html.twig' %}
    {% if calculate_form and is_granted('VIRKSOMHED_RAPPORT_EDIT', entity) %}
      {{ form_start(calculate_form) }}

      <!-- Modal -->
      <div class="modal fade" id="modal-calculate-rapport" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title text-left" id="myModalLabel">{{ 'virksomhed_rapporter.confirmation.re-calculate' | trans }}</h4>
            </div>
            <div class="modal-body text-left">
              {% if entity.calculationWarnings %}
                <div class="alert alert-warning">
                  <p><strong>{{ 'Incomplete calculation' | trans }}</strong></p>
                  {{ calculationWarnings.renderMessagesInline(calculation_warnings) }}
                </div>
              {% endif %}
              <p><strong>{{ 'common.changes' | trans }}:</strong></p>
              <div class="aaplus-calculation-changes-wrapper">
                {% include 'AppBundle:_includes:calculation_changes_show.html.twig' %}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel' | trans }}</button>
              {{ form_widget(calculate_form) }}
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end -->

      {{ form_end(calculate_form) }}
    {% endif %}

  {% endif %}
  <div class="row heading">
    <div class="col-md-2">
      <h1>
        <nobr>
          {{ icon('file-text-o') }}
          {{ 'virksomhed_rapporter.labels.singular' | trans }}
        </nobr>
      </h1>
    </div>
    <div class="col-md-10 text-right">
      {% if calculate_form and is_granted('VIRKSOMHED_RAPPORT_EDIT', entity) %}
        {% if calculation_changes is defined and calculation_changes is not empty%}
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-calculate-rapport">{{ icon( 'calculator' ) }} {{ 'virksomhed_rapporter.actions.re-calculate' | trans }}</button>
        {% else %}
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-calculate-rapport" disabled>{{ icon( 'calculator' ) }} {{ 'virksomhed_rapporter.actions.re-calculate' | trans }}</button>
        {% endif %}
      {% endif %}
      <a href="{{ path('virksomhed_kortlaegning', { 'id': entity.virksomhed.id }) }}" class="btn btn-default">
        {{ 'virksomhed_rapporter.actions.edit_kortlaegning' | trans }}
      </a>
      {% if entity.virksomhed.getAllBygninger() is not empty %}
        <a href="{{ path_with_access_token('virksomhed_rapport_pdf_review', { 'id': entity.id, 'type': 'oversigt' }) }}" class="btn btn-default">
          {{ icon('file-pdf-o') }} {{ 'virksomhed_rapporter.actions.pdf2' | trans }}
        </a>
        <a href="{{ path_with_access_token('virksomhed_rapport_pdf_review', { 'id': entity.id, 'type': 'detailark' }) }}" class="btn btn-default">
          {{ icon('file-pdf-o') }} {{ 'virksomhed_rapporter.actions.pdf_detailark' | trans }}
        </a>
        <a href="{{ path_with_access_token('virksomhed_rapport_pdf_review', { 'id': entity.id, 'type': 'kortlaegning' }) }}" class="btn btn-default">
          {{ icon('file-pdf-o') }} {{ 'virksomhed_rapporter.actions.pdf_kortlaegning' | trans }}
        </a>
      {% endif %}
      <a class="btn btn-default" href="{{ path_with_access_token('virksomhed_rapport_filer', { 'id': entity.id }) }}">
        {{ icon('file') }} {{ 'virksomhed_rapporter.actions.filer' | trans }}
      </a>
      <a href="{{ path('virksomhed_rapport_baseline_values', { 'id': entity.id }) }}" class="btn btn-default">
        {{ icon('edit') }} {{ 'virksomhed_rapporter.actions.edit' | trans }}
      </a>
      <a href="{{ path('virksomhed_rapport_tekster_values', { 'id': entity.id }) }}" class="btn btn-default">
        {{ icon('edit') }} {{ 'virksomhed_rapporter.actions.edit_tekster' | trans }}
      </a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">{{ icon('home') }} {{ 'common.data' | trans }}</h3></div>

    <table class="table table-condensed">
      <tbody>
      <tr>
        <th>{{ 'appbundle.virksomhed_rapport.version' | trans }}</th>
        <td>{{ entity.version }}</td>
      </tr>
      <tr>
        <th>{{ 'appbundle.virksomhed_rapport.virksomhed' | trans }}</th>
        <td><a href="{{ path_with_access_token('virksomhed_show', { 'id': entity.virksomhed.id }) }}">{{ entity.virksomhed }}</a></td>
      </tr>
      <tr>
        <th>{{ 'appbundle.virksomhed_rapport.datering' | trans }}</th>
        <td>{{ entity.datering | date('Y-m-d') }}</td>
      </tr>
      <tr class="hidden">
        <th>{{ 'appbundle.virksomhed_rapport.elena' | trans }}</th>
        <td>{{ entity.elena | b2icon }}</td>
      </tr>
      <tr class="hidden">
        <th>{{ 'appbundle.virksomhed_rapport.ava' | trans }}</th>
        <td>{{ entity.ava | b2icon }}</td>
      </tr>
      <tr>
        <th>{{ 'common.updatedAt' | trans }}</th>
        <td>{{ entity.updatedAt | date('Y-m-d  H:i') }}, {{ entity.updatedBy }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div role="tabpanel">
    {% if entity.virksomhed.datterSelskaber is not empty %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tilknyttede_bygninger" data-toggle="tab">Tilknyttede bygninger</a></li>
      <li role="presentation"><a href="#samlet_data" data-toggle="tab">Samlet rapport data</a></li>
    </ul>
    {% endif %}
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tilknyttede_bygninger">
        {% include('AppBundle::VirksomhedRapport/report_data.html.twig') %}
      </div>
      <div role="tabpanel" class="tab-pane" id="samlet_data">
        {% include 'AppBundle::VirksomhedRapport/report_data.html.twig' with  { 'entity' : samlet_data } %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('line-chart') }} {{ 'virksomhed_rapporter.strings.related_reports' | trans }}</div>
        <table class="table table-condensed">
          <tbody>
          <tr>
            <th>{{ 'appbundle.virksomhed.parent' | trans }}:</th>
            <td>
              {% set parent = entity.getVirksomhed.getParent() %}
              {% if parent %}
                <a href="{{ path_with_access_token('virksomhed_create_rapport', { 'id': parent.id }) }}">{{ parent }}</a>
              {% else %}
                {{ 'virksomhed.messages.empty.parent' | trans }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.datterSelskaber' | trans }}:</th>
            <td>
              {% set datterSelskaber = entity.getVirksomhed.getDatterSelskaber(TRUE) %}
              {% if datterSelskaber | length %}
                {% for datterSelskab in datterSelskaber %}
                  <div>
                    <a href="{{ path_with_access_token('virksomhed_create_rapport', { 'id': datterSelskab.id }) }}">{{ datterSelskab }}</a>
                  </div>
                {% endfor %}
              {% else %}
                {{ 'virksomhed.messages.empty.datterSelskaber' | trans }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.bygning' | trans }}:</th>
            <td>
              {% set bygninger = entity.getVirksomhed.getBygninger() %}
              {% if bygninger | length %}
                {% for bygning in bygninger %}
                  <div>
                    {% if bygning.rapport %}
                      <a href="{{ path_with_access_token('rapport_show', { 'id': bygning.rapport.id }) }}">{{ bygning }}</a>
                    {% else %}
                      <a href="{{ path_with_access_token('bygning_show', { 'id': bygning.id }) }}">{{ bygning }} ({{ 'bygninger.strings.ingen_rapporter' | trans }})</a>
                    {% endif %}
                  </div>
                {% endfor %}
              {% else %}
                {{ 'virksomhed.messages.empty.bygninger' | trans }}
              {% endif %}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button class="calculation-expression-toggle pinned btn btn-default">Vis/skjul formler</button>
{% endblock %}

{% block documentReady %}
  {{ parent() }}

  {% include 'AppBundle:Rapport:_documentReady.js.twig' %}
{% endblock documentReady %}
