{% extends 'AppBundle::pdf.html.twig' %}

{% block body -%}

  <div class="portrait">
    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Indledning</h2>
        <p>Nærværende rapport omfatter udarbejdelse af lovpligtigt energisyn på virksomheden {{ rapport.virksomhed.name }}</p>
        <p>Energisynet er udført i henhold til Energistyrelsens bekendtgørelse nr. 1212 af november 2014.</p>
        <p>Energisynet omfatter besigtigelse og kortlægning af virksomhedens elforbrug varmeforbrug og brændstofforbrug på virksomhedens køretøjer og maskiner.</p>
        <p>Energisynet er udført af SEAS-NVE Strømmen A/S, i henhold til aftale om Teknisk rådgivning og bistand samt tilhørende ydelsesbeskrivelse af 13.04.15.</p>
        <p>Besigtigelse og gennemgang blev påbegyndt den 11. maj på hovedkontoret i København. Efterfølgende er der besigtiget de øvrige afdelinger i landet, i alt 4 afdelinger inklusiv hovedkontoret.</p>
        <p>Forud for besigtigelserne har der været afholdt et opstartsmøde med dialog om fremsendte data og oplysninger om de enkelte afdelinger.</p>

        <p>Kontaktperson og koordinator hos MAN Diesel & Turbo har været Facility Manager Peter Jacobsen</p>
        <p>Der har desuden været besigtigelse med:<br/>
          Tom Christensen T41<br/>
          Denni Kragh T35<br/>
          Michael Blak Pedersen Holeby<br/>
          Johnny Thomsen Frederikshavn<br/>
        </p>
      </div>
    </div>
    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Forudsætninger for energisynet</h2>
        <p>{{ rapport.virksomhed.name }} er en fremstillingsvirksomhed med mange års erfaring.</p>
        <p>Virksomheden har hovedkontor i København og yderligere 3 afdelinger rundt omkring i Danmark.</p>
        <p>Der er i alt {{ rapport.virksomhed.aarsVaerk }} ansatte i Danmark</p>
        <p>Virksomheden har en lille vognpark med 57 motorkøretøjer af forskellig type og størrelse.</p>

        <p>Virksomheden udfører ingeniør og fremstillingsarbejde i forbindelse med en bred vifte af motorinstallationer til forskellige formål, samt reservedele til samme.</p>
        <p>Der er indhentet oplysninger om energiforbruget og udarbejdet en oversigt over fordeling af energi forbruget, fordelt på el, varme og brændstof.</p>

        <p>Alle energiarter er omregnet til kWh, så de er direkte sammenlignelige.</p>
        <p>Elprisen er sat til 1,00 kr/kWh eksklusiv afgifter</p>
        <p>El rumvarmeprisen er sat til 1,00 kr/kWh eksklusiv moms</p>
        <p>Varmeprisen er sat til 1,00 kr/kWh, eksklusiv moms</p>
        <p>Brændstofprisen er sat til 0,68 kr/kWh, eksklusiv moms</p>

        <p>Opgørelse over det samlede energiforbrug og energiudgifter for alle afdelinger og maskiner fremgår af følgende oversigt.
        Varmeforbrugene er korrigeret for graddage med faktor 1,25 for 2014 i forhold til et normalår.</p>

        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Energifordeling:</h3></div>
          <table class="table table-condensed results">
            <tbody>
            <tr>
              <th>Energiart</th>
              <th>kWh/år</th>
              <th>%</th>
            </tr>
            {% for row in pie_chart_data.energiFordeling %}
              <tr>
                <th>{{ row.label }}</th>
                <td>{{ row.value | format_decimal(0) }}</td>
                <td>{{ row.value | format_percent_of(rapport.calculateSamletEnergiForbrug, 0) }} </td>
              </tr>
            {% endfor %}
            <tr>
              <th>Sum energi</th>
              <td>{{ rapport.calculateSamletEnergiForbrug }}</td>
              <td>100%</td>
            </tr>
            </tbody>
          </table>
        </div>

        <h3 class="text-center">{{ rapport.virksomhed.name }}</h3>
        {{ include ('AppBundle:_includes:graf_pie_chart.html.twig', { pie_chart_data: pie_chart_data.energiFordeling }) }}

        <p>Som det fremgår af oversigten udgør el og varmeforbruget langt den største del af det samlede energiforbrug og brændstofforbrug udgør langt under 1%. </p>
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Konklusion</h2>
        <p>Som det fremgår af rapporten er der anvist en række potentielle energibesparelser på el og varme i bygninger.</p>
        <p>Langt det største besparelsespotentiale ligger på produktionsenhederne, hvor både tekniske løsninger og brugervaner kan være medvirkende til bedre energieffektivitet.</p>

        <h3>Energibesparelser på el og varme i bygninger.</h3>
        <p>Det samlede besparelsespotentiale på el og varme i bygninger udgør i alt <strong>{{ rapport.samletEnergibesparelse | format_decimal(0) }} kWh/år</strong>.</p>
        <p>Besparelsen svarer til ca. 8 % af det samlede forbrug af el og varme i bygninger.</p>
        <p>Herudover er der medtaget en solcelleberegning.</p>

        <p>Nærmere detaljer om de enkelt spareforslag fremgår af bilag 1.</p>

        <h3>Energibesparelser på maskiner og køretøjer.</h3>
        <p>Da virksomhedens energiforbrug til transport udgør under 1 %, er brændstofforbruget ikke analyseret nærmere og er ikke beskrevet yderligere i rapporten.</p>

        {{ rapport.kortlaegningKonklusionTekst }}
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Bilagsoversigt</h2>
        <p>Bilag 1: Energiscreening af el og varme i bygninger</p>
      </div>
      <div class="col-xs-12">
        <h2>Underskrifter</h2>
        <p>Før energisynsrapporten indsendes til Energistyrelsen, skal den underskrives af virksomhedens ejer og energisynskonsulenten.</p>
        <table class="table table-bordered" style="text-align:center; width:100%;">
          <tbody>
          <tr>
            <td>For <strong>{{ rapport.virksomhed.name }}</strong><br/>
              Facility Manager<br/>
              {{ rapport.virksomhed.contactPersons[0] }}
            </td>
            <td>For <strong>SEAS-NVE</strong>
              <br/>
              {{ rapport.virksomhed.kam }}
              <br><br><br><br><br><br>
            </td>
          </tr>
          <tr>
            <td>Dato: {{ rapport.Datering|date('d F Y') }}</td>
            <td>Dato: {{ rapport.Datering|date('d F Y') }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Virksomhedsdata</h2>
        <p>{{ include ('AppBundle:Virksomhed:show-embed.html.twig', {entity: rapport.virksomhed}) }}</p>

        <br>
        <h3>Datterselskaber</h3>
        <hr class="dark">
        <div class="row">
          {% for datterSelskab in rapport.virksomhed.datterSelskaber %}
            <div class="col-xs-4">{{ include ('AppBundle:Virksomhed:show-embed.html.twig', {entity: datterSelskab}) }}</div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Beskrivelse af virksomheden</h2>
        <p>{{ rapport.virksomhed.name }} er en ingeniør og produktionsvirksomhed med mange års erfaring.</p>
        <p>Virksomheden har hovedkontor på Teglholmen og desuden 3 afdelinger rundt omkring i Danmark.</p>
        <p>Der er i alt {{ rapport.virksomhed.aarsVaerk }} ansatte i Danmark.</p>

        <p>Virksomheden har en mindre vognpark. Den omfatter personbiler samt varevogne og enkelte lastvogne.</p>
        <p>Virksomheden producere power enheder, fremdrivningsanlæg samt servicere og renovere leveret udstyr.
          Der er endvidere en stor reservedelsfremstilling på primært København og Frederikshavn sitene.</p>

        {{ rapport.kortlaegningVirksomhedBeskrivelse }}
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Energiportefølge</h2>
        <p>Energi portefølje omfatter forbrug af el og varme til bygninger og brændstof til biler og maskiner.</p>
        <p>I det følgende er de enkelte afsnit opdelt i elforbrug, varmeforbrug og i brændstofforbrug.</p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Overordnet forbrug</h3>
          </div>

          {{ include ('AppBundle:_includes:graf_pie_chart.html.twig', { pie_chart_data: pie_chart_data.overordnetForrug }) }}

          <table class="table table-condensed">
            <tbody>
            <tr>
              <th>Afdeling</th>
              <th>Overordnet forbrug, kWh/år</th>
            </tr>
            {% for row in pie_chart_data.overordnetForrug %}
              <tr>
                <th>{{ row.label }}</th>
                <td>{{ row.value }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Elforbrug, alle afdelinger</h2>
        <p>Fordeling af elforbruget for hver afdeling fremgår desuden af følgende diagram.<p>

        {% if pie_chart_data.elForrug %}

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">El</h3>
            </div>

            {{ include ('AppBundle:_includes:graf_pie_chart.html.twig', { pie_chart_data: pie_chart_data.elForrug }) }}

            <table class="table table-condensed">
              <tbody>
              <tr>
                <th>Afdeling</th>
                <th>El, kWh/år</th>
                <th>Erhvervsareal m2</th>
                <th>KPI</th>
              </tr>
              {% for row in pie_chart_data.elForrug %}
                <tr>
                  <th>{{ row.label }}</th>
                  <td>{{ row.value }}</td>
                  <td>{{ row.erhvervsareal }}</td>
                  <td>[x]</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p>Ingen elforbrug.</p>
        {% endif %}
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Varmeforbrug, alle afdelinger</h2>
        <p>På tilsvarende måde er varmeforbruget opgjort til hver afdeling og vist i følgende skema og efterfølgende diagram med fordeling på hver afdeling.</p>
        <p>Samtlige forbrug er opgjort i kWh så de er sammenlignelige.</p>

        {% if pie_chart_data.varmeForrug %}

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Varme</h3>
            </div>

            {{ include ('AppBundle:_includes:graf_pie_chart.html.twig', { pie_chart_data: pie_chart_data.varmeForrug }) }}

            <table class="table table-condensed">
              <tbody>
              <tr>
                <th>Afdeling</th>
                <th>Varme, kWh/år</th>
                <th>Opvarmetareal m2</th>
                <th>KPI</th>
              </tr>
              {% for row in pie_chart_data.varmeForrug %}
                <tr>
                  <th>{{ row.label }}</th>
                  <td>{{ row.value }}</td>
                  <td>{{ row.opvarmetareal }}</td>
                  <td>[x]</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p>Ingen varmeforbrug.</p>
        {% endif %}
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Brændstof, alle afdelinger</h2>
        {% if pie_chart_data.braendstofForbrug %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Brændstof</h3>
            </div>

            {{ include ('AppBundle:_includes:graf_pie_chart.html.twig', { pie_chart_data: pie_chart_data.braendstofForbrug }) }}

            <table class="table table-condensed results">
              <tr>
                <th>Afdeling</th>
                <th>Brændstof, kWh/år</th>
                <th>Erhvervsareal m2</th>
                <th>KPI</th>
              </tr>
              {% for row in pie_chart_data.braendstofForbrug %}
                <tr>
                  <th>{{ row.label }}</th>
                  <td>{{ row.value }}</td>
                  <td>{{ row.erhvervsareal }}</td>
                  <td>[x]</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        {% else %}
          <p>Ingen brændstofforbrug</p>
        {% endif %}
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Besparelser opdelt i afdelinger</h2>
        {% for beplarelseSluanvendelse in pie_chart_data.beplarelseSluanvendelse %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ beplarelseSluanvendelse.name }}</h3>
            </div>

            {% if beplarelseSluanvendelse.data %}
              {{ include ('AppBundle:_includes:graf_pie_chart.html.twig', { pie_chart_data: beplarelseSluanvendelse.data }) }}
            {% else %}
              <table class="table table-condensed">
                <tbody>
                <tr>
                  <td>Ingen Besparelser i {{ beplarelseSluanvendelse.name }} afdeling.</td>
                </tr>
                </tbody>
              </table>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Sum energiforbrug og brændstofudgifter</h2>
        <p>I følgende skema er vist det samlede energiforbrug for alle afdelinger.
          Samtlige forbrug er opgjort i kWh/år så de er sammenlignelige.</p>
        {% if pie_chart_data.energiFordeling %}

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ rapport.virksomhed.name }}</h3>
            </div>

            {{ include ('AppBundle:_includes:graf_pie_chart.html.twig', { pie_chart_data: pie_chart_data.energiFordeling }) }}

            <table class="table table-condensed results">
              <tbody>
              <tr>
                <th>Energiart</th>
                <th>kWh/år</th>
                <th>%</th>
              </tr>
              {% for row in pie_chart_data.energiFordeling %}
                <tr>
                  <th>{{ row.label }}</th>
                  <td>{{ row.value | format_decimal(0) }}</td>
                  <td>{{ row.value | format_percent_of(rapport.calculateSamletEnergiForbrug, 0) }} </td>
                </tr>
              {% endfor %}
              <tr>
                <th>Sum energi</th>
                <td>{{ rapport.calculateSamletEnergiForbrug }}</td>
                <td>100</td>
              </tr>
              </tbody>
            </table>
          </div>
        {% else %}
          <p>Ingen energiforbrug og brændstofudgifter.</p>
        {% endif %}
      </div>
    </div>
    {% set slutanvendelser = rapport.getBesparelseSlutanvendelserLabels() %}
    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Kortlægning og analyser</h2>
        <h3>Kortlægning og analyse af elbesparelse i afdelinger</h3>
        <p>Ud fra besigtigelse og registrering er elbesparelse kortlagt og fordelt efter anvendelse.</p>

        {% for elForbrugSluanvendelse in pie_chart_data.elForbrugSluanvendelse %}
          {% if elForbrugSluanvendelse.data %}

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ elForbrugSluanvendelse.name }}</h3>
            </div>

            {{ include ('AppBundle:_includes:graf_pie_chart.html.twig', { pie_chart_data: elForbrugSluanvendelse.data }) }}

            <table class="table table-condensed results">
              <tr>
                <td>Slutanvendelse</td>
                <td>kWh/år</td>
              </tr>
              {% for row in elForbrugSluanvendelse.data %}
                <tr>
                  <th>{{ row.label }}</th>
                  <td>{{ row.value  | format_decimal }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
          {% else %}
            <p>Ingen elbesparelse i {{ elForbrugSluanvendelse.name }} afdeling.</p>
          {% endif %}
        {% endfor %}

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Nøgletal elforbrug, kWh/m2</h3>
          </div>

          <table class="table table-condensed">
            <tr>
              <th>Afdeling</th>
              <th>{{ rapport.virksomhed }}</th>
              {% for datterSelskab in rapport.virksomhed.datterSelskaber %}
                <th>{{ datterSelskab }}</th>
              {% endfor %}
            </tr>
            <tr>
              <td>El</td>
              <td>{{ rapport.virksomhed.kortlaegning.totalForbrug }}</td>
              {% for datterSelskab in rapport.virksomhed.datterSelskaber %}
                <td>{{ datterSelskab.kortlaegning.totalForbrug }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>Erhvervsareal</td>
              <td>{{ rapport.erhvervsareal }}</td>
              {% for datterSelskab in rapport.virksomhed.datterSelskaber %}
                <td>{{ datterSelskab.rapport.erhvervsareal }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>KPI</td>
              <td>[x]</td>
              {% for datterSelskab in rapport.virksomhed.datterSelskaber %}
                <td>[x]</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <p>Som det fremgår af ovenstående varierer nøgletallene fra 93 – 406 kWh/m2.</p>
        <p>Nøgletallene variere på grund af de forskellige anvendelser der forgår på de forskellige adresser.</p>
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h3>Kortlægning og analyse af varmeforbrug i bygninger og forslag til energibesparelser</h3>
        <p>Ud fra besigtigelse og registrering er varmeforbrug kortlagt og fordelt efter anvendelse.</p>
        <p>Ud fra besigtigelse og registrering, er varmeforbruget kortlagt og fordelt efter anvendelse.</p>
        <p>I varmeforbruget indgår alle de benyttede opvarmningsformer:</p>
        <ul>
          <li>Fjernvarme</li>
          <li>Naturgas</li>
          <li>El rumvarme</li>
        </ul>
        <p>Samtlige opvarmningsformer er omregnet til kWh, så de er sammenlignelige. Der anvendes primært fjernvarme og naturgas til opvarmning. Det er ganske få steder hvor der er el-radiatorer, de udgør varmemæssigt under 1% af varmeforbruget.
        Varmeforbruget er korrigeret for graddage i forhold til et normalår.</p>
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Forslag til energibesparelser på el og varme</h2>
        <div>
          {{ include ('AppBundle:Virksomhed:show-embed-overview.html.twig', {entity: rapport.virksomhed}) }}
        </div>
        {% for datterSelskab in rapport.virksomhed.datterSelskaber %}
          <div>
            {{ include ('AppBundle:Virksomhed:show-embed-overview.html.twig', {entity: datterSelskab}) }}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-xs-12">
        <h2>Bilag 2: Screening af energibesparelser på el, varme og brændstof</h2>
        <p>Screening af energibesparelser fremgår af bilag 1 som del 2 til energisynsrapporten.</p>
      </div>
    </div>

  </div>

{% endblock %}
