<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'common.generelt' | trans }}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        {{ form_row(edit_form.laastAfEnergiraadgiver) }}
        {{ form_row(edit_form.type) }}
        {{ form_row(edit_form.placering) }}
      </div>
      <div class="col-md-6">
        {{ form_row(edit_form.orientering) }}
        {{ form_row(edit_form.noteGenerelt) }}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'appbundle.vinduetiltagdetail.vindue' | trans }}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">{{ form_row(edit_form.antalStk) }}</div>
          <div class="col-md-6">{{ form_row(edit_form.glasandel) }}</div>
        </div>
        <div class="row">
          <div class="col-md-6">{{ form_row(edit_form.hoejdeElLaengdeM) }}</div>
          <div class="col-md-6">{{ form_row(edit_form.breddeM) }}</div>
        </div>
        <div class="row">
          <div class="col-md-6">{{ form_row(edit_form.uEksWM2K) }}</div>
          <div class="col-md-6">{{ form_row(edit_form.uNyWM2K) }}</div>
        </div>
        <div class="row">
          <div class="col-md-6">{{ form_row(edit_form.solenergitransmittansEks) }}</div>
          <div class="col-md-6">{{ form_row(edit_form.solenergitransmittansNy) }}</div>
        </div>
        <div class="row">
          <div class="col-md-6">{{ form_row(edit_form.yderligereBesparelserPct) }}</div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'common.oekonomi' | trans }}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            {{ form_row(edit_form.klimaskaerm) }}
            {{ form_row(edit_form.levetidAar) }}
            {{ form_row(edit_form.klimaskaermOverskrevetPris) }}
          </div>
          <div class="col-md-6">
            {{ form_row(edit_form.prisfaktor) }}
            {{ form_row(edit_form.noterTilPrisfaktorValgteLoesningTiltagSpecielleForholdPaaStedet) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>