{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <h1>{{ 'appbundle.segment.plural' | trans }}</h1>

  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th>Navn</th>
      <th>Forkortelse</th>
      <th>Magistrat</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
      <tr>
        <td><a href="{{ path('segment_show', { 'id': entity.id }) }}">{{ entity.navn }}</a></td>
        <td>{{ entity.forkortelse }}</td>
        <td>{{ entity.magistrat }}</td>
        <td>
          <a href="{{ path('segment_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs">{{ 'common.edit' | trans }}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-4">
      <a href="{{ path('segment_new') }}" class="btn btn-default">
        {{ icon('plus') }} {{ 'segment.actions.add' | trans }}
      </a>
    </div>
    <div class="col-md-8 text-right">

    </div>
  </div>

{% endblock %}
