  {% extends 'AppBundle::base.html.twig' %}


{% block body -%}
  <div class="row heading">
    <div class="col-md-9">
      <h1>{{ entity }}</h1>
    </div>
    <div class="col-md-3 text-right">    <a class="btn btn-default btn-default" href="{{ path('segment_edit', { 'id': entity.id }) }}">{{ 'common.edit' | trans }}</a>

    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('chevron-right') }} {{ 'segment.labels.singular' | trans }}</div>
        <table class="table table-condensed">
          <tbody>
            <tr>
              <th>{{ 'appbundle.segment.navn' | trans }}</th>
                <td>{{ entity.navn }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.segment.forkortelse' | trans }}</th>
                <td>{{ entity.forkortelse }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.segment.magistrat' | trans }}</th>
                <td>{{ entity.magistrat }}</td>
            </tr>          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
