{% macro renderMessages(messages) %}
  {% if messages['errors'] is defined and messages['errors'] is not empty %}
    <p>{{ 'Fields required for calculation' | trans }}</p>

    <ul>
      {% for message in messages['errors'] %}
        <li>{{ message | trans }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <p>
    {% if messages['rapport'] is defined and messages['rapport'] is not empty %}
      {{ 'Tiltag required for calculation' | trans }}:
      <em>
        {% for message in messages['rapport'] %}
          {{ message | trans }}{% if not loop.last %}, {% endif %}
        {% endfor %}
      </em>
    {% endif %}
    {% if messages['tiltag'] is defined and messages['tiltag'] is not empty %}
      {{ 'Details required for calculation' | trans }}:
      <em>
        {% for message in messages['tiltag'] %}
          {{ message | trans }}{% if not loop.last %}, {% endif %}
        {% endfor %}
      </em>
    {% endif %}
  </p>
{% endmacro %}

{% macro renderMessagesInline(messages) %}
  <p>
    {% if messages['errors'] is defined and messages['errors'] is not empty %}
      {{ 'Fields required for calculation' | trans }}:
      <em>
        {% for message in messages['errors'] %}
          {{ message | trans }}{% if not loop.last %}, {% else %}. {% endif %}
        {% endfor %}
      </em>
    {% endif %}
    {% if messages['rapport'] is defined and messages['rapport'] is not empty %}
      {{ 'Tiltag required for calculation' | trans }}:
      <em>
        {% for message in messages['rapport'] %}
          {{ message | trans }}{% if not loop.last %}, {% endif %}
        {% endfor %}
      </em>
    {% endif %}
    {% if messages['tiltag'] is defined and messages['tiltag'] is not empty %}
      {{ 'Details required for calculation' | trans }}:
      <em>
        {% for message in messages['tiltag'] %}
          {{ message | trans }}{% if not loop.last %}, {% endif %}
        {% endfor %}
      </em>
    {% endif %}
  </p>
{% endmacro %}

{% macro renderIcon(messages, key) %}
  {% import _self as this %}

  {% if messages %}
    <span class="calculattion-warning" data-toggle="modal" data-target="#modal-calculation-warning-{{ key }}"><small>{{ icon( 'warning' ) }}</small></span>
  {% endif %}
{% endmacro %}

{% macro renderMessagesPopup(messages, key, params) %}
  {% import _self as this %}

  {% if messages %}
    <div class="modal" id="modal-calculation-warning-{{ key }}" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-left" id="myModalLabel">{{ (params.title is defined ? params.title : 'Incomplete calculation') | trans }}</h4>
          </div>
          <div class="modal-body text-left">
            {{ this.renderMessages(messages) }}
          </div>
          <div class="modal-footer">
            {% if messages['tiltag'] is defined and params.details_url is defined and params.details_url is not empty %}
              <a href="{{ params.details_url }}" class="btn btn-default">
                {{ icon('list') }} {{ 'rapporter.labels.detailark' | trans }}
              </a>
            {% endif %}
            {% if params.edit_url is defined and params.edit_url is not empty %}
              <a href="{{ params.edit_url }}" class="btn btn-primary">
                {{ icon('edit') }} {{ (params.edit_title is defined ? params.edit_title : 'common.edit') | trans }}
              </a>
            {% endif %}
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Ok' | trans }}</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro renderWarnings(messages, key, params) %}
  {% import _self as this %}

  {% set key = key |default(random()) %}

  {{ this.renderIcon(messages, key) }}
  {{ this.renderMessagesPopup(messages, key, params) }}
{% endmacro %}

{% import _self as macros %}

{% if calculation_warnings is defined and calculation_warnings %}
  <div class="alert alert-warning">
    <p><strong>{{ icon('warning') }} {{ 'Incomplete calculation' | trans }}</strong></p>

    {{ macros.renderMessagesInline(calculation_warnings) }}
  </div>
  {# @TODO: Use JavaScript to provide user feedback when saving an incomplete entity
  <script>
    var fieldsRequiredForCalculation = {{ calculation_warnings | json_encode | raw }};
  </script>
  #}
{% endif %}
