{% macro renderMessages(messages) %}
  <p>{{ 'Fields required for calculation' | trans }}</p>

  <ul>
    {% for message in messages %}
      <li>{{ message | trans }}</li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro renderIcon(messages, key) %}
  {% import _self as this %}

  {% if messages %}
    <span data-toggle="modal" data-target="#modal-calculation-warning-{{ key }}">{{ icon( 'warning' ) }}</span>
  {% endif %}
{% endmacro %}

{% macro renderMessagesPopup(messages, key, params) %}
  {% import _self as this %}

  {% if messages %}
    <div class="modal" id="modal-calculation-warning-{{ key }}" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-left" id="myModalLabel">{{ (params.title is defined ? params.title : 'Incomplete calculation') | trans }}</h4>
          </div>
          <div class="modal-body text-left">
            {{ this.renderMessages(messages) }}
          </div>
          <div class="modal-footer">
            {% if params.edit_url is defined %}
              <a href="{{ params.edit_url }}" class="btn btn-primary">
                {{ icon('edit') }} {{ (params.edit_title is defined ? params.edit_title : 'common.edit') | trans }}
              </a>
            {% endif %}
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Ok' | trans }}</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro renderWarnings(messages, key, params) %}
  {% import _self as this %}

  {% set key = key |default(random()) %}

  {{ this.renderIcon(messages, key) }}
  {{ this.renderMessagesPopup(messages, key, params) }}
{% endmacro %}

{% import _self as macros %}

{% if calculation_warnings is defined and calculation_warnings %}
  <div class="alert alert-warning">
    <p>{{ 'Incomplete calculation' | trans }}</p>

    {{ macros.renderMessages(calculation_warnings) }}
  </div>
  {# @TODO: Use JavaScript to provide user feedback when saving an incomplete entity
  <script>
    var fieldsRequiredForCalculation = {{ calculation_warnings | json_encode | raw }};
  </script>
  #}
{% endif %}
