{% set barChartIdRandomized = 'samlet-forbrug-bar-' ~ random() %}
{% set doughnutIdRandomized = 'samlet-forbrug-pie-' ~ random() %}
<div class="row">
    <div class="col-xs-6">
        <canvas id="{{ barChartIdRandomized }}" width="300" height="300"></canvas>
    </div>
    <div class="col-xs-6">
        <div class="chart">
            <div class="chart-heading">
                <div class="chart-heading__title">{{ chart_data.reduction }}%</div>
                <div class="chart-heading__subtitle">
                    Energireduktion samlet
                </div>
            </div>

            <canvas id="{{ doughnutIdRandomized }}" width="300" height="300"></canvas>
        </div>
    </div>
</div>

<script>
    // Bar.

    // Doughnut.
    (function () {
        var dataCollection = {{ chart_data | json_encode | raw }};
        console.log(dataCollection);
        var options = {
            animation: false,
            segmentShowStroke: false,
            percentageInnerCutout: 75,
        };
        var data = [
            {
                value: dataCollection.reduction,
                color: '#62c5d3',
            },
            {
                value: (100 - dataCollection.reduction),
                color: '#f2f2f0',
            },
        ];
        var ctx = document.getElementById('{{ doughnutIdRandomized }}').getContext('2d');
        var doughnut = new Chart(ctx).Doughnut(data, options);
    }())
</script>
