{% set barChartIdRandomized = 'samlet-forbrug-bar-' ~ random() %}
{% set doughnutIdRandomized = 'samlet-forbrug-pie-' ~ random() %}

<div class="row">
    <div class="col-xs-6">
        <div id="{{ barChartIdRandomized }}" style="height: 370px; width: 100%;"></div>
    </div>
    <div class="col-xs-6">
        <div class="chart">
            <div class="chart-heading">
                <div class="chart-heading__title">{{ chart_data.reduction }}%</div>
                <div class="chart-heading__subtitle">
                    Energireduktion samlet
                </div>
            </div>

            <div id="{{ doughnutIdRandomized }}" style="width: 300px; height: 300px;"></div>
        </div>
    </div>
</div>

<script>
    (function () {
        // based on prepared DOM, initialize echarts instance
        var chartData = {{ chart_data | json_encode | raw }};
        var chart = echarts.init(document.getElementById('{{ barChartIdRandomized }}'));

        var option = {
            xAxis: {
                data: ['Nuværende forbrug', 'Optimeret forbrug']
            },
            yAxis: {},
            series: [{
                name: 'samletForbrugBarChart',
                type: 'bar',
                data: [85, 60]
            }]
        };

        chart.setOption(option);
    }());
</script>

<script>
    (function () {
        // based on prepared DOM, initialize echarts instance
        var chartData = {{ chart_data | json_encode | raw }};
        var myChart = echarts.init(document.getElementById('{{ doughnutIdRandomized }}'));

        // specify chart configuration item and data
        var option = {
            legend: {
                orient: 'vertical',
                left: 10,
                data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎']
            },
            series: [
                {
                    name: 'samletForbrugPieChart',
                    type: 'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: [
                        {value: 15, name: 'Energireduktion'},
                        {value: 85, name: 'Blankt'},
                    ]
                }
            ]
        };

        // use configuration item and data specified to show chart
        myChart.setOption(option);
    }());
</script>
