{% set barChartIdRandomized = 'samlet-forbrug-bar-' ~ random() %}
{% set doughnutIdRandomized = 'samlet-forbrug-pie-' ~ random() %}

<div class="row">
    <div class="col-xs-6">
        <br><br>
        <div id="{{ barChartIdRandomized }}" style="height: 370px; width: 100%;"></div>
    </div>
    <div class="col-xs-6">
        <div class="chart">
            <div class="chart-heading">
                <div class="chart-heading__title">{{ chart_data.reduction }}%</div>
                <div class="chart-heading__subtitle">
                    Energireduktion samlet
                </div>
            </div>

            <div id="{{ doughnutIdRandomized }}" style="width: 450px; height: 450px;"></div>
        </div>
    </div>
</div>

<script>
    (function () {
        var colors = ['#a7cb11', '#62c5d3', '#fe9029'];
        var chartData = {{ chart_data | json_encode | raw }};
        var chart = echarts.init(document.getElementById('{{ barChartIdRandomized }}'), 'seas-theme');

        var option = {
            animation: false,
            color: colors,
            xAxis: {
                data: ['Nuværende forbrug', 'Optimeret forbrug']
            },
            yAxis: {},
            series: [{
                name: 'samletForbrugBarChart',
                type: 'bar',
                data: [85, 60]
            }]
        };

        chart.setOption(option);
    }());
</script>

<script>
    (function () {
        var colors = ['#a7cb11', '#f2f2f0'];
        var chartData = {{ chart_data | json_encode | raw }};
        var chart = echarts.init(document.getElementById('{{ doughnutIdRandomized }}'), 'seas-theme');

        var option = {
            animation: false,
            series: [
                {
                    name: 'samletForbrugPieChart',
                    type: 'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        show: false,
                        position: 'center'
                    },
                    labelLine: {
                        show: false
                    },
                    data: [
                        {value: 15, name: 'Energireduktion'},
                        {value: 85, name: 'Blankt'},
                    ]
                }
            ]
        };

        chart.setOption(option);
    }());
</script>
