{{ form_start(edit_form, { 'style': 'horizontal' }) }}

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'energiforsyninger.labels.singular' | trans }}</h3>
      </div>
      <div class="panel-body">
        {{ form_row(edit_form.navn) }}
        {{ form_row(edit_form.beskrivelse) }}
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'appbundle.energiforsyning.forsyningsvaerk' | trans }}</h3>
      </div>
      <div class="panel-body">
        {{ form_row(edit_form.forsyningsvaerk) }}
        {{ form_row(edit_form.enhedspris) }}
        {{ form_row(edit_form.prisfaktor) }}
        {{ form_row(edit_form.nyEnhedspris) }}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'appbundle.energiforsyning.internProduktioner' | trans }}</h3>
      </div>
      <div class="panel-body">
        {{ form_row(edit_form.internProduktioner) }}
      </div>
    </div>
  </div>
</div>
{{ form_end(edit_form) }}