{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <style>
    .price-stuff {
      margin-bottom: 4em;
    }

    .price-stuff .control-label {
      width: 100%;
    }
  </style>
{% endblock %}


{% block body -%}
  <div class="row heading">
    <div class="col-md-8">
      <h1>{{ 'energiforsyninger.actions.edit' | trans }}</h1>
    </div>
    <div class="col-md-4 text-right">
      {% if is_granted('ROLE_RAPPORT_EDIT') and entity.rapport.canDeleteEnergiforsyning(entity) %}
        {{ form(delete_form) }}
      {% endif %}
    </div>
  </div>

  {{ form_start(edit_form, { 'style': 'horizontal' }) }}
  {{ form_row(edit_form.navn) }}
  {{ form_row(edit_form.beskrivelse) }}
  {{ form_row(edit_form.forsyningsvaerk) }}
  <div class="form-group price-stuff">
    <div class="col-lg-10 col-lg-offset-2">
      <div class="row">
        <div class="col-md-2">
          {{ form_label(edit_form.enhedspris) }}
        </div>
        <div class="col-md-2">
          {{ form_widget(edit_form.enhedspris, { 'attr': { 'readonly': 'readonly' } }) }}
        </div>

        <div class="col-md-2">
          {{ form_label(edit_form.prisfaktor) }}
        </div>
        <div class="col-md-2">
          {{ form_widget(edit_form.prisfaktor) }}
        </div>

        <div class="col-md-2">
          {{ form_label(edit_form.nyEnhedspris) }}
        </div>
        <div class="col-md-2">
          {{ form_widget(edit_form.nyEnhedspris) }}
        </div>
      </div>
    </div>
  </div>
  {{ form_end(edit_form) }}
{% endblock %}

{% block javascripts %}
  {##
  # Translate field labels in prototype.
  # @FIXME: There must be a better way to do this!
  #}
  <script>window.addEventListener('load', function() {
    var translations = {};
    {% for key in [ 'navn', 'fordeling', 'effektivitet', 'prisgrundlag' ] %}
      translations['appbundle.energiforsyning.internProduktioner...name...' + {{ key | json_encode | raw }}] = {{ ('appbundle.energiforsyning.internProduktioner.0.' ~ key) | trans | json_encode | raw }};
    {% endfor %}

    var collections = document.querySelectorAll('[data-prototype]'), i, collection;
    for (i = 0; collection = collections[i]; i++) {
    var content = collection.getAttribute('data-prototype');
    for (var key in translations) {
    content = content.replace(key, translations[key]);
    }
    collection.setAttribute('data-prototype', content);
    }
    })</script>
  {{ parent() }}
{% endblock %}
