{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <h1>{{ icon('file') }} {{ 'energiforsyninger.labels.singular' | trans }}</h1>

  <table class="table table-condensed">
    <tbody>
      <tr>
        <th>{{ 'appbundle.energiforsyning.navn' | trans }}</th>
        <td>{{ entity.navn }}</td>
      </tr>
      <tr>
        <th>{{ 'appbundle.energiforsyning.beskrivelse' | trans }}</th>
        <td>{{ entity.beskrivelse }}</td>
      </tr>
      <tr>
        <th>{{ 'appbundle.energiforsyning.samletVarmeeffektivitet' | trans }}</th>
        <td>{{ entity.samletVarmeeffektivitet | format_decimal }}</td>
      </tr>
      <tr>
        <th>{{ 'appbundle.energiforsyning.samletEleffektivitet' | trans }}</th>
        <td>{{ entity.samletEleffektivitet | format_decimal }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Interne produktioner</h2>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{ 'appbundle.energiforsyning.internproduktion.navn' | trans }}</th>
        <th>{{ 'appbundle.energiforsyning.internproduktion.fordeling' | trans }}</th>
        <th>{{ 'appbundle.energiforsyning.internproduktion.effektivitet' | trans }}</th>
        <th>{{ 'appbundle.energiforsyning.internproduktion.prisgrundlag' | trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% for p in entity.internProduktioner %}
      <tr>
        <td>{{ p.navn }}</td>
        <td>{{ p.fordeling | format_decimal }}</td>
        <td>{{ p.effektivitet | format_decimal }}</td>
        <td>{{ p.prisgrundlag }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <a href="{{ path('energiforsyning_edit', { 'rapport_id': entity.rapport.id, 'id': entity.id }) }}"  class="btn btn-default">
    {{ 'Edit' | trans }}
  </a>

{% endblock %}
