{% extends 'AppBundle:Tiltag:show.html.twig' %}
{% from 'AppBundle:_includes:calculation_warnings.html.twig' import renderWarnings as renderCalculationWarnings %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row details-overview">
    <div class="col-md-12">

      {% if is_granted('TILTAG_EDIT', entity) %}
        {{ form_start(edit_form) }}
      {% endif %}

      <div id="list-details">
        <table class="table table-condensed table-header-rotated table-hover">
          <thead>
          <tr>
            {{ helper.header() }}
            {{ helper.header('appbundle.tiltagdetail.tilvalgt') }}
            {{ helper.header('appbundle.koeleanlaegtiltagdetail.tilstandDataFoer.tableHeader.ek') }}
            {{ helper.header('appbundle.koeleanlaegtiltagdetail.tilstandDataFoer.tableHeader.qbehov') }}
            {{ helper.header('appbundle.koeleanlaegtiltagdetail.tilstandDataFoer.tableHeader.etot') }}
            {{ helper.header('appbundle.koeleanlaegtiltagdetail.tilstandDataEfter.tableHeader.ek') }}
            {{ helper.header('appbundle.koeleanlaegtiltagdetail.tilstandDataEfter.tableHeader.qbehov') }}
            {{ helper.header('appbundle.koeleanlaegtiltagdetail.tilstandDataEfter.tableHeader.etot') }}
            {{ helper.header('appbundle.koeleanlaegtiltagdetail.tableHeader.etotReduktion') }}
            {{ helper.header('appbundle.koeleanlaegtiltagdetail.tableHeader.samlerBesparelse') }}
          </tr>
          <tr>
            {{ helper.header_unit() }}
            {{ helper.header_unit('appbundle.tiltagdetail.tilvalgt') }}
            {{ helper.header_unit('appbundle.koeleanlaegtiltagdetail.tilstandDataFoer.tableHeader.ek') }}
            {{ helper.header_unit('appbundle.koeleanlaegtiltagdetail.tilstandDataFoer.tableHeader.qbehov') }}
            {{ helper.header_unit('appbundle.koeleanlaegtiltagdetail.tilstandDataFoer.tableHeader.etot') }}
            {{ helper.header_unit('appbundle.koeleanlaegtiltagdetail.tilstandDataEfter.tableHeader.ek') }}
            {{ helper.header_unit('appbundle.koeleanlaegtiltagdetail.tilstandDataEfter.tableHeader.qbehov') }}
            {{ helper.header_unit('appbundle.koeleanlaegtiltagdetail.tilstandDataEfter.tableHeader.etot') }}
            {{ helper.header_unit('appbundle.koeleanlaegtiltagdetail.tableHeader.etotReduktion') }}
            {{ helper.header_unit('appbundle.koeleanlaegtiltagdetail.tableHeader.samlerBesparelse') }}
          </tr>
          </thead>
          <tbody class="list">
            {% for form_detail in edit_form.details %}
              {% set detail = details[form_detail.vars['value'].id] %}
              <tr id="{{ detail.id }}">
                <td>
                  {{ block('tiltag_detail_edit') }}
                </td>
                <td class="tilvalgt" data-value="{{ detail.tilvalgt }}">
                  {{ block('tiltag_detail_tilvalgt') }}
                </td>
                <td class="ekFoer number">{{ detail.tilstandDataFoerEk | format_decimal(0)}}</td>
                <td class="qbehovFoer number">{{ detail.tilstandDataFoerQbehov | format_decimal(0)}}</td>
                <td class="etotFoer number">{{ detail.tilstandDataFoerEtot | format_decimal(0) }}</td>
                <td class="ekEfter number">{{ detail.tilstandDataEfterEk | format_decimal(0) }}</td>
                <td class="qBehovEfter number">{{ detail.tilstandDataEfterQbehov | format_decimal(0)}}</td>
                <td class="etotEfter number">{{ detail.tilstandDataEfterEtot | format_decimal(0)}}</td>
                <td class="etotReduktion number">{{ detail.etotReduktion | format_decimal(0)}}</td>
                <td class="samletBesparelse number">{{ detail.samletBesparelse | format_decimal(0)}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {{ block('editform_button_row') }}

    </div>
  </div>

{% endblock %}
