{% if rapport.virksomhed.name %}
  <div>{{ rapport.virksomhed.name }}</div>
{% endif %}

{% if rapport.virksomhed.address %}
  <div>{{ rapport.virksomhed.address }}</div>
{% endif %}

{% if rapport.virksomhed.postnummer and rapport.virsomhed.byNavn %}
  <div>{{ rapport.virksomhed.postnummer }} {{ rapport.virsomhed.byNavn }}</div>
{% endif %}

{% if contactPerson.name %}
  <div>{{ contactPerson.name }}</div>
{% endif %}
