{% extends "AppBundle::base.html.twig" %}

{% block body %}

  {% for route, name in {
  'bygning' : 'Bygninger',
  'rapport' : 'Rapporter',
  'user' : 'Brugere',
  'solcelle': 'Solceller',
  'klimaskaerm': 'Klimaskærme',
  'pumpe': 'Pumper',
  'forsyningsvaerk': 'Forsyningsværker',
  'configuration': 'Indstillinger',
  } %}
    <a href="{{ path(route) }}" class="btn btn-default btn-lg">{{ name | trans }}</a>
  {% endfor %}

  <div class="row">
    <div class="col-md-6">

      <h2>{{ 'common.afleveret_raadgiver' | trans }}</h2>
      {% if byg_pagination is empty %}
        <div class="alert alert-warning" role="alert">{{ 'bygninger.strings.ingen' | trans }}</div>
      {% else %}
        <table class="table table-condensed table-hover">
          <tr>
            <th>{{ knp_pagination_sortable(byg_pagination, 'appbundle.bygning.navn'|trans, 'b.navn') }}</th>
            <th>{{ knp_pagination_sortable(byg_pagination, 'appbundle.bygning.postBy'|trans, 'b.postBy') }}</th>
            <th>{{ knp_pagination_sortable(byg_pagination, 'appbundle.bygning.updatedAt'|trans, 'r.updatedAt') }}</th>
            <th>{{ knp_pagination_sortable(byg_pagination, 'appbundle.bygning.updatedBy'|trans, 'r.updatedBy') }}</th>
            <th></th>
          </tr>
          {% for r in byg_pagination %}
            <tr>
              <td>{{ r.bygning.navn }}</td>
              <td>{{ r.bygning.postBy }}</td>
              <td>{{ r.updatedBy }}</td>
              <td>{{ r.updatedAt | date('F j, Y H:i') }}</td>
              <td>
                <a href="{{ path('rapport_show', { 'id': r.id }) }}" class="btn btn-default btn-xs">{{ 'rapporter.actions.show' | trans }}</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}

      <div class="row">
        <div class="col-md-12">
          {{ knp_pagination_render(byg_pagination, "", {}, { "prev_label": "«", "next_label": "»", "first_label": "««", "last_label": "»»"}) }}
        </div>
      </div>

    </div>

    {% if segmenter is not empty %}
    <div class="col-md-6">
      {% for seg in segmenter %}

        {% set seg_byg_pagination = segmenter_byg_pagination[seg.id] %}

        {% if seg_byg_pagination is empty %}
          <h2>{{ seg }}</h2>
          <div class="alert alert-warning" role="alert">{{ 'bygninger.strings.ingen' | trans }}</div>
        {% else %}
          <h2>{{ seg }}</h2>
          <table class="table table-condensed table-hover">
            <tr>
              <th>{{ knp_pagination_sortable(byg_pagination, 'appbundle.bygning.navn'|trans, 'b.navn') }}</th>
              <th>{{ knp_pagination_sortable(byg_pagination, 'appbundle.bygning.postBy'|trans, 'b.postBy') }}</th>
              <th>{{ knp_pagination_sortable(byg_pagination, 'appbundle.bygning.updatedAt'|trans, 'r.updatedAt') }}</th>
              <th>{{ knp_pagination_sortable(byg_pagination, 'appbundle.bygning.updatedBy'|trans, 'r.updatedBy') }}</th>
              <th></th>
            </tr>
            {% for r in seg_byg_pagination %}
              <tr>
                <td>{{ r.bygning.navn }}</td>
                <td>{{ r.bygning.postBy }}</td>
                <td>{{ r.updatedBy }}</td>
                <td>{{ r.updatedAt | date('F j, Y H:i') }}</td>
                <td>
                  <a href="{{ path('rapport_show', { 'id': r.id }) }}" class="btn btn-primary btn-xs">{{ 'rapporter.actions.show' | trans }}</a>
                </td>
              </tr>
            {% endfor %}
          </table>

        {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>

{% endblock %}
