{% extends 'AppBundle::base.html.twig' %}

{% block body %}

  <div>

    {% if aaplusAnsvarlig or segmenter or projektleder or projekterende or energiRaadgiver %}
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        {% if aaplusAnsvarlig %}
          <li role="presentation" {% if tab == 'aaplusAnsvarlig' %} class="active" {% endif %}><a href="{{ path('dashboard_default') }}" role="tab">{{ 'bygninger.labels.plural' | trans }}</a></li>
        {% endif %}
        {% if segmenter %}
        <li role="presentation" {% if tab == 'segmenter' %} class="active hidden" {% else %} class="hidden" {% endif %}><a href="{{ path('dashboard_segmenter') }}" role="tab">{{ 'segment.labels.plural' | trans }}</a></li>{##}
        {% endif %}
        {% if projektleder %}
          <li role="presentation" {% if tab == 'projektleder' %} class="active" {% endif %}><a href="{{ path('dashboard_projektleder') }}" aria-controls="messages" role="tab">{{ 'appbundle.bygning.projektleder' | trans }}</a></li>
        {% endif %}
        {% if energiRaadgiver %}
          <li role="presentation" {% if tab == 'igangvaerende' %} class="active" {% endif %}><a href="{{ path('dashboard_igangvaerende') }}" aria-controls="messages" role="tab">{{ 'dashboard.current' | trans }}</a></li>
          <li role="presentation" {% if tab == 'indsendt' %} class="active" {% endif %}><a href="{{ path('dashboard_indsendt') }}" aria-controls="messages" role="tab">{{ 'dashboard.finished' | trans }}</a></li>
        {% endif %}
        {% if projekterende %}
          <li role="presentation" {% if tab == 'projekterende' %} class="active" {% endif %}><a href="{{ path('dashboard_projekterende') }}" aria-controls="messages" role="tab">{{ 'appbundle.bygning.projekterende' | trans }}</a></li>
        {% endif %}
      </ul>
    {% endif %}


    <div class="row">
      <div class="col-md-9">
        <h3>
          {% if tab == 'aaplusAnsvarlig' %}
            {{ 'common.your_buildings' | trans }}{% if form.vars.submitted %}: {{ 'common.a_search' | trans }}{% endif %}
          {% elseif tab == 'segmenter' %}
            {{ 'common.your_segments' | trans }}{% if form.vars.submitted %}: {{ 'common.a_search' | trans }}{% endif %}
          {% elseif tab == 'projektleder' %}
            {{ 'common.projektleder_for' | trans }}{% if form.vars.submitted %}: {{ 'common.a_search' | trans }}{% endif %}
          {% elseif tab == 'projekterende' %}
            {{ 'common.projekterende_for' | trans }}{% if form.vars.submitted %}: {{ 'common.a_search' | trans }}{% endif %}
          {% elseif tab == 'igangvaerende' %}
            {{ 'dashboard.current' | trans }}{% if form.vars.submitted %}: {{ 'common.a_search' | trans }}{% endif %}
          {% elseif tab == 'indsendt' %}
            {{ 'dashboard.finished' | trans }}{% if form.vars.submitted %}: {{ 'common.a_search' | trans }}{% endif %}
          {% else %}
            {{ 'common.forside' | trans }}
          {% endif %}
        </h3>
      </div>
      <div class="col-md-3 text-right">
        <h4>
          <small>{% include 'AppBundle:_includes:pagination_count.html.twig' with {'pagination': pagination} %}</small>
        </h4>
      </div>

    </div>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}

    <div class="panel panel-default">
      <table class="table table-condensed table-hover">
        <tr>
          <th>{{ knp_pagination_sortable(pagination, 'udtraek.bygning.navn'|trans, 'b.navn') }}</th>
          <th>{{ knp_pagination_sortable(pagination, 'udtraek.bygning.adresse'|trans, 'b.adresse') }}</th>
          <th>{{ knp_pagination_sortable(pagination, 'udtraek.bygning.postnummer'|trans, 'b.postnummer') }}</th>
          <th class="hidden">{{ knp_pagination_sortable(pagination, 'udtraek.bygning.segment.forkortelse'|trans, 's.forkortelse') }}</th>
          <th>{{ knp_pagination_sortable(pagination, 'udtraek.bygning.status'|trans, 'b.status') }}</th>
          {% if tab == 'aaplusAnsvarlig' %}
            <th>{{ knp_pagination_sortable(pagination, 'udtraek.bygning.energiRaadgiver'|trans, 'b.energiRaadgiver') }}</th>
          {% else %}
            <th>{{ knp_pagination_sortable(pagination, 'udtraek.bygning.aaplusAnsvarlig'|trans, 'b.aaplusAnsvarlig') }}</th>
          {% endif %}
          <th>{{ knp_pagination_sortable(pagination, 'appbundle.bygning.updatedAt'|trans, 'r.updatedAt') }}</th>
          <th>{{ knp_pagination_sortable(pagination, 'udtraek.bygning.updatedBy'|trans, 'b.updatedBy') }}</th>
          <th></th>
        </tr>

        <tr class="search">
          <th>{{ form_row(form.navn) }}</th>
          <th>{{ form_row(form.adresse) }}</th>
          <th>{{ form_row(form.postnummer) }}</th>
          <th class="hidden">{{ form_row(form.segment) }}</th>
          <th>{{ form_row(form.status) }}</th>
          {% if tab == 'aaplusAnsvarlig' %}
            <th>{{ form_row(form.energiRaadgiver) }}</th>
          {% else %}
            <th>{{ form_row(form.aaplusAnsvarlig) }}</th>
          {% endif %}
          <th></th>
          <th></th>
          <th>{{ form_row(form.Søg) }}</th>
        </tr>

        {% for bygning in pagination %}
        <tr>
          <td>{{ bygning.navn }}</td>
          <td>{{ bygning.adresse }}</td>
          <td>{{ bygning.postnummer }}</td>
          <td class="hidden">
            {% if bygning.segment is not empty %}
              {{ bygning.segment.forkortelse }}
            {% endif %}
          </td>
          <td>{{ bygning.status  | readable }}</td>
          {% if tab == 'aaplusAnsvarlig' %}
            <td>{% if bygning.energiRaadgiver is not empty %}{{ bygning.getEnergiRaadgiverStr() }}{% endif %}</td>
          {% else %}
            <td>{% if bygning.aaplusAnsvarlig is not empty %}{{ bygning.aaplusAnsvarlig.username }}{% endif %}</td>
          {% endif %}
          <td class="date">{{ bygning.updatedAt | date('Y-m-d') }}</td>
          <td>{{ bygning.updatedBy }}</td>
          <td class="text-right">
            {% if bygning.rapport is not empty %}
              <a href="{{ path('rapport_show', { 'id': bygning.rapport.id }) }}" class="btn btn-default btn-xs">{{ 'bygning_rapporter.actions.show' | trans }}</a>
            {% else %}
              <a href="{{ path('bygning_show', { 'id': bygning.id }) }}" class="btn btn-default btn-xs">{{ 'bygninger.actions.show' | trans }}</a>
            {% endif %}
          </td>
        </tr>
        {% else %}
          <tr>
            <td colspan="8">
              <div class="alert alert-info" role="alert">{{ 'bygninger.strings.ingen' | trans }}</div>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        {{ knp_pagination_render(pagination, "", {}, { "prev_label": "«", "next_label": "»", "first_label": "««", "last_label": "»»"}) }}
      </div>
    </div>

    {{ form_end(form) }}

    {% if summary_current is defined and summary_finished is defined %}
      <div class="row">
        <div class="col-md-12">
          <h2>{{ 'common.summary' | trans }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>{{ 'dashboard.current' | trans }}</h3>
          <ul class="list-unstyled">
            <li>{{ 'dashboard.totalareal' | trans }}: {{ summary_current['totalareal'] |number_format }}</li>
            <li>{{ 'dashboard.besparelseEl' | trans }}: {{ summary_current['besparelseEl'] |number_format }}</li>
            <li>{{ 'dashboard.besparelseVarmeGUF' | trans }}: {{ summary_current['besparelseVarmeGUF'] |number_format }}</li>
            <li>{{ 'dashboard.besparelseVarmeGAF' | trans }}: {{ summary_current['besparelseVarmeGAF'] |number_format }}</li>
            <li>{{ 'dashboard.besparelseCO2' | trans }}: {{ summary_current['besparelseCO2'] |number_format }}</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>{{ 'dashboard.finished' | trans }}</h3>
          <ul class="list-unstyled">
            <li>{{ 'dashboard.totalareal' | trans }}: {{ summary_finished['totalareal'] |number_format }}</li>
            <li>{{ 'dashboard.besparelseEl' | trans }}: {{ summary_finished['besparelseEl'] |number_format }}</li>
            <li>{{ 'dashboard.besparelseVarmeGUF' | trans }}: {{ summary_finished['besparelseVarmeGUF'] |number_format }}</li>
            <li>{{ 'dashboard.besparelseVarmeGAF' | trans }}: {{ summary_finished['besparelseVarmeGAF'] |number_format }}</li>
            <li>{{ 'dashboard.besparelseCO2' | trans }}: {{ summary_finished['besparelseCO2'] |number_format }}</li>
          </ul>
        </div>
      </div>
    {% endif %}

  </div>

{% endblock %}
