{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
  <h1>{{ 'resetting.request.submit'|trans }}</h1>
  <p class="alert alert-warning">{{ icon('warning') }} {{ 'resetting.password_already_requested'|trans }}</p>

  <a href="{{ path('fos_user_security_login') }}" class="btn btn-default">{{ icon('arrow-left') }} {{ 'layout.back'|trans }}</a>

{% endblock fos_user_content %}
