{% extends 'AppBundle::base.html.twig' %}

{% macro header(key) %}
  {% set calculation = key|get_calculation %}

  <th class="rotate">
    <div>
      {% if calculation is null %}
        <span>{{ key | trans }}</span>
      {% else %}
        <span data-calculation="{{ calculation }}">{{ key | trans }}</span>
      {% endif %}
    </div>
  </th>
{% endmacro %}

{% import _self as helper %}

{% block body -%}
  <div class="row heading">
    <div class="col-md-6"><h1>{% if entity.title is empty %}{{ 'tiltag.title.missing' | trans }}{% else %}{{ entity.title }}{% endif %}</h1></div>
    <div class="col-md-6 right"><a class="btn btn-default" href="{{ path('tiltag_edit', { 'id': entity.id }) }}">{{ 'Edit' | trans }}</a></div>
  </div>

  {% include 'AppBundle:Tiltag:show-include.html.twig' %}

  {% block detailark -%}...{% endblock %}

  <form method="POST" action="{{ path('regning_create', { 'id': entity.id}) }}" class="inline-block">
    <button type="submit" class="btn btn-default">{{ icon('plus') }} {{ ('tiltag.strings.regning') | trans }}</button>
  </form>

{% endblock %}
