{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>Tiltag</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Varmebsparelseguf</th>
                <td>{{ entity.varmebsparelseGUF }}</td>
            </tr>
            <tr>
                <th>Varmebesparelsegaf</th>
                <td>{{ entity.varmebesparelseGAF }}</td>
            </tr>
            <tr>
                <th>Elbesparelse</th>
                <td>{{ entity.elbesparelse }}</td>
            </tr>
            <tr>
                <th>Vandbesparelse</th>
                <td>{{ entity.vandbesparelse }}</td>
            </tr>
            <tr>
                <th>Energibesparelseaaret</th>
                <td>{{ entity.energibesparelseAarEt }}</td>
            </tr>
            <tr>
                <th>Co2besparelseaaret</th>
                <td>{{ entity.co2besparelseAarEt }}</td>
            </tr>
            <tr>
                <th>Antalreinvesteringer</th>
                <td>{{ entity.antalReinvesteringer }}</td>
            </tr>
            <tr>
                <th>Faktor</th>
                <td>{{ entity.faktor }}</td>
            </tr>
            <tr>
                <th>Primaerenterprise</th>
                <td>{{ entity.primaerEnterprise }}</td>
            </tr>
            <tr>
                <th>Tilbudskategori</th>
                <td>{{ entity.tilbudskategori }}</td>
            </tr>
            <tr>
                <th>Anlaegsinvestering</th>
                <td>{{ entity.anlaegsInvestering }}</td>
            </tr>
            <tr>
                <th>Dvbesparelse</th>
                <td>{{ entity.dVBesparelse }}</td>
            </tr>
            <tr>
                <th>Levetid</th>
                <td>{{ entity.levetid }}</td>
            </tr>
            <tr>
                <th>Forsyningvarme</th>
                <td>{{ entity.forsyningVarme }}</td>
            </tr>
            <tr>
                <th>El</th>
                <td>{{ entity.el }}</td>
            </tr>
            <tr>
                <th>Beskrivelsenevaerende</th>
                <td>{{ entity.beskrivelseNevaerende }}</td>
            </tr>
            <tr>
                <th>Beskrivelseforslag</th>
                <td>{{ entity.beskrivelseForslag }}</td>
            </tr>
            <tr>
                <th>Beskrivelseoevrige</th>
                <td>{{ entity.beskrivelseOevrige }}</td>
            </tr>
            <tr>
                <th>Risikovurdering</th>
                <td>{{ entity.risikovurdering }}</td>
            </tr>
            <tr>
                <th>Placering</th>
                <td>{{ entity.placering }}</td>
            </tr>
            <tr>
                <th>Beskrivelsebv</th>
                <td>{{ entity.beskrivelseBV }}</td>
            </tr>
            <tr>
                <th>Indeklima</th>
                <td>{{ entity.indeklima }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tiltag') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tiltag_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
