<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="list-inline">
          <li>{{ entity.tilvalgtAfRaadgiver | b2icon }} {{ 'appbundle.tiltag.tilvalgt' | trans }} {{ 'appbundle.tiltag.tilvalgtAfRaadgiver' | trans }}</li>
          <li>{{ entity.tilvalgtAfAaPlus | b2icon }} {{ 'appbundle.tiltag.tilvalgt' | trans }} {{ 'appbundle.tiltag.tilvalgtAfAaPlus' | trans }}</li>
          <li>{{ entity.tilvalgtAfMagistrat | b2icon }} {{ 'appbundle.tiltag.tilvalgt' | trans }} {{ 'appbundle.tiltag.tilvalgtAfMagistrat' | trans }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'appbundle.tiltag.besparelsesoverblik' | trans }}</h3>
      </div>
      <table class="table">
        <tbody>
        <tr>
          <td>{{ 'appbundle.tiltag.varmebesparelseGUF' | trans }}</td>
          <td class="text-right" class="text-right">{{ entity.varmebesparelseGUF | number_format }}</td>
          <td>{{ 'appbundle.tiltag.varmebesparelseGUF.unit' | trans }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.tiltag.varmebesparelseGAF' | trans }}</td>
          <td class="text-right" class="text-right">{{ entity.varmebesparelseGAF | number_format }}</td>
          <td>{{ 'appbundle.tiltag.varmebesparelseGAF.unit' | trans }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.tiltag.elbesparelse' | trans }}</td>
          <td class="text-right">{{ entity.elbesparelse | number_format }}</td>
          <td>{{ 'appbundle.tiltag.elbesparelse.unit' | trans }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.tiltag.vandbesparelse' | trans }}</td>
          <td class="text-right">{{ entity.vandbesparelse | number_format }}</td>
          <td>{{ 'appbundle.tiltag.vandbesparelse.unit' | trans }}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th>{{ 'appbundle.tiltag.samletEnergibesparelse' | trans }}</th>
          <th class="text-right">{{ entity.samletEnergibesparelse | number_format }}</th>
          <th>{{ 'appbundle.tiltag.samletEnergibesparelse.unit' | trans }}</th>
        </tr>
        <tr>
          <td>
            <small>{{ 'appbundle.tiltag.besparelseDriftOgVedligeholdelse' | trans }}</small>
          </td>
          <td class="text-right">
            <small>{{ entity.besparelseDriftOgVedligeholdelse | number_format }}</small>
          </td>
          <td>
            <small>{{ 'appbundle.tiltag.besparelseDriftOgVedligeholdelse.unit' | trans }}</small>
          </td>
        </tr>
        <tr>
          <th>{{ 'appbundle.tiltag.samletCo2besparelse' | trans }}</th>
          <th class="text-right">{{ entity.samletCo2besparelse | number_format }}</th>
          <th>{{ 'appbundle.tiltag.samletCo2besparelse.unit' | trans }}</th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'appbundle.tiltag.oekonomioverblik' | trans }}</h3>
      </div>
      <table class="table">
        <tbody>
        <tr>
          <td>{{ 'appbundle.tiltag.anlaegsInvestering' | trans }}</td>
          <td class="text-right">{{ entity.anlaegsInvestering | number_format }}</td>
          <td>{{ 'appbundle.tiltag.anlaegsInvestering.unit' | trans }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.tiltag.reelAnlaegsinvestering' | trans }}</td>
          <td class="text-right">{{ entity.reelAnlaegsinvestering | number_format }}</td>
          <td>{{ 'appbundle.tiltag.reelAnlaegsinvestering.unit' | trans }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.tiltag.simpelTilbagebetalingstidAar' | trans }}</td>
          <td class="text-right">{{ entity.simpelTilbagebetalingstidAar | number_format }}</td>
          <td>{{ 'appbundle.tiltag.simpelTilbagebetalingstidAar.unit' | trans }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.tiltag.nutidsvaerdiSetOver15AarKr' | trans }}</td>
          <td class="text-right">{{ entity.nutidsvaerdiSetOver15AarKr | number_format }}</td>
          <td>{{ 'appbundle.tiltag.nutidsvaerdiSetOver15AarKr.unit' | trans }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.tiltag.scrapvaerdi' | trans }}</td>
          <td class="text-right">{{ entity.scrapvaerdi | number_format }}</td>
          <td>{{ 'appbundle.tiltag.scrapvaerdi.unit' | trans }}</td>
        </tr>
        <tr>
          <td>{{ 'appbundle.tiltag.reinvestering' | trans }}</td>
          <td class="text-right">{{ entity.reinvestering | number_format }}</td>
          <td>{{ 'appbundle.tiltag.reinvestering.unit' | trans }}</td>
        </tr>
        <tr>
          <td class="indent">{{ 'appbundle.tiltag.antalReinvesteringer' | trans }}</td>
          <td class="text-right">{{ entity.antalReinvesteringer | format_integer }}</td>
          <td>{{ 'appbundle.tiltag.antalReinvesteringer.unit' | trans }}</td>
        </tr>
        <tr>
          <td class="indent">{{ 'appbundle.tiltag.faktorForReinvesteringer' | trans }}</td>
          <td class="text-right">{{ entity.faktorForReinvesteringer | number_format }}</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'appbundle.tiltag.forsyningsoverblik' | trans }}</h3>
      </div>
      <div class="panel-body">
        <ul class="list-inline">
          <li><strong>{{ 'appbundle.tiltag.forsyningVarme' | trans }}: </strong> {{ entity.forsyningVarme }} </li>
          <li><strong>{{ 'appbundle.tiltag.forsyningEl' | trans }}:</strong> {{ entity.forsyningEl }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'appbundle.tiltag.information' | trans }}</h3>
      </div>
      <table class="table">
        <tbody>
        <tr>
          <th>{{ 'appbundle.tiltag.levetid' | trans }}</th>
          <td class="text-right">{{ entity.levetid | format_integer }}</td>
          <td>{{ 'appbundle.tiltag.levetid.unit' | trans }}</td>
        </tr>
        <tr>
          <th>{{ 'appbundle.tiltag.primaerEnterprise' | trans }}</th>
          <td class="text-right">{{ entity.primaerEnterprise }}</td>
          <td></td>
        </tr>
        <tr>
          <th>{{ 'appbundle.tiltag.tiltagskategori' | trans }}</th>
          <td class="text-right">{{ entity.tiltagskategori }}</td>
          <td></td>
        </tr>
        <tr>
          <th>{{ 'appbundle.tiltag.placering' | trans }}</th>
          <td class="text-right">{{ entity.placering }}</td>
          <td></td>
        </tr>
        <tr>
          <th>{{ 'appbundle.tiltag.risikovurdering' | trans }}</th>
          <td class="text-right">{{ entity.risikovurdering }}</td>
          <td></td>
        </tr>
        <tr>
          <th>{{ 'appbundle.tiltag.beskrivelseDriftOgVedligeholdelse' | trans }}</th>
          <td>{{ entity.beskrivelseDriftOgVedligeholdelse }}</td>
          <td></td>
        </tr>
        <tr>
          <th>{{ 'appbundle.tiltag.indeklima' | trans }}</th>
          <td>{{ entity.indeklima }}</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'appbundle.tiltag.beskrivelse' | trans }}</h3>
      </div>
      <table class="table">
        <tbody>
        <tr>
          <th>{{ 'appbundle.tiltag.beskrivelseNuvaerende' | trans }}</th>
          <td class="multiline">{{ entity.beskrivelseNuvaerende }}</td>
          <td></td>
        </tr>
        <tr>
          <th>{{ 'appbundle.tiltag.beskrivelseForslag' | trans }}</th>
          <td class="multiline">{{ entity.beskrivelseForslag }}</td>
          <td></td>
        </tr>
        <tr>
          <th>{{ 'appbundle.tiltag.beskrivelseOevrige' | trans }}</th>
          <td class="multiline">{{ entity.beskrivelseOevrige }}</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>