<table class="table table-condensed table-header-rotated table-hover">
  <thead>
  <tr>
    {{ helper.header('appbundle.tiltagdetail.tilvalgt') }}
    {{ helper.header('appbundle.nyklimaskaermtiltagdetail.titel') }}
    {{ helper.header('appbundle.nyklimaskaermtiltagdetail.beskrivelse') }}
    {{ helper.header('appbundle.nyklimaskaermtiltagdetail.antalStk') }}
    {{ helper.header('appbundle.nyklimaskaermtiltagdetail.arealM2') }}
    {{ helper.header('appbundle.nyklimaskaermtiltagdetail.uEksWM2K') }}
    {{ helper.header('appbundle.nyklimaskaermtiltagdetail.uNyWM2K') }}
    {{ helper.header('appbundle.nyklimaskaermtiltagdetail.tIndeC') }}
    {{ helper.header('appbundle.nyklimaskaermtiltagdetail.tUdeC') }}
    {{ helper.header('appbundle.nyklimaskaermtiltagdetail.tOpvarmningTimerAar') }}
    {{ helper.header('appbundle.nyklimaskaermtiltagdetail.samletInvesteringKr') }}
    {{ helper.header('appbundle.nyklimaskaermtiltagdetail.simpelTilbagebetalingstidAar') }}
    {{ helper.header('appbundle.nyklimaskaermtiltagdetail.levetidAar') }}
    {{ helper.header('appbundle.nyklimaskaermtiltagdetail.kWhBesparElvaerkEksternEnergikilde') }}
    {{ helper.header('appbundle.nyklimaskaermtiltagdetail.kWhBesparVarmevaerkEksternEnergikilde') }}
    {{ helper.header() }}
  </tr>
  <tr>
    {{ helper.header_unit('appbundle.tiltagdetail.tilvalgt') }}
    {{ helper.header_unit('appbundle.tiltagdetail.titel') }}
    {{ helper.header_unit('appbundle.tiltagdetail.beskrivelse') }}
    {{ helper.header_unit('appbundle.nyklimaskaermtiltagdetail.antalStk', 'antalStk', 'number') }}
    {{ helper.header_unit('appbundle.nyklimaskaermtiltagdetail.arealM2', 'arealM2', 'number') }}
    {{ helper.header_unit('appbundle.nyklimaskaermtiltagdetail.uEksWM2K', 'uEksWM2K', 'number') }}
    {{ helper.header_unit('appbundle.nyklimaskaermtiltagdetail.uNyWM2K', 'uNyWM2K', 'number') }}
    {{ helper.header_unit('appbundle.nyklimaskaermtiltagdetail.tIndeC', 'tIndeC', 'number') }}
    {{ helper.header_unit('appbundle.nyklimaskaermtiltagdetail.tUdeC', 'tUdeC', 'number') }}
    {{ helper.header_unit('appbundle.nyklimaskaermtiltagdetail.tOpvarmningTimerAar', 'tOpvarmningTimerAar', 'number') }}
    {{ helper.header_unit('appbundle.nyklimaskaermtiltagdetail.samletInvesteringKr', 'samletInvesteringKr', 'number') }}
    {{ helper.header_unit('appbundle.nyklimaskaermtiltagdetail.simpelTilbagebetalingstidAar', 'simpelTilbagebetalingstidAar', 'number') }}
    {{ helper.header_unit('appbundle.nyklimaskaermtiltagdetail.levetidAar', 'levetidAar', 'number') }}
    {{ helper.header_unit('appbundle.nyklimaskaermtiltagdetail.kWhBesparElvaerkEksternEnergikilde', 'kWhBesparElvaerkEksternEnergikilde', 'number') }}
    {{ helper.header_unit('appbundle.nyklimaskaermtiltagdetail.kWhBesparVarmevaerkEksternEnergikilde', 'kWhBesparVarmevaerkEksternEnergikilde', 'number') }}
    {{ helper.header_unit() }}
  </tr>
  </thead>
  <tbody>
  {% for detail in entity.details %}
    <tr>
      <td class="{{ detail.tilvalgt | b2class }}">{{ detail.tilvalgt | b2icon }}</td>
      <td class="titel">{{ detail.titel }}</td>
      <td class="beskrivelse">{{ detail.beskrivelse }}</td>
      <td class="antalStk number">{{ detail.antalStk | format_integer }}</td>
      <td class="arealM2 number">{{ detail.arealM2 | format_decimal }}</td>
      <td class="uEksWM2K number">{{ detail.uEksWM2K | format_decimal }}</td>
      <td class="uNyWM2K number">{{ detail.uNyWM2K | format_decimal }}</td>
      <td class="tIndeC number">{{ detail.tIndeC | format_decimal }}</td>
      <td class="tUdeC number">{{ detail.tUdeC | format_decimal }}</td>
      <td class="tOpvarmningTimerAar number">{{ detail.tOpvarmningTimerAar | format_decimal }}</td>
      <td class="samletInvesteringKr number">{{ detail.samletInvesteringKr | format_amount }}</td>
      <td class="simpelTilbagebetalingstidAar number">{{ detail.simpelTilbagebetalingstidAar | format_decimal }}</td>
      <td class="levetidAar number">{{ detail.levetidAar | format_decimal }}</td>
      <td class="kWhBesparElvaerkEksternEnergikilde number">{{ detail.kWhBesparElvaerkEksternEnergikilde | format_decimal }}</td>
      <td class="kWhBesparVarmevaerkEksternEnergikilde number">{{ detail.kWhBesparVarmevaerkEksternEnergikilde | format_decimal }}</td>
      <td class="last"></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
