<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'common.generelt' | trans }}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        {{ form_row(edit_form.titel) }}
        {{ form_row(edit_form.beskrivelse) }}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'appbundle.nyklimaskaermtiltagdetail.klimaskaerm_label' | trans }}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            {{ form_row(edit_form.antalStk) }}
            {{ form_row(edit_form.tOpvarmningTimerAar) }}
            {{ form_row(edit_form.tIndeC) }}
            {{ form_row(edit_form.uEksWM2K) }}
          </div>
          <div class="col-md-6">
            {{ form_row(edit_form.breddeM) }}
            {{ form_row(edit_form.hoejdeElLaengdeM) }}
            {{ form_row(edit_form.tUdeC) }}
            {{ form_row(edit_form.uNyWM2K) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

