{% extends 'AppBundle::RapportSektion/forms/standard.html.twig' %}
{% block form_content %}
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'common.generelt' | trans }}</h3>
        </div>
        <div class="panel-body">
          {{ form_row(form.title) }}
          {{ form_row(form.text) }}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'common.others' | trans }}</h3>
        </div>
        <div class="panel-body">
          {{ form_row(form.extras.besparelseeffekt) }}
          {{ form_row(form.extras.besparelseeffektUnderTekst) }}
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'common.text_pages' | trans }}</h3>
        </div>
        <div class="panel-body">
          {{ form_row(form.textPages) }}
        </div>
      </div>
      {{ form_rest(form) }}
    </div>
  </div>
{% endblock %}
