{% extends 'AppBundle::RapportSektion/forms/standard.html.twig' %}
{% block form_content %}
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'common.generelt' | trans }}</h3>
        </div>
        <div class="panel-body">
          {{ form_row(form.title) }}
          {{ form_row(form.extras.rapportTypeNavn) }}
          {{ form_row(form.extras.skjuleKort) }}
          {{ form_row(form.extras.erstatningAdresse) }}
          {{ form_row(form.extras.underTekst) }}
          {{ form_row(form.extras.lovpligtTekst) }}
          {{ form_row(form.extras.dato) }}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'rapportsektion.strings.image' | trans }}</h3>
        </div>
        <div class="panel-body">
          {{ form_row(form.imagestandard) }}
          {{ form_row(form.filepath) }}
        </div>
      </div>
    </div>
    <div class="col-md-12">
      {{ form_rest(form) }}
    </div>
  </div>
{% endblock %}
