<script>
  {% if default_value_groups %}
    var default_value_groups = {};
    {% for groupKey, groupOptions in default_value_groups %}
      default_value_groups.{{ groupKey }} = {{ groupOptions|json_encode|raw }};
    {% endfor %}
  {% endif %}
</script>
{% for groupKey, groupOptions in default_value_groups %}
<select name="{{ groupKey }}" id="default-value-group-{{ groupKey }}" class="default-value-select js-default-value-select" data-default-value-target="{{ groupKey }}">
  <option value="0">{{ 'common.select'|trans }}</option>
  {% for optionKey, option in groupOptions %}
    <option value="{{ optionKey }}">{{ option.title }}</option>
  {% endfor %}
</select>
{% endfor %}
{{ form_start(form) }}
{{ form_errors(form) }}
{% block form_content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'common.generelt' | trans }}</h3>
    </div>
    <div class="panel-body">
      {{ form_row(form.title) }}
      {{ form_row(form.text) }}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'common.more_text_pages' | trans }}</h3>
    </div>
    <div class="panel-body">
      {{ form_row(form.textPages) }}
    </div>
  </div>
  {{ form_rest(form) }}
{% endblock %}
{{ form_end(form) }}
