{% extends 'AppBundle:Tiltag:show.html.twig' %}
{% from 'AppBundle:_includes:calculation_warnings.html.twig' import renderWarnings as renderCalculationWarnings %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row details-overview">
    <div class="col-md-12">

      {% if is_granted('TILTAG_EDIT', entity) %}
        {{ form_start(edit_form) }}
      {% endif %}

      <div id="list-details">
        <table class="table table-condensed table-header-rotated table-hover">
          <thead>
          <tr>
            {{ helper.header() }}
            {{ helper.header('appbundle.tiltagdetail.tilvalgt') }}
            {{ helper.header('appbundle.varmeanlaegtiltagdetail.energiTypePrimaerFoer') }}
            {{ helper.header('appbundle.varmeanlaegtiltagdetail.energiForbrugPrimaerFoer.forbrugKWh') }}
            {{ helper.header('appbundle.varmeanlaegtiltagdetail.energiForbrugPrimaerFoer.forbrugKr') }}
            {{ helper.header('appbundle.varmeanlaegtiltagdetail.varmePumpeForbrug.forbrugKWh') }}
            {{ helper.header('appbundle.varmeanlaegtiltagdetail.varmePumpeForbrug.forbrugKr') }}
            {{ helper.header('appbundle.varmeanlaegtiltagdetail.varmebespKwhAar') }}
            {{ helper.header('appbundle.varmeanlaegtiltagdetail.varmebespKrAar') }}
          </tr>
          <tr>
            {{ helper.header_unit() }}
            {{ helper.header_unit('appbundle.tiltagdetail.tilvalgt') }}
            {{ helper.header_unit('appbundle.varmeanlaegtiltagdetail.energiTypePrimaerFoer') }}
            {{ helper.header_unit('appbundle.varmeanlaegtiltagdetail.energiForbrugPrimaerFoer.forbrugKWh') }}
            {{ helper.header_unit('appbundle.varmeanlaegtiltagdetail.energiForbrugPrimaerFoer.forbrugKr') }}
            {{ helper.header_unit('appbundle.varmeanlaegtiltagdetail.varmePumpeForbrug.forbrugKWh') }}
            {{ helper.header_unit('appbundle.varmeanlaegtiltagdetail.varmePumpeForbrug.forbrugKr') }}
            {{ helper.header_unit('appbundle.varmeanlaegtiltagdetail.varmebespKwhAar') }}
            {{ helper.header_unit('appbundle.varmeanlaegtiltagdetail.varmebespKrAar') }}
          </tr>
          </thead>
          <tbody class="list">
            {% for form_detail in edit_form.details %}
              {% set detail = details[form_detail.vars['value'].id] %}
              <tr id="{{ detail.id }}">
                <td>
                  {{ block('tiltag_detail_edit') }}
                </td>
                <td class="tilvalgt" data-value="{{ detail.tilvalgt }}">
                  {{ block('tiltag_detail_tilvalgt') }}
                </td>
                <td class="energiTypePrimaerFoer number">{{ ('appbundle.varmetiltagdetail.energiType.' ~ detail.energiTypePrimaerFoer) | trans }}</td>
                <td class="energiTypePrimaerFoerKwh number">{{ detail.getEnergiForbrugPrimaerFoerKwh() | format_decimal(0) }}</td>
                <td class="energiTypePrimaerFoerKr number">{{ detail.getEnergiForbrugPrimaerFoerKr() | format_decimal(0) }}</td>
                <td class="varmePumpeForbrugKWh number">{{ detail.getVarmeanlaegForbrugKWh() | format_decimal(0) }}</td>
                <td class="varmePumpeForbrugKr number">{{ detail.getVarmeanlaegForbrugKr() | format_decimal(0) }}</td>
                <td class="varmebespKwhAar number">{{ detail.varmebespKwhAar | format_decimal(0) }}</td>
                <td class="varmebespKrAar number">{{ detail.varmebespKrAar | format_decimal(0) }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {{ block('editform_button_row') }}

    </div>
  </div>

{% endblock %}
