  {% extends 'AppBundle::base.html.twig' %}


{% block body -%}
  <div class="row heading">
    <div class="col-md-9">
      <h1>{{ icon('briefcase') }} {{ entity }}</h1>
    </div>
    <div class="col-md-3 text-right">
      {% if entity.baseline is not null %}
        <a href="{{ path('baseline_show', { 'id': entity.baseline.id }) }}" class="btn btn-default">
          {{ 'baseline.labels.singular' | trans }}
        </a>
      {% else %}
        <form method="POST" action="{{ path('baseline_create', { 'id': entity.id }) }}" class="inline-block">
          <button type="submit" class="btn btn-primary">{{ icon('plus') }} {{ 'baseline.labels.singular' | trans }}</button>
        </form>
      {% endif %}
      <a href="{{ path('virksomhed_kortlaegning', { 'id': entity.id }) }}" class="btn btn-default">
        {{ 'appbundle.virksomhed.kortlaegning' | trans }}
      </a>
      <a href="{{ path_with_access_token('virksomhed_get_rapport', { 'id': entity.id }) }}" class="btn btn-default">
        {{ icon('caret-square-o-right') }} {{ 'appbundle.virksomhed.rapport' | trans }}
      </a>
      {% if is_granted('VIRKSOMHED_EDIT', entity) %}
        <a class="btn btn-default btn-default" href="{{ path('virksomhed_edit', { 'id': entity.id }) }}">{{ icon('edit') }} {{ 'common.edit' | trans }}</a>
      {% endif %}
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('briefcase') }} {{ 'appbundle.virksomhed.generalt' | trans }}</div>
        <table class="table table-condensed th-vertical">
          <tbody>
          <tr>
            <th>{{ 'appbundle.virksomhed.name' | trans }}</th>
            <td>{{ entity.name }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.parent' | trans }}</th>
            <td>
              {% if (entity.parent) %}
                <a href="{{ path_with_access_token('virksomhed_show', { 'id': entity.parent.id }) }}">{{ entity.parent }}</a>
              {% else %}
                {{ 'virksomhed.messages.empty.parent' | trans }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.cvrNumber' | trans }}</th>
            <td>{{ entity.cvrNumber }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.crmNumber' | trans }}</th>
            <td>{{ entity.getCrmNumber(TRUE) }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.customerNumber' | trans }}</th>
            <td>{{ entity.getCustomerNumber(TRUE) }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.projectNumber' | trans }}</th>
            <td>{{ entity.getProjectNumber(TRUE) }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.aftagerNumber' | trans }}</th>
            <td>{{ entity.aftagerNumber }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.typeName' | trans }}</th>
            <td>{{ entity.getTypeName(TRUE) }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('home') }} {{ 'appbundle.virksomhed.firma_adresse' | trans }}</div>
          <table class="table table-condensed th-vertical">
            <tbody>
            <tr>
              <th>{{ 'appbundle.virksomhed.kommune' | trans }}</th>
              <td>{{ entity.kommune }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.virksomhed.region' | trans }}</th>
              <td>{{ entity.region }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.virksomhed.byNavn' | trans }}</th>
              <td>{{ entity.byNavn }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.virksomhed.address' | trans }}</th>
              <td>{{ entity.address }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.virksomhed.postnummer' | trans }}</th>
              <td>{{ entity.postnummer }}</td>
            </tr>
            </tbody>
          </table>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('list') }} {{ 'common.overview' | trans }}</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <h4>{{ 'appbundle.virksomhed.datterSelskaber' | trans }}</h4>
              {% set datterSelskaber = entity.getDatterSelskaber() %}
              {% if datterSelskaber | length %}
                {% for datterSelskab in datterSelskaber %}
                  <div>{{ icon('briefcase') }} <a href="{{ path_with_access_token('virksomhed_show', { 'id': datterSelskab.id }) }}">{{ datterSelskab }}</a></div>
                  {% set bygninger = datterSelskab.getBygninger() %}
                  {% if bygninger | length %}
                    {% for bygning in bygninger %}
                      <div class="indent">{{ icon('home') }} <a href="{{ path_with_access_token('bygning_show', { 'id': bygning.id }) }}">{{ bygning }}</a></div>
                    {% endfor %}
                  {% else %}
                    <div class="indent">{{ 'virksomhed.messages.empty.bygninger' | trans }}</div>
                  {% endif %}
                {% endfor %}
              {% else %}
                {{ 'virksomhed.messages.empty.datterSelskaber' | trans }}
              {% endif %}
            </div>
            <div class="col-md-6">
              <h4>{{ 'appbundle.virksomhed.bygning' | trans }}</h4>
              {% set bygninger = entity.getBygninger() %}
              {% if bygninger | length %}
                {% for bygning in bygninger %}
                  <div>{{ icon('home') }} <a href="{{ path_with_access_token('bygning_show', { 'id': bygning.id }) }}">{{ bygning }}</a></div>
                {% endfor %}
              {% else %}
                {{ 'virksomhed.messages.empty.bygninger' | trans }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('home') }} {{ 'appbundle.virksomhed.beregn_oplysninger' | trans }}</div>
        <table class="table table-condensed th-vertical">
          <tbody>
          <tr>
            <th>{{ 'appbundle.virksomhed.naceCode' | trans }}</th>
            <td>{{ entity.naceCode }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.dsmCode' | trans }}</th>
            <td>{{ entity.dsmCode }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.tilskudstorelse' | trans }}</th>
            <td>{{ entity.tilskudstorelse | format_decimal }} {{ 'appbundle.virksomhed.tilskudstorelse' | get_unit }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.forbrug' | trans }}</th>
            <td>{{ entity.forbrug }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.kam' | trans }}</th>
            <td>{{ entity.kam }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.kalkulationsrente' | trans }}</th>
            <td>{{ entity.kalkulationsrente | format_percent_nounit  }} {{ 'appbundle.virksomhed.kalkulationsrente' | get_unit }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.inflation' | trans }}</th>
            <td>{{ entity.inflation | format_percent_nounit  }} {{ 'appbundle.virksomhed.inflation' | get_unit }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.lobetid' | trans }}</th>
            <td>{{ entity.lobetid | format_integer }} {{ 'appbundle.configuration.rapportLobetid' | get_unit }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.user.customer_url' | trans }}</th>
            <td>
              {% if entity.user %}
              <a target="_blank" href="mailto:{{ entity.getContactPersons()[0].mail }}?subject=SEAS-NVE Rapport&body={{ url_with_access_token('virksomhed_show', { 'id': entity.id, 'token': entity.user.getToken() }) }}">Send rapport adgang til kunden</a></td>
            {% endif %}
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.baseline' | trans }}</th>
            <td>
              {% if entity.baseline %}
                <a href="{{ path('baseline_show', { 'id': entity.baseline.id }) }}">{{ 'common.linked' | trans }}</a>
              {% else %}
                {{ 'common.notLinked' | trans }}
              {% endif %}
            </td>
          </tr>

        </tbody>
      </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('industry') }} {{ 'forsyningsvaerk.labels.plural' | trans }}</div>
        <table class="table table-condensed th-vertical">
          <tbody>
          <tr>
            <th>{{ 'appbundle.virksomhed.forsyningsvaerkEl' | trans }}</th>
            <td>{{ entity.forsyningsvaerkEl }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.virksomhed.forsyningsvaerkVarme' | trans }}</th>
            <td>{{ entity.forsyningsvaerkVarme }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('phone') }} {{ 'appbundle.virksomhed.contactPersons' | trans }}</div>
        {% set contactPersons = entity.getContactPersons() %}
        {% if contactPersons | length %}
          <table class="table table-condensed th-vertical">
            <tbody>
            <tr>
              <th>{{ 'appbundle.virksomhed.contactPersons.0.name' | trans }}</th>
              <th>{{ 'appbundle.virksomhed.contactPersons.0.mail' | trans }}</th>
              <th>{{ 'appbundle.virksomhed.contactPersons.0.phoneNumber' | trans }}</th>
            </tr>
            {% for contactPerson in contactPersons %}
              <tr>
                <th>{{ contactPerson.name }}</th>
                <td>{{ contactPerson.mail }}</td>
                <td>{{ contactPerson.phoneNumber }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="panel-body">
            {{ 'virksomhed.messages.empty.contactPersons' | trans }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
