<table class="table table-condensed table-header-rotated">
  <thead>
  <tr>
    {{ helper.header('appbundle.graddagefordeling.titel') }}
    {{ helper.header('appbundle.graddagefordeling.januar') }}
    {{ helper.header('appbundle.graddagefordeling.februar') }}
    {{ helper.header('appbundle.graddagefordeling.marts') }}
    {{ helper.header('appbundle.graddagefordeling.april') }}
    {{ helper.header('appbundle.graddagefordeling.maj') }}
    {{ helper.header('appbundle.graddagefordeling.juni') }}
    {{ helper.header('appbundle.graddagefordeling.juli') }}
    {{ helper.header('appbundle.graddagefordeling.august') }}
    {{ helper.header('appbundle.graddagefordeling.september') }}
    {{ helper.header('appbundle.graddagefordeling.oktober') }}
    {{ helper.header('appbundle.graddagefordeling.november') }}
    {{ helper.header('appbundle.graddagefordeling.december') }}
    {{ helper.header('appbundle.graddagefordeling.sumAar') }}
    {{ helper.header() }}
  </tr>
  <tr>
    {{ helper.header_unit('appbundle.graddagefordeling.titel') }}
    {{ helper.header_unit('appbundle.graddagefordeling.januar') }}
    {{ helper.header_unit('appbundle.graddagefordeling.februar') }}
    {{ helper.header_unit('appbundle.graddagefordeling.marts') }}
    {{ helper.header_unit('appbundle.graddagefordeling.april') }}
    {{ helper.header_unit('appbundle.graddagefordeling.maj') }}
    {{ helper.header_unit('appbundle.graddagefordeling.juni') }}
    {{ helper.header_unit('appbundle.graddagefordeling.juli') }}
    {{ helper.header_unit('appbundle.graddagefordeling.august') }}
    {{ helper.header_unit('appbundle.graddagefordeling.september') }}
    {{ helper.header_unit('appbundle.graddagefordeling.oktober') }}
    {{ helper.header_unit('appbundle.graddagefordeling.november') }}
    {{ helper.header_unit('appbundle.graddagefordeling.december') }}
    {{ helper.header_unit('appbundle.graddagefordeling.sumAar') }}
    {{ helper.header_unit() }}
  </tr>
  </thead>
  <tbody>
  {% for entity in entities | slice(0,1) %}
    <tr>
      <th>{{ entity.titel }}</th>
      <th class="number">{{ entity.januar  | number_format }}</th>
      <th class="number">{{ entity.februar  | number_format }}</th>
      <th class="number">{{ entity.marts  | number_format }}</th>
      <th class="number">{{ entity.april  | number_format }}</th>
      <th class="number">{{ entity.maj  | number_format }}</th>
      <th class="number">{{ entity.juni  | number_format }}</th>
      <th class="number">{{ entity.juli  | number_format }}</th>
      <th class="number">{{ entity.august  | number_format }}</th>
      <th class="number">{{ entity.september  | number_format }}</th>
      <th class="number">{{ entity.oktober  | number_format }}</th>
      <th class="number">{{ entity.november  | number_format }}</th>
      <th class="number">{{ entity.december  | number_format }}</th>
      <th class="number">{{ entity.sumAar  | number_format }}</th>
      <th class="text-right">
        {% if can_edit is defined and can_edit == true %}
          <a class="btn btn-default btn-xs" href="{{ path('graddage_edit', { 'id': entity.id }) }}">{{ 'common.edit' | trans }}</a>
        {% endif %}
      </th>
    </tr>
  {% endfor %}

  {% for entity in entities | slice(1) %}
    <tr>
      <td>{{ entity.titel }}</td>
      <td class="number">{{ entity.januar ? entity.januar  | number_format : '-' }}</td>
      <td class="number">{{ entity.februar ? entity.februar  | number_format : '-' }}</td>
      <td class="number">{{ entity.marts ? entity.marts  | number_format : '-' }}</td>
      <td class="number">{{ entity.april ? entity.april  | number_format : '-' }}</td>
      <td class="number">{{ entity.maj ? entity.maj  | number_format : '-' }}</td>
      <td class="number">{{ entity.juni ? entity.juni  | number_format : '-' }}</td>
      <td class="number">{{ entity.juli ? entity.juli  | number_format : '-' }}</td>
      <td class="number">{{ entity.august ? entity.august  | number_format : '-' }}</td>
      <td class="number">{{ entity.september ? entity.september  | number_format : '-' }}</td>
      <td class="number">{{ entity.oktober ? entity.oktober  | number_format : '-' }}</td>
      <td class="number">{{ entity.november ? entity.november  | number_format : '-' }}</td>
      <td class="number">{{ entity.december ? entity.december | number_format : '-'}}</td>
      <td class="number">{{ entity.sumAar  | number_format }}</td>
      <td class="text-right">
        {% if can_edit is defined and can_edit == true %}
          <a class="btn btn-default btn-xs" href="{{ path('graddage_edit', { 'id': entity.id }) }}">{{ 'common.edit' | trans }}</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
  <tr>
    {% if can_edit is defined and can_edit == true %}
      <th colspan="7">{{ 'graddagefordeling.strings.bemaerk' | trans }}</th>
      <th colspan="7" class="text-right">{{ 'graddagefordeling.strings.kilde' | trans }}: <a href="{{ baseline_graddage_url }}" target="_blank">Graddagetal på aarhus.dk</a></th>
    {% else %}
      <th colspan="15" class="text-right">{{ 'graddagefordeling.strings.kilde' | trans }}: <a href="{{ baseline_graddage_url }}" target="_blank">Graddagetal på aarhus.dk</a></th>
    {% endif %}
  </tr>
  </tfoot>
</table>
