{% extends 'AppBundle:TiltagDetail:show.html.twig' %}

{% block body -%}
    <h1>Specialtiltag</h1>

  <dl class="dl-horizontal">
    <dt>{{ 'tiltag_detail.id' | trans }}</dt>
    <dd>{{ entity.id }}</dd>

    <dt>{{ 'tiltag_detail.special.filepath' | trans }}</dt>
    <dd>{% if not entity.filepath is empty %}<a target="_blank" href="{{ path('tiltag_detail_download', { 'id': entity.id }) }}">{{ entity.filename }}</a>{% endif %}</dd>
  </dl>

{% endblock %}
