{% extends 'AppBundle::base.html.twig' %}

{% block body %}
  <ul>
    <li><a href="/udtraek/field_sum_pr_year/besparelseVarmeGUF">{{ icon('fire') }} {{ 'udtraek.labels.besparelse_varme_guf_pr_aar' | trans }}</a></li>
    <li><a href="/udtraek/field_sum_pr_year/besparelseVarmeGAF">{{ icon('fire') }} {{ 'udtraek.labels.besparelse_varme_gaf_pr_aar' | trans }}</a></li>
    <li><a href="/udtraek/field_sum_pr_year/besparelseEl">{{ icon('bolt') }} {{ 'udtraek.labels.besparelse_el_pr_aar' | trans }}</a></li>
  </ul>
{% endblock %}
