<table class="table table-condensed table-header-rotated table-hover">
  <thead>
  <tr>
    {{ helper.header_span('common.generelt', 6) }}
    {{ helper.header_span('appbundle.belysningtiltagdetail.eksisterendeBelysning', 8) }}
    {{ helper.header_span('appbundle.belysningtiltagdetail.nyBelysning', 11) }}
    {{ helper.header_span('common.oekonomi', 5) }}
  </tr>
  <tr>
    {{ helper.header('appbundle.tiltagdetail.tilvalgt') }}
    {{ helper.header('appbundle.belysningtiltagdetail.lokale.navn') }}
    {{ helper.header('appbundle.belysningtiltagdetail.lokale.type') }}
    {{ helper.header('appbundle.belysningtiltagdetail.noter') }}
    {{ helper.header('appbundle.belysningtiltagdetail.noterForNyBelysning') }}
    {{ helper.header('appbundle.belysningtiltagdetail.lokale.antal') }}

    {{ helper.header('appbundle.belysningtiltagdetail.drifttidTAar') }}
    {{ helper.header('appbundle.belysningtiltagdetail.lyskilde') }}
    {{ helper.header('appbundle.belysningtiltagdetail.placering') }}
    {{ helper.header('appbundle.belysningtiltagdetail.lyskildeStkArmatur') }}
    {{ helper.header('appbundle.belysningtiltagdetail.lyskildeWLyskilde') }}
    {{ helper.header('appbundle.belysningtiltagdetail.lyskilde.forkobling') }}
    {{ helper.header('appbundle.belysningtiltagdetail.armaturerStkLokale') }}
    {{ helper.header('appbundle.belysningtiltagdetail.styring') }}

    {{ helper.header('appbundle.belysningtiltagdetail.nyDriftstid') }}
    {{ helper.header('appbundle.belysningtiltagdetail.belysningstiltag') }}
    {{ helper.header('appbundle.belysningtiltagdetail.nyLyskilde') }}
    {{ helper.header('appbundle.belysningtiltagdetail.erstatningsLyskilde') }}
    {{ helper.header('appbundle.belysningtiltagdetail.nytArmatur') }}
    {{ helper.header('appbundle.belysningtiltagdetail.nyLyskildeStkArmatur') }}
    {{ helper.header('appbundle.belysningtiltagdetail.nyLyskildeWLyskilde') }}
    {{ helper.header('appbundle.belysningtiltagdetail.nyForkoblingStkArmatur') }}
    {{ helper.header('appbundle.belysningtiltagdetail.nyeArmaturerStkLokale') }}
    {{ helper.header('appbundle.belysningtiltagdetail.nyStyring') }}
    {{ helper.header('appbundle.belysningtiltagdetail.nyeSensorerStkLokale') }}

    {{ helper.header('appbundle.belysningtiltagdetail.investeringAlleLokalerKr') }}
    {{ helper.header('appbundle.belysningtiltagdetail.vaegtetLevetidAar') }}
    {{ helper.header('appbundle.belysningtiltagdetail.simpelTilbagebetalingstidAar') }}
    {{ helper.header('appbundle.belysningtiltagdetail.nutidsvaerdiSetOver15AarKr') }}

    {{ helper.header() }}
  </tr>
  <tr>
    {{ helper.header_unit('appbundle.tiltagdetail.tilvalgt') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.lokale.navn') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.lokale.type') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.noter') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.noterForNyBelysning') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.lokale.antal', true) }}

    {{ helper.header_unit('appbundle.belysningtiltagdetail.drifttidTAar') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.lyskilde') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.placering') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.lyskildeStkArmatur') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.lyskildeWLyskilde') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.lyskilde.forkobling') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.armaturerStkLokale') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.styring', true) }}

    {{ helper.header_unit('appbundle.belysningtiltagdetail.nyDriftstid') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.belysningstiltag') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.nyLyskilde') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.erstatningsLyskilde') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.nytArmatur') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.nyLyskildeStkArmatur') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.nyLyskildeWLyskilde') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.nyForkoblingStkArmatur') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.nyeArmaturerStkLokale') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.nyStyring') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.nyeSensorerStkLokale', true) }}

    {{ helper.header_unit('appbundle.belysningtiltagdetail.investeringAlleLokalerKr') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.vaegtetLevetidAar') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.simpelTilbagebetalingstidAar') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.nutidsvaerdiSetOver15AarKr') }}

    {{ helper.header_unit() }}
  </tr>
  </thead>
  <tbody>
  {% for detail in entity.details %}
    <tr>
      <td class="{{ detail.tilvalgt | b2class }}">{{ detail.tilvalgt | b2icon }}</td>
      <td>{{ detail.lokaleNavn }}</td>
      <td>{{ detail.lokaleType }}</td>
      <td>{{ detail.noter }}</td>
      <td>{{ detail.noterForNyBelysning }}</td>
      <td class="number border-right">{{ detail.lokaleAntal | format_integer }}</td>

      <td class="number">{{ detail.drifttidTAar | format_decimal(0) }}</td>
      <td>{{ detail.lyskilde }}</td>
      <td>{{ detail.placering }}</td>
      <td class="number">{{ detail.lyskildeStkArmatur | format_integer }}</td>
      <td class="number">{{ detail.lyskildeWLyskilde | format_decimal }}</td>
      <td>{% if detail.lyskilde is not empty %}{{ detail.lyskilde.forkobling }}{% endif %}</td>
      <td class="number">{{ detail.armaturerStkLokale | format_integer }}</td>
      <td class="border-right">{{ detail.styring | readable('StyringType') }}</td>

      <td class="number">{{ detail.nyDriftstid }}</td>
      <td>{{ detail.belysningstiltag | readable('TiltagType') }}</td>
      <td>{{ detail.nyLyskilde }}</td>
      <td>{{ detail.erstatningsLyskilde }}</td>
      <td>{{ detail.nytArmatur }}</td>
      <td class="number">{{ detail.nyLyskildeStkArmatur }}</td>
      <td class="number">{{ detail.nyLyskildeWLyskilde }}</td>
      <td class="number">{{ detail.nyForkoblingStkArmatur }}</td>
      <td class="number">{{ detail.nyeArmaturerStkLokale }}</td>
      <td>{{ detail.nyStyring }}</td>
      <td class="number border-right">{{ detail.nyeSensorerStkLokale }}</td>

      <td class="number">{{ detail.investeringAlleLokalerKr | format_amount }}</td>
      <td class="number">{{ detail.vaegtetLevetidAar | format_amount }}</td>
      <td class="number">{{ detail.simpelTilbagebetalingstidAar | format_decimal }}</td>
      <td class="number">{{ detail.nutidsvaerdiSetOver15AarKr | format_amount }}</td>
      <td class="last"></td>
    </tr>
  {% endfor %}
  </tbody>
</table>