<table class="table table-condensed">
  <thead>
  <tr>
    {{ helper.header('appbundle.tiltagdetail.tilvalgt') }}
    {{ helper.header('appbundle.belysningtiltagdetail.lokale.navn') }}
    {{ helper.header('appbundle.belysningtiltagdetail.lokale.type') }}
    {{ helper.header('appbundle.belysningtiltagdetail.lokale.antal') }}
    {{ helper.header('appbundle.belysningtiltagdetail.drifttidTAar') }}
    {{ helper.header('appbundle.belysningtiltagdetail.lyskildeStkArmatur') }}
    {{ helper.header('appbundle.belysningtiltagdetail.lyskildeWLyskilde') }}
    {{ helper.header('appbundle.belysningtiltagdetail.benyttelsesFaktor') }}
    {{ helper.header('appbundle.belysningtiltagdetail.elforbrugkWtAar') }}
    {{ helper.header('appbundle.belysningtiltagdetail.nyDriftstid') }}
    {{ helper.header('appbundle.belysningtiltagdetail.nyLyskildeStkArmatur') }}
    {{ helper.header('appbundle.belysningtiltagdetail.nyLyskildeWLyskilde') }}
    {{ helper.header('appbundle.belysningtiltagdetail.nyBenyttelsesFaktor') }}
    {{ helper.header('appbundle.belysningtiltagdetail.nytElforbrugkWtAar') }}
    {{ helper.header('appbundle.belysningtiltagdetail.investeringAlleLokalerKr') }}
    {{ helper.header('appbundle.belysningtiltagdetail.simpelTilbagebetalingstidAar') }}
    {{ helper.header('appbundle.belysningtiltagdetail.kwhBesparelseEl') }}
    {{ helper.header() }}
  </tr>
  <tr>
    {{ helper.header_unit('appbundle.tiltagdetail.tilvalgt') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.lokale.navn', 'lokaleNavn') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.lokale.type', 'lokaleType') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.lokale.antal', 'lokaleAntal') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.drifttidTAar', 'drifttidTAar', 'number') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.lyskildeStkArmatur', 'lyskildeStk', 'number') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.lyskildeWLyskilde', 'lyskildeWLyskilde', 'number') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.benyttelsesFaktor', 'benyttelsesFaktor', 'number') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.elforbrugkWtAar', 'elforbrugkWtAar', 'number') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.nyDriftstid', 'nyDriftstid', 'number') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.nyLyskildeStkArmatur', 'nyLyskildeStk', 'number') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.nyLyskildeWLyskilde', 'nyLyskildeWLyskilde', 'number') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.nyBenyttelsesFaktor', 'nyBenyttelsesFaktor', 'number') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.nytElforbrugkWtAar', 'nytElforbrugkWtAar', 'number') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.investeringAlleLokalerKr', 'investeringAlleLokalerKr', 'number') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.simpelTilbagebetalingstidAar', 'simpelTilbagebetalingstidAar', 'number') }}
    {{ helper.header_unit('appbundle.belysningtiltagdetail.kwhBesparelseEl', 'kwhBesparelseEl', 'number') }}
    {{ helper.header_unit() }}
  </tr>
  </thead>
  <tbody>
  {% for detail in entity.details %}
    <tr>
      <td class="{{ detail.tilvalgt | b2class }}">{{ detail.tilvalgt | b2icon }}</td>
      <td class="lokaleNavn">{{ detail.lokaleNavn }}</td>
      <td class="lokaleType">{{ detail.lokaleType }}</td>
      <td class="lokaleType">{{ detail.lokaleAntal }}</td>
      <td class="drifttidTAar number">{{ detail.drifttidTAar | format_decimal(0) }}</td>
      <td class="lyskildeStkArmatur number">{{ detail.lyskildeStkArmatur | format_integer }}</td>
      <td class="lyskildeWLyskilde number">{{ detail.lyskildeWLyskilde | format_decimal(0) }}</td>
      <td class="forkoblingStkArmatur number">{{ detail.benyttelsesFaktor | format_decimal(1) }}</td>
      <td class="elforbrugWM2 number">{{ detail.elforbrugkWtAar | format_integer }}</td>
      <td class="nyDriftstid number">{{ detail.nyDriftstid | format_decimal(0) }}</td>
      <td class="nyLyskildeStkArmatur number">{{ detail.nyLyskildeStkArmatur | format_integer }}</td>
      <td class="nyLyskildeWLyskilde number">{{ detail.nyLyskildeWLyskilde | format_decimal(0) }}</td>
      <td class="nyForkoblingStkArmatur number">{{ detail.nyBenyttelsesFaktor | format_decimal(1) }}</td>
      <td class="nytElforbrugWM2 number">{{ detail.nytElforbrugkWtAar | format_integer }}</td>
      <td class="investeringAlleLokalerKr number">{{ detail.investeringAlleLokalerKr | format_decimal(0) }}</td>
      <td class="simpelTilbagebetalingstidAar number">{{ detail.simpelTilbagebetalingstidAar | format_decimal}}</td>
      <td class="kwhBesparelseEl number">{{ detail.kwhBesparelseEl | format_decimal(0) }}</td>
      <td class="last"></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
