{% extends 'AppBundle:Tiltag:show.html.twig' %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row">
    <div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-header-rotated table-hover">
					<thead>
						<tr>
							<th class="rotate"><div><span>{{ 'appbundle.tiltagdetail.tilvalgt' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.lokale.navn' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.lokale.type' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.armaturhoejde.m' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.rumstoerrelse.m2' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.lokale.antal' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.drifttid.t.aar' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.lyskilde' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.lyskilde.stk.armatur' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.lyskilde.w.lyskilde' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.forkobling.stk.armatur' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.armaturer.stk.lokale' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.elforbrug.w.m2' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.placering.id' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.styring' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.noter' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.belysningstiltag' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.nye.sensorer.stk.lokale' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.standardinvest.sensor.kr.stk' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.reduktion.af.drifttid' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.ny.driftstid' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.standardinvest.armatur.el.lyskilde.kr.stk' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.ny.lyskilde' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.ny.lyskilde.stk.armatur' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.ny.lyskilde.w.lyskilde' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.ny.forkobling.stk.armatur' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.ny.armatureffekt.w.stk' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.nye.armaturer.stk.lokale' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.nyttiggjort.varme.af.el.besparelse' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.prisfaktor' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.prisfaktor.tillaeg.kr.lokale' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.investering.alle.lokaler.kr' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.nyt.elforbrug.w.m2' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.driftsbesparelse.til.lyskilder.kr.aar' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.simpel.tilbagebetalingstid.aar' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.vaegtet.levetid.aar' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.nutidsvaerdi.set.over15.aar.kr' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.kwh.besparelse.el' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.belysningtiltagdetail.kwh.besparelse.varme.fra.varmevaerket' | trans }}</span></div></th>
							<th class="rotate"><div><span></span></div></th>
						</tr>
					</thead>
					<tbody>
						{% for detail in entity.details %}
							<tr>
								<td>{{ detail.tilvalgt | b2icon }}</td>
								<td>{{ detail.lokaleNavn }}</td>
								<td>{{ detail.lokaleType }}</td>
								<td>{{ detail.armaturhoejdeM | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.rumstoerrelseM2 | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.lokaleAntal | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.drifttidTAar | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.lyskilde }}</td>
								<td>{{ detail.lyskildeStkArmatur | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.lyskildeWLyskilde | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.forkoblingStkArmatur | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.armaturerStkLokale | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.elforbrugWM2 | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.placeringId }}</td>
								<td>{{ detail.styring }}</td>
								<td>{{ detail.noter }}</td>
								<td>{{ detail.belysningstiltag }}</td>
								<td>{{ detail.nyeSensorerStkLokale | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.standardinvestSensorKrStk | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.reduktionAfDrifttid | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nyDriftstid | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.standardinvestArmaturElLyskildeKrStk | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nyLyskilde }}</td>
								<td>{{ detail.nyLyskildeStkArmatur | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nyLyskildeWLyskilde | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nyForkoblingStkArmatur | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nyArmatureffektWStk | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nyeArmaturerStkLokale | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nyttiggjortVarmeAfElBesparelse | localizednumber('percent') }}</td>
								<td>{{ detail.prisfaktor | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.prisfaktorTillaegKrLokale | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.investeringAlleLokalerKr | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nytElforbrugWM2 | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.driftsbesparelseTilLyskilderKrAar | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.simpelTilbagebetalingstidAar | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.vaegtetLevetidAar | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nutidsvaerdiSetOver15AarKr | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.kwhBesparelseEl | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.kwhBesparelseVarmeFraVarmevaerket | localizednumber('decimal', 'double') }}</td>
								<td>
									<a href="{{ path('tiltag_detail_edit', { 'id': detail.id }) }}" class="btn btn-default btn-xs">{{ 'common.edit' | trans }}</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
    </div>
  </div>

  {% form_theme create_detail_form 'AppBundle:Form:modal-form.html.twig' %}
  {{ form(create_detail_form) }}

{% endblock %}
