{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <div class="row">
    <div class="col-md-10">
      <h1>{{ 'user.labels.plural' | trans }}{% if form.vars.submitted %}: {{ 'common.a_search' | trans }}{% endif %}</h1>
    </div>
    <div class="col-md-2 text-right">
      <h2><small>{% include 'AppBundle:_includes:pagination_count.html.twig' %}</small></h2>
    </div>

  </div>

  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
  {{ form_errors(form) }}

  <table class="table table-condensed">
    <thead>
    <tr>
      <th>{{ knp_pagination_sortable(pagination, 'fos.user.profile.form.username' | trans, 'u.username') }}</th>
      <th>{{ knp_pagination_sortable(pagination, 'appbundle.user.firstname' | trans, 'u.firstname') }}</th>
      <th>{{ knp_pagination_sortable(pagination, 'appbundle.user.lastname' | trans, 'u.lastname') }}</th>
      <th>{{ knp_pagination_sortable(pagination, 'appbundle.user.phone' | trans, 'u.phone') }}</th>
      <th>{{ 'appbundle.user.group' | trans }}</th>
      <th class="text-right"></th>
    </tr>

    <tr class="search">
      <th>{{ form_row(form.username) }}</th>
      <th>{{ form_row(form.firstname) }}</th>
      <th>{{ form_row(form.lastname) }}</th>
      <th>{{ form_row(form.phone) }}</th>
      <th></th>
      <th>{{ form_row(form.Søg) }}</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in pagination %}
      <tr>
        <td><a href="{{ path('user_edit', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
        <td>{{ entity.firstname }}</td>
        <td>{{ entity.lastname }}</td>
        <td>{{ entity.phone }}</td>
        <td>{{ entity.group }}</td>
        <td class="text-right">
          <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs">{{ 'common.edit' | trans }}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {{ form_end(form) }}

  <div class="row">
    <div class="col-md-3">
      <a href="{{ path('user_new') }}" class="btn btn-default">
        {{ icon('plus') }} {{ 'user.actions.add' | trans }}
      </a>
    </div>
    <div class="col-md-6 text-center">
      {{ knp_pagination_render(pagination, "", {}, { "prev_label": "«", "next_label": "»", "first_label": "««", "last_label": "»»"}) }}
    </div>
    <div class="col-md-3">
    </div>
  </div>

{% endblock %}
