{% extends 'AppBundle:Tiltag:show.html.twig' %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row">
    <div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-condensed table-header-rotated table-hover">
					<thead>
						<tr>
							{{ helper.header('appbundle.tiltagdetail.tilvalgt') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.laastAfEnergiraadgiver') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.beskrivelseType') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.type') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.driftstidTAar') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.udvDiameterMm') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.eksistIsolMm') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.roerstoerrelseMmAekvivalent') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.tankVolL') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.tempOmgivelC') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.tempMedieC') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.roerlaengdeEllerHoejdeAfVvbM') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.nyttiggjortVarme') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.nyIsolMm') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.varmeledningsevnePaaEksistIsoleringWMK') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.varmeledningsevnePaaNyIsoleringWMK') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.arealAfBeholderM2') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.standardinvestKrM2EllerKrM') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.prisfaktor') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.investeringKr') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.eksistVarmetabKwh') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.nytVarmetabKwh') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.varmebespKwhAar') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.simpelTilbagebetalingstidAar') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.nutidsvaerdiSetOver15AarKr') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.kwhBesparelseElFraVaerket') }}
							{{ helper.header('appbundle.tekniskisoleringtiltagdetail.kwhBesparelseVarmeFraVaerket') }}
							{{ helper.header() }}
						</tr>
					</thead>
					<tbody>
						{% for detail in entity.details %}
							<tr>
								<td>{{ detail.tilvalgt | b2icon }}</td>
								<td>{{ detail.laastAfEnergiraadgiver | b2icon }}</td>
								<td>{{ detail.beskrivelseType }}</td>
								<td>{{ detail.type }}</td>
								<td>{{ detail.driftstidTAar | format_decimal(0) }}</td>
								<td>{{ detail.udvDiameterMm | format_decimal }}</td>
								<td>{{ detail.eksistIsolMm | format_decimal }}</td>
								<td>{{ detail.roerstoerrelseMmAekvivalent | format_decimal }}</td>
								<td>{{ detail.tankVolL | format_decimal }}</td>
								<td>{{ detail.tempOmgivelC | format_decimal }}</td>
								<td>{{ detail.tempMedieC | format_decimal }}</td>
								<td>{{ detail.roerlaengdeEllerHoejdeAfVvbM | format_decimal }}</td>
								<td>{{ detail.nyttiggjortVarme | format_decimal }}</td>
								<td>{{ detail.nyIsolMm | format_decimal }}</td>
								<td>{{ detail.varmeledningsevnePaaEksistIsoleringWMK | format_decimal }}</td>
								<td>{{ detail.varmeledningsevnePaaNyIsoleringWMK | format_decimal }}</td>
								<td>{{ detail.arealAfBeholderM2 | format_decimal }}</td>
								<td>{{ detail.standardinvestKrM2EllerKrM | format_decimal }}</td>
								<td>{{ detail.prisfaktor | format_decimal }}</td>
								<td>{{ detail.investeringKr | format_decimal }}</td>
								<td>{{ detail.eksistVarmetabKwh | format_decimal }}</td>
								<td>{{ detail.nytVarmetabKwh | format_decimal }}</td>
								<td>{{ detail.varmebespKwhAar | format_decimal }}</td>
								<td>{{ detail.simpelTilbagebetalingstidAar | format_decimal }}</td>
								<td>{{ detail.nutidsvaerdiSetOver15AarKr | format_decimal }}</td>
								<td>{{ detail.kwhBesparelseElFraVaerket | format_decimal }}</td>
								<td>{{ detail.kwhBesparelseVarmeFraVaerket | format_decimal }}</td>
								<td>
									<a href="{{ path('tiltag_detail_edit', { 'id': detail.id }) }}" class="btn btn-default btn-xs">{{ 'common.edit' | trans }}</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
    </div>
  </div>

  {% form_theme create_detail_form 'AppBundle:Form:modal-form.html.twig' %}
  {{ form(create_detail_form) }}

{% endblock %}
