{% extends 'AppBundle:Tiltag:show.html.twig' %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-header-rotated table-hover">
        <thead>
        <tr>
          {{ helper.header() }}
          {{ helper.header('appbundle.tiltagdetail.tilvalgt') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.laastAfEnergiraadgiver') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.beskrivelseType') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.type') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.driftstidTAar') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.udvDiameterMm') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.eksistIsolMm') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.roerstoerrelseMmAekvivalent') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.tankVolL') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.tempOmgivelC') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.tempMedieC') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.roerlaengdeEllerHoejdeAfVvbM') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.nyttiggjortVarme') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.nyIsolMm') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.varmeledningsevnePaaEksistIsoleringWMK') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.varmeledningsevnePaaNyIsoleringWMK') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.arealAfBeholderM2') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.standardinvestKrM2EllerKrM') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.prisfaktor') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.investeringKr') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.eksistVarmetabKwh') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.nytVarmetabKwh') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.varmebespKwhAar') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.simpelTilbagebetalingstidAar') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.nutidsvaerdiSetOver15AarKr') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.kwhBesparelseElFraVaerket') }}
          {{ helper.header('appbundle.tekniskisoleringtiltagdetail.kwhBesparelseVarmeFraVaerket') }}
        </tr>
        <tr>
          {{ helper.header_unit() }}
          {{ helper.header_unit('appbundle.tiltagdetail.tilvalgt') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.laastAfEnergiraadgiver') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.beskrivelseType') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.type') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.driftstidTAar') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.udvDiameterMm') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.eksistIsolMm') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.roerstoerrelseMmAekvivalent') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.tankVolL') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.tempOmgivelC') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.tempMedieC') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.roerlaengdeEllerHoejdeAfVvbM') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.nyttiggjortVarme') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.nyIsolMm') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.varmeledningsevnePaaEksistIsoleringWMK') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.varmeledningsevnePaaNyIsoleringWMK') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.arealAfBeholderM2') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.standardinvestKrM2EllerKrM') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.prisfaktor') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.investeringKr') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.eksistVarmetabKwh') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.nytVarmetabKwh') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.varmebespKwhAar') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.simpelTilbagebetalingstidAar') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.nutidsvaerdiSetOver15AarKr') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.kwhBesparelseElFraVaerket') }}
          {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.kwhBesparelseVarmeFraVaerket') }}
        </tr>
        </thead>
        <tbody>
        {% for detail in entity.details %}
          <tr>
            <td>
              {{ block('tiltag_detail_edit') }}
            </td>
            <td>{{ detail.tilvalgt | b2icon }}</td>
            <td>{{ detail.laastAfEnergiraadgiver | b2icon }}</td>
            <td>{{ detail.beskrivelseType }}</td>
            <td>{{ detail.type }}</td>
            <td>{{ detail.driftstidTAar | format_decimal(0) }}</td>
            <td>{{ detail.udvDiameterMm | format_decimal }}</td>
            <td>{{ detail.eksistIsolMm | format_decimal }}</td>
            <td>{{ detail.roerstoerrelseMmAekvivalent | format_decimal }}</td>
            <td>{{ detail.tankVolL | format_decimal }}</td>
            <td>{{ detail.tempOmgivelC | format_decimal }}</td>
            <td>{{ detail.tempMedieC | format_decimal }}</td>
            <td>{{ detail.roerlaengdeEllerHoejdeAfVvbM | format_decimal }}</td>
            <td>{{ detail.nyttiggjortVarme.faktor | format_decimal }}</td>
            <td>{{ detail.nyIsolMm | format_decimal }}</td>
            <td>{{ detail.varmeledningsevnePaaEksistIsoleringWMK | format_decimal }}</td>
            <td>{{ detail.varmeledningsevnePaaNyIsoleringWMK | format_decimal }}</td>
            <td>{{ detail.arealAfBeholderM2 | format_decimal }}</td>
            <td>{{ detail.standardinvestKrM2EllerKrM | format_decimal }}</td>
            <td>{{ detail.prisfaktor | format_decimal }}</td>
            <td>{{ detail.investeringKr | format_decimal }}</td>
            <td>{{ detail.eksistVarmetabKwh | format_decimal }}</td>
            <td>{{ detail.nytVarmetabKwh | format_decimal }}</td>
            <td>{{ detail.varmebespKwhAar | format_decimal }}</td>
            <td>{{ detail.simpelTilbagebetalingstidAar | format_decimal }}</td>
            <td>{{ detail.nutidsvaerdiSetOver15AarKr | format_decimal }}</td>
            <td>{{ detail.kwhBesparelseElFraVaerket | format_decimal }}</td>
            <td>{{ detail.kwhBesparelseVarmeFraVaerket | format_decimal }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
