{% extends 'AppBundle:Tiltag:show.html.twig' %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row">
    <div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-header-rotated table-hover">
					<thead>
						<tr>
							<th class="rotate"><div><span>{{ 'appbundle.tiltagdetail.tilvalgt' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.laastAfEnergiraadgiver' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.beskrivelseType' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.type' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.driftstidTAar' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.udvDiameterMm' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.eksistIsolMm' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.roerstoerrelseMmAekvivalent' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.tankVolL' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.tempOmgivelC' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.tempMedieC' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.roerlaengdeEllerHoejdeAfVvbM' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.nyttiggjortVarme' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.nyIsolMm' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.varmeledningsevnePaaEksistIsoleringWMK' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.varmeledningsevnePaaNyIsoleringWMK' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.arealAfBeholderM2' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.standardinvestKrM2EllerKrM' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.prisfaktor' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.investeringKr' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.eksistVarmetabKwh' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.nytVarmetabKwh' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.varmebespKwhAar' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.simpelTilbagebetalingstidAar' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.nutidsvaerdiSetOver15AarKr' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.kwhBesparelseElFraVaerket' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.kwhBesparelseVarmeFraVaerket' | trans }}</span></div></th>
							<th class="rotate"><div><span></span></div></th>
						</tr>
					</thead>
					<tbody>
						{% for detail in entity.details %}
							<tr>
								<td>{{ detail.tilvalgt | b2icon }}</td>
								<td>{{ detail.laastAfEnergiraadgiver | b2icon }}</td>
								<td>{{ detail.beskrivelseType }}</td>
								<td>{{ detail.type }}</td>
								<td>{{ detail.driftstidTAar | localizednumber }}</td>
								<td>{{ detail.udvDiameterMm | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.eksistIsolMm | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.roerstoerrelseMmAekvivalent | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.tankVolL | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.tempOmgivelC | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.tempMedieC | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.roerlaengdeEllerHoejdeAfVvbM | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nyttiggjortVarme | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nyIsolMm | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.varmeledningsevnePaaEksistIsoleringWMK | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.varmeledningsevnePaaNyIsoleringWMK | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.arealAfBeholderM2 | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.standardinvestKrM2EllerKrM | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.prisfaktor | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.investeringKr | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.eksistVarmetabKwh | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nytVarmetabKwh | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.varmebespKwhAar | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.simpelTilbagebetalingstidAar | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nutidsvaerdiSetOver15AarKr | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.kwhBesparelseElFraVaerket | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.kwhBesparelseVarmeFraVaerket | localizednumber('decimal', 'double') }}</td>
								<td>
									<a href="{{ path('tiltag_detail_show', { 'id': detail.id }) }}" class="btn btn-primary btn-xs">{{ 'common.show' | trans }}</a>
									<a href="{{ path('tiltag_detail_edit', { 'id': detail.id }) }}" class="btn btn-default btn-xs">{{ 'common.edit' | trans }}</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
    </div>
  </div>

  {% form_theme create_detail_form 'AppBundle:Form:modal-form.html.twig' %}
  {{ form(create_detail_form) }}

{% endblock %}
