{% extends 'AppBundle:Tiltag:show.html.twig' %}
{% from 'AppBundle:_includes:calculation_warnings.html.twig' import renderWarnings as renderCalculationWarnings %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row details-overview">
    <div class="col-md-12">

      {% if is_granted('TILTAG_EDIT', entity) %}
        {{ form_start(edit_form) }}
      {% endif %}

      <div id="list-details">
        <table class="table table-condensed table-header-rotated table-hover">
          <thead>
            <tr>
              {{ helper.header('') }}
              {{ helper.header('appbundle.tiltagdetail.tilvalgt') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.laastAfEnergiraadgiver') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.beskrivelseType') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.type') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.driftstidTAar') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.udvDiameterMm') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.eksistIsolMm') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.roerstoerrelseMmAekvivalent') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.tempOmgivelC') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.tempMedieC') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.roerlaengdeEllerHoejdeAfVvbM') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.nyttiggjortVarme') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.nyIsolMm') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.varmeledningsevnePaaEksistIsoleringWMK') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.varmeledningsevnePaaNyIsoleringWMK') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.standardinvestKrM2EllerKrM') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.prisfaktor') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.investeringKr') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.eksistVarmetabKwh') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.nytVarmetabKwh') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.varmebespKwhAar') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.simpelTilbagebetalingstidAar') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.nutidsvaerdiSetOver15AarKr') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.kwhBesparelseElFraVaerket') }}
              {{ helper.header('appbundle.tekniskisoleringtiltagdetail.kwhBesparelseVarmeFraVaerket') }}
              {{ helper.header() }}
            </tr>
            <tr>
              {{ helper.header_unit() }}
              {{ helper.header_unit('appbundle.tiltagdetail.tilvalgt', 'tilvalgt', null, 'value') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.laastAfEnergiraadgiver') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.beskrivelseType', 'beskrivelseType') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.type', 'type') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.driftstidTAar', 'driftstidTAar', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.udvDiameterMm', 'udvDiameterMm', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.eksistIsolMm', 'eksistIsolMm', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.roerstoerrelseMmAekvivalent', 'roerstoerrelseMmAekvivalent', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.tempOmgivelC', 'tempOmgivelC', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.tempMedieC', 'tempMedieC', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.roerlaengdeEllerHoejdeAfVvbM', 'roerlaengdeEllerHoejdeAfVvbM', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.nyttiggjortVarme', 'nyttiggjortVarme', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.nyIsolMm', 'nyIsolMm', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.varmeledningsevnePaaEksistIsoleringWMK', 'varmeledningsevnePaaEksistIsoleringWMK', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.varmeledningsevnePaaNyIsoleringWMK', 'varmeledningsevnePaaNyIsoleringWMK', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.standardinvestKrM2EllerKrM', 'standardinvestKrM2EllerKrM', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.prisfaktor', 'prisfaktor', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.investeringKr', 'investeringKr', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.eksistVarmetabKwh', 'eksistVarmetabKwh', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.nytVarmetabKwh', 'nytVarmetabKwh', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.varmebespKwhAar', 'varmebespKwhAar', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.simpelTilbagebetalingstidAar', 'simpelTilbagebetalingstidAar', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.nutidsvaerdiSetOver15AarKr', 'nutidsvaerdiSetOver15AarKr', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.kwhBesparelseElFraVaerket', 'kwhBesparelseElFraVaerket', 'number') }}
              {{ helper.header_unit('appbundle.tekniskisoleringtiltagdetail.kwhBesparelseVarmeFraVaerket', 'kwhBesparelseVarmeFraVaerket', 'number') }}
              {{ helper.header_unit() }}
            </tr>
          </thead>

          <tbody class="filter">
            <tr>
              {{ helper.header_filter() }}
              {{ helper.header_filter() }}
              {{ helper.header_filter() }}
              {{ helper.header_filter('beskrivelseType') }}
              {{ helper.header_filter('type') }}
              {{ helper.header_filter('driftstidTAar', 'number') }}
              {{ helper.header_filter('udvDiameterMm', 'number') }}
              {{ helper.header_filter('eksistIsolMm', 'number') }}
              {{ helper.header_filter('roerstoerrelseMmAekvivalent', 'number') }}
              {{ helper.header_filter('tempOmgivelC', 'number') }}
              {{ helper.header_filter('tempMedieC', 'number') }}
              {{ helper.header_filter('roerlaengdeEllerHoejdeAfVvbM', 'number') }}
              {{ helper.header_filter('nyttiggjortVarme', 'number') }}
              {{ helper.header_filter('nyIsolMm', 'number') }}
              {{ helper.header_filter('varmeledningsevnePaaEksistIsoleringWMK', 'number') }}
              {{ helper.header_filter('varmeledningsevnePaaNyIsoleringWMK', 'number') }}
              {{ helper.header_filter('standardinvestKrM2EllerKrM', 'number') }}
              {{ helper.header_filter('prisfaktor', 'number') }}
              {{ helper.header_filter('investeringKr', 'number') }}
              {{ helper.header_filter('eksistVarmetabKwh', 'number') }}
              {{ helper.header_filter('nytVarmetabKwh', 'number') }}
              {{ helper.header_filter('varmebespKwhAar', 'number') }}
              {{ helper.header_filter('simpelTilbagebetalingstidAar', 'number') }}
              {{ helper.header_filter('nutidsvaerdiSetOver15AarKr', 'number') }}
              {{ helper.header_filter('kwhBesparelseElFraVaerket', 'number') }}
              {{ helper.header_filter('kwhBesparelseVarmeFraVaerket', 'number') }}
              {{ helper.header_filter() }}
            </tr>
          </tbody>

          <tbody class="list">
            {% for form_detail in edit_form.details %}
              {% set detail = details[form_detail.vars['value'].id] %}
              <tr id="{{ detail.id }}">
                <td>
                  {{ block('tiltag_detail_edit') }}
                </td>
                <td class="tilvalgt" data-value="{{ detail.tilvalgt }}">
                  {{ block('tiltag_detail_tilvalgt') }}
                </td>
                <td class="laastAfEnergiraadgiver" data-value="{{ detail.laastAfEnergiraadgiver }}">{{ detail.laastAfEnergiraadgiver | b2icon }}</td>
                <td class="beskrivelseType">{{ detail.beskrivelseType }}</td>
                <td class="type">{{ detail.type }}</td>
                <td class="driftstidTAar number">{{ detail.driftstidTAar | format_decimal(0) }}</td>
                <td class="udvDiameterMm number">{{ detail.udvDiameterMm | format_decimal }}</td>
                <td class="eksistIsolMm number">{{ detail.eksistIsolMm | format_decimal }}</td>
                <td class="roerstoerrelseMmAekvivalent number">{{ detail.roerstoerrelseMmAekvivalent | format_decimal }}</td>
                <td class="tempOmgivelC number">{{ detail.tempOmgivelC | format_decimal }}</td>
                <td class="tempMedieC number">{{ detail.tempMedieC | format_decimal }}</td>
                <td class="roerlaengdeEllerHoejdeAfVvbM number">{{ detail.roerlaengdeEllerHoejdeAfVvbM | format_decimal }}</td>
                <td class="nyttiggjortVarme number">{{ detail.nyttiggjortVarme.faktor | format_decimal }}</td>
                <td class="nyIsolMm number">{{ detail.nyIsolMm | format_decimal }}</td>
                <td class="varmeledningsevnePaaEksistIsoleringWMK number">{{ detail.varmeledningsevnePaaEksistIsoleringWMK | format_decimal }}</td>
                <td class="varmeledningsevnePaaNyIsoleringWMK number">{{ detail.varmeledningsevnePaaNyIsoleringWMK | format_decimal }}</td>
                <td class="standardinvestKrM2EllerKrM number">{{ detail.standardinvestKrM2EllerKrM | format_amount(2) }}</td>
                <td class="prisfaktor number">{{ detail.prisfaktor | format_decimal }}</td>
                <td class="investeringKr number">{{ detail.investeringKr | format_amount(2) }}</td>
                <td class="eksistVarmetabKwh number">{{ detail.eksistVarmetabKwh | format_decimal }}</td>
                <td class="nytVarmetabKwh number">{{ detail.nytVarmetabKwh | format_decimal }}</td>
                <td class="varmebespKwhAar number">{{ detail.varmebespKwhAar | format_decimal }}</td>
                <td class="simpelTilbagebetalingstidAar number">{{ detail.simpelTilbagebetalingstidAar | format_decimal }}</td>
                <td class="nutidsvaerdiSetOver15AarKr number">{{ detail.nutidsvaerdiSetOver15AarKr | format_amount }}</td>
                <td class="kwhBesparelseElFraVaerket number">{{ detail.kwhBesparelseElFraVaerket | format_decimal }}</td>
                <td class="kwhBesparelseVarmeFraVaerket number">{{ detail.kwhBesparelseVarmeFraVaerket | format_decimal }}</td>
                <td class="last"></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {{ block('editform_button_row') }}

    </div>
  </div>

{% endblock %}
