{% extends 'AppBundle:Tiltag:show.html.twig' %}

{% block body -%}
  {{ parent() }}
{% endblock %}

{% block detailark -%}
  <div class="row">
    <div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-header-rotated table-hover">
					<thead>
						<tr>
							<th class="rotate"><div><span>{{ 'appbundle.tiltagdetail.tilvalgt' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.låstAfEnergirådgiver' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.beskrivelseType' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.type' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.driftstidTÅr' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.udvDiameterMm' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.eksistIsolMm' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.rørstørrelseMmÆkvivalent' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.tankVolL' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.tempOmgivel°C' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.tempMedie°C' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.rørlængdeEllerHøjdeAfVvbM' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.nyttiggjortVarme' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.nyIsolMm' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.varmeledningsevnePåEksistIsoleringWMK' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.varmeledningsevnePåNyIsoleringWMK' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.arealAfBeholderM²' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.standardinvestKrM²EllerKrM' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.prisfaktor' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.investeringKr' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.eksistVarmetabKwh' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.nytVarmetabKwh' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.varmebespKwhÅr' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.simpelTilbagebetalingstidÅr' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.nutidsværdiSetOver15ÅrKr' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.kwhBesparelseElFraVærket' | trans }}</span></div></th>
							<th class="rotate"><div><span>{{ 'appbundle.tekniskisoleringtiltagdetail.kwhBesparelseVarmeFraVærket' | trans }}</span></div></th>
							<th class="rotate"><div><span></span></div></th>
						</tr>
					</thead>
					<tbody>
						{% for detail in entity.details %}
							<tr>
								<td>{{ detail.tilvalgt | b2icon }}</td>
								<td>{{ detail.låstAfEnergirådgiver | b2icon }}</td>
								<td>{{ detail.beskrivelseType }}</td>
								<td>{{ detail.type }}</td>
								<td>{{ detail.driftstidTÅr | localizednumber }}</td>
								<td>{{ detail.udvDiameterMm | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.eksistIsolMm | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.rørstørrelseMmÆkvivalent | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.tankVolL | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.tempOmgivel°C | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.tempMedie°C | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.rørlængdeEllerHøjdeAfVvbM | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nyttiggjortVarme | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nyIsolMm | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.varmeledningsevnePåEksistIsoleringWMK | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.varmeledningsevnePåNyIsoleringWMK | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.arealAfBeholderM² | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.standardinvestKrM²EllerKrM | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.prisfaktor | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.investeringKr | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.eksistVarmetabKwh | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nytVarmetabKwh | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.varmebespKwhÅr | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.simpelTilbagebetalingstidÅr | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.nutidsværdiSetOver15ÅrKr | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.kwhBesparelseElFraVærket | localizednumber('decimal', 'double') }}</td>
								<td>{{ detail.kwhBesparelseVarmeFraVærket | localizednumber('decimal', 'double') }}</td>
								<td>
									<a href="{{ path('tiltag_detail_show', { 'id': detail.id }) }}" class="btn btn-primary btn-xs">{{ 'common.show' | trans }}</a>
									<a href="{{ path('tiltag_detail_edit', { 'id': detail.id }) }}" class="btn btn-default btn-xs">{{ 'common.edit' | trans }}</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
    </div>
  </div>

  {% form_theme create_detail_form 'AppBundle:Form:modal-form.html.twig' %}
  {{ form(create_detail_form) }}

{% endblock %}
