  {% extends 'AppBundle::base.html.twig' %}


{% block body -%}
  <div class="row heading">
    <div class="col-md-9">
      <h1>{{ entity }}</h1>
    </div>
    <div class="col-md-3 text-right">    <a class="btn btn-default btn-default" href="{{ path('forsyningsvaerk_edit', { 'id': entity.id }) }}">{{ 'common.edit' | trans }}</a>

    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('chevron-right') }} {{ 'forsyningsvaerk.labels.singular' | trans }}</div>
        <table class="table table-condensed">
          <tbody>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.navn' | trans }}</th>
                <td>{{ entity.navn }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.energiform' | trans }}</th>
                <td>{{ entity.energiform }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.noter' | trans }}</th>
                <td>{{ entity.noter }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.noterTBeregningAfRabat' | trans }}</th>
                <td>{{ entity.noterTBeregningAfRabat }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.vedForbrugOverKWh' | trans }}</th>
                <td>{{ entity.vedForbrugOverKWh | format_decimal }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2009' | trans }}</th>
                <td>{{ entity.pris2009 | format_amount(2) }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2010' | trans }}</th>
                <td>{{ entity.pris2010 | format_amount(2) }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2011' | trans }}</th>
                <td>{{ entity.pris2011 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2012' | trans }}</th>
                <td>{{ entity.pris2012 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2013' | trans }}</th>
                <td>{{ entity.pris2013 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2014' | trans }}</th>
                <td>{{ entity.pris2014 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2015' | trans }}</th>
                <td>{{ entity.pris2015 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2016' | trans }}</th>
                <td>{{ entity.pris2016 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2017' | trans }}</th>
                <td>{{ entity.pris2017 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2018' | trans }}</th>
                <td>{{ entity.pris2018 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2019' | trans }}</th>
                <td>{{ entity.pris2019 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2020' | trans }}</th>
                <td>{{ entity.pris2020 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2021' | trans }}</th>
                <td>{{ entity.pris2021 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2022' | trans }}</th>
                <td>{{ entity.pris2022 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2023' | trans }}</th>
                <td>{{ entity.pris2023 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2024' | trans }}</th>
                <td>{{ entity.pris2024 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2025' | trans }}</th>
                <td>{{ entity.pris2025 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2026' | trans }}</th>
                <td>{{ entity.pris2026 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2027' | trans }}</th>
                <td>{{ entity.pris2027 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2028' | trans }}</th>
                <td>{{ entity.pris2028 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2029' | trans }}</th>
                <td>{{ entity.pris2029 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2030' | trans }}</th>
                <td>{{ entity.pris2030 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2031' | trans }}</th>
                <td>{{ entity.pris2031 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2032' | trans }}</th>
                <td>{{ entity.pris2032 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2033' | trans }}</th>
                <td>{{ entity.pris2033 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2034' | trans }}</th>
                <td>{{ entity.pris2034 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2035' | trans }}</th>
                <td>{{ entity.pris2035 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2036' | trans }}</th>
                <td>{{ entity.pris2036 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2037' | trans }}</th>
                <td>{{ entity.pris2037 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2038' | trans }}</th>
                <td>{{ entity.pris2038 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2039' | trans }}</th>
                <td>{{ entity.pris2039 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2040' | trans }}</th>
                <td>{{ entity.pris2040 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2041' | trans }}</th>
                <td>{{ entity.pris2041 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2042' | trans }}</th>
                <td>{{ entity.pris2042 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2043' | trans }}</th>
                <td>{{ entity.pris2043 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2044' | trans }}</th>
                <td>{{ entity.pris2044 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2045' | trans }}</th>
                <td>{{ entity.pris2045 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2046' | trans }}</th>
                <td>{{ entity.pris2046 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2047' | trans }}</th>
                <td>{{ entity.pris2047 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2048' | trans }}</th>
                <td>{{ entity.pris2048 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2049' | trans }}</th>
                <td>{{ entity.pris2049 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2050' | trans }}</th>
                <td>{{ entity.pris2050 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2051' | trans }}</th>
                <td>{{ entity.pris2051 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2052' | trans }}</th>
                <td>{{ entity.pris2052 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2053' | trans }}</th>
                <td>{{ entity.pris2053 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2054' | trans }}</th>
                <td>{{ entity.pris2054 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2055' | trans }}</th>
                <td>{{ entity.pris2055 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2056' | trans }}</th>
                <td>{{ entity.pris2056 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2057' | trans }}</th>
                <td>{{ entity.pris2057 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2058' | trans }}</th>
                <td>{{ entity.pris2058 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2059' | trans }}</th>
                <td>{{ entity.pris2059 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2060' | trans }}</th>
                <td>{{ entity.pris2060 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2061' | trans }}</th>
                <td>{{ entity.pris2061 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2062' | trans }}</th>
                <td>{{ entity.pris2062 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2063' | trans }}</th>
                <td>{{ entity.pris2063 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2064' | trans }}</th>
                <td>{{ entity.pris2064 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2065' | trans }}</th>
                <td>{{ entity.pris2065 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2066' | trans }}</th>
                <td>{{ entity.pris2066 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2067' | trans }}</th>
                <td>{{ entity.pris2067 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2068' | trans }}</th>
                <td>{{ entity.pris2068 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2069' | trans }}</th>
                <td>{{ entity.pris2069 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2070' | trans }}</th>
                <td>{{ entity.pris2070 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2071' | trans }}</th>
                <td>{{ entity.pris2071 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2072' | trans }}</th>
                <td>{{ entity.pris2072 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2073' | trans }}</th>
                <td>{{ entity.pris2073 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2074' | trans }}</th>
                <td>{{ entity.pris2074 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2075' | trans }}</th>
                <td>{{ entity.pris2075 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2Noter' | trans }}</th>
                <td>{{ entity.co2Noter }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2009' | trans }}</th>
                <td>{{ entity.co2y2009 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2010' | trans }}</th>
                <td>{{ entity.co2y2010 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2011' | trans }}</th>
                <td>{{ entity.co2y2011 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2012' | trans }}</th>
                <td>{{ entity.co2y2012 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2013' | trans }}</th>
                <td>{{ entity.co2y2013 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2014' | trans }}</th>
                <td>{{ entity.co2y2014 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2015' | trans }}</th>
                <td>{{ entity.co2y2015 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2016' | trans }}</th>
                <td>{{ entity.co2y2016 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2017' | trans }}</th>
                <td>{{ entity.co2y2017 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2018' | trans }}</th>
                <td>{{ entity.co2y2018 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2019' | trans }}</th>
                <td>{{ entity.co2y2019 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2020' | trans }}</th>
                <td>{{ entity.co2y2020 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2021' | trans }}</th>
                <td>{{ entity.co2y2021 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2022' | trans }}</th>
                <td>{{ entity.co2y2022 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2023' | trans }}</th>
                <td>{{ entity.co2y2023 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2024' | trans }}</th>
                <td>{{ entity.co2y2024 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2025' | trans }}</th>
                <td>{{ entity.co2y2025 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2026' | trans }}</th>
                <td>{{ entity.co2y2026 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2027' | trans }}</th>
                <td>{{ entity.co2y2027 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2028' | trans }}</th>
                <td>{{ entity.co2y2028 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2029' | trans }}</th>
                <td>{{ entity.co2y2029 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2030' | trans }}</th>
                <td>{{ entity.co2y2030 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2031' | trans }}</th>
                <td>{{ entity.co2y2031 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2032' | trans }}</th>
                <td>{{ entity.co2y2032 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2033' | trans }}</th>
                <td>{{ entity.co2y2033 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2034' | trans }}</th>
                <td>{{ entity.co2y2034 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2035' | trans }}</th>
                <td>{{ entity.co2y2035 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2036' | trans }}</th>
                <td>{{ entity.co2y2036 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2037' | trans }}</th>
                <td>{{ entity.co2y2037 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2038' | trans }}</th>
                <td>{{ entity.co2y2038 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2039' | trans }}</th>
                <td>{{ entity.co2y2039 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2040' | trans }}</th>
                <td>{{ entity.co2y2040 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2041' | trans }}</th>
                <td>{{ entity.co2y2041 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2042' | trans }}</th>
                <td>{{ entity.co2y2042 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2043' | trans }}</th>
                <td>{{ entity.co2y2043 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2044' | trans }}</th>
                <td>{{ entity.co2y2044 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2045' | trans }}</th>
                <td>{{ entity.co2y2045 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2046' | trans }}</th>
                <td>{{ entity.co2y2046 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2047' | trans }}</th>
                <td>{{ entity.co2y2047 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2048' | trans }}</th>
                <td>{{ entity.co2y2048 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2049' | trans }}</th>
                <td>{{ entity.co2y2049 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2050' | trans }}</th>
                <td>{{ entity.co2y2050 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2051' | trans }}</th>
                <td>{{ entity.co2y2051 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2052' | trans }}</th>
                <td>{{ entity.co2y2052 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2053' | trans }}</th>
                <td>{{ entity.co2y2053 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2054' | trans }}</th>
                <td>{{ entity.co2y2054 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2055' | trans }}</th>
                <td>{{ entity.co2y2055 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2056' | trans }}</th>
                <td>{{ entity.co2y2056 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2057' | trans }}</th>
                <td>{{ entity.co2y2057 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2058' | trans }}</th>
                <td>{{ entity.co2y2058 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2059' | trans }}</th>
                <td>{{ entity.co2y2059 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2060' | trans }}</th>
                <td>{{ entity.co2y2060 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2061' | trans }}</th>
                <td>{{ entity.co2y2061 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2062' | trans }}</th>
                <td>{{ entity.co2y2062 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2063' | trans }}</th>
                <td>{{ entity.co2y2063 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2064' | trans }}</th>
                <td>{{ entity.co2y2064 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2065' | trans }}</th>
                <td>{{ entity.co2y2065 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2066' | trans }}</th>
                <td>{{ entity.co2y2066 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2067' | trans }}</th>
                <td>{{ entity.co2y2067 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2068' | trans }}</th>
                <td>{{ entity.co2y2068 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2069' | trans }}</th>
                <td>{{ entity.co2y2069 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2070' | trans }}</th>
                <td>{{ entity.co2y2070 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2071' | trans }}</th>
                <td>{{ entity.co2y2071 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2072' | trans }}</th>
                <td>{{ entity.co2y2072 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2073' | trans }}</th>
                <td>{{ entity.co2y2073 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2074' | trans }}</th>
                <td>{{ entity.co2y2074 | format_amount(2)}}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2075' | trans }}</th>
                <td>{{ entity.co2y2075 | format_amount(2)}}</td>
            </tr>          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
