{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <h1>{{ icon('home') }} {{ entity.navn }}</h1>

  <table class="table">
    <tbody>
      <tr>
        <th>{{ 'appbundle.forsyningsvaerk.energiform' | trans }}</th>
        <td>{{ entity.energiform }}</td>
      </tr>
      <tr>
        <th>{{ 'appbundle.forsyningsvaerk.noter' | trans }}</th>
        <td>{{ entity.noter }}</td>
      </tr>
			<tr>
        <th>{{ 'appbundle.forsyningsvaerk.co2noter' | trans }}</th>
        <td>{{ entity.co2noter }}</td>
      </tr>
		</tbody>
  </table>

  <div class="row">
    <div class="col-md-6">
      <h2>{{ 'appbundle.forsyningsvaerk.priser' | trans }}</h2>
      <table class="table">
        <tbody>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2014' | trans }}</th>
            <td>{{ entity.pris2014 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2015' | trans }}</th>
            <td>{{ entity.pris2015 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2016' | trans }}</th>
            <td>{{ entity.pris2016 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2017' | trans }}</th>
            <td>{{ entity.pris2017 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2018' | trans }}</th>
            <td>{{ entity.pris2018 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2019' | trans }}</th>
            <td>{{ entity.pris2019 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2020' | trans }}</th>
            <td>{{ entity.pris2020 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2021' | trans }}</th>
            <td>{{ entity.pris2021 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2022' | trans }}</th>
            <td>{{ entity.pris2022 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2023' | trans }}</th>
            <td>{{ entity.pris2023 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2024' | trans }}</th>
            <td>{{ entity.pris2024 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2025' | trans }}</th>
            <td>{{ entity.pris2025 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2026' | trans }}</th>
            <td>{{ entity.pris2026 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2027' | trans }}</th>
            <td>{{ entity.pris2027 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2028' | trans }}</th>
            <td>{{ entity.pris2028 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2029' | trans }}</th>
            <td>{{ entity.pris2029 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2030' | trans }}</th>
            <td>{{ entity.pris2030 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2031' | trans }}</th>
            <td>{{ entity.pris2031 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2032' | trans }}</th>
            <td>{{ entity.pris2032 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2033' | trans }}</th>
            <td>{{ entity.pris2033 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2034' | trans }}</th>
            <td>{{ entity.pris2034 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2035' | trans }}</th>
            <td>{{ entity.pris2035 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2036' | trans }}</th>
            <td>{{ entity.pris2036 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2037' | trans }}</th>
            <td>{{ entity.pris2037 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2038' | trans }}</th>
            <td>{{ entity.pris2038 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2039' | trans }}</th>
            <td>{{ entity.pris2039 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2040' | trans }}</th>
            <td>{{ entity.pris2040 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2041' | trans }}</th>
            <td>{{ entity.pris2041 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2042' | trans }}</th>
            <td>{{ entity.pris2042 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2043' | trans }}</th>
            <td>{{ entity.pris2043 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2044' | trans }}</th>
            <td>{{ entity.pris2044 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.pris2045' | trans }}</th>
            <td>{{ entity.pris2045 | format_decimal }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <h2>{{ 'appbundle.forsyningsvaerk.co2' | trans }}</h2>
      <table class="table">
        <tbody>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2014' | trans }}</th>
            <td>{{ entity.co2y2014 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2015' | trans }}</th>
            <td>{{ entity.co2y2015 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2016' | trans }}</th>
            <td>{{ entity.co2y2016 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2017' | trans }}</th>
            <td>{{ entity.co2y2017 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2018' | trans }}</th>
            <td>{{ entity.co2y2018 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2019' | trans }}</th>
            <td>{{ entity.co2y2019 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2020' | trans }}</th>
            <td>{{ entity.co2y2020 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2021' | trans }}</th>
            <td>{{ entity.co2y2021 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2022' | trans }}</th>
            <td>{{ entity.co2y2022 | format_decimal }}</td>
          </tr>

          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2023' | trans }}</th>
            <td>{{ entity.co2y2023 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2024' | trans }}</th>
            <td>{{ entity.co2y2024 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2025' | trans }}</th>
            <td>{{ entity.co2y2025 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2026' | trans }}</th>
            <td>{{ entity.co2y2026 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2027' | trans }}</th>
            <td>{{ entity.co2y2027 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2028' | trans }}</th>
            <td>{{ entity.co2y2028 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2029' | trans }}</th>
            <td>{{ entity.co2y2029 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2030' | trans }}</th>
            <td>{{ entity.co2y2030 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2031' | trans }}</th>
            <td>{{ entity.co2y2031 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2032' | trans }}</th>
            <td>{{ entity.co2y2032 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2033' | trans }}</th>
            <td>{{ entity.co2y2033 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2034' | trans }}</th>
            <td>{{ entity.co2y2034 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2035' | trans }}</th>
            <td>{{ entity.co2y2035 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2036' | trans }}</th>
            <td>{{ entity.co2y2036 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2037' | trans }}</th>
            <td>{{ entity.co2y2037 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2038' | trans }}</th>
            <td>{{ entity.co2y2038 | format_decimal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.forsyningsvaerk.co2y2039' | trans }}</th>
            <td>{{ entity.co2y2039 | format_decimal }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

{% endblock %}
