  {% extends 'AppBundle::base.html.twig' %}


{% block body -%}
  <div class="row heading">
    <div class="col-md-9">
      <h1>{{ entity }}</h1>
    </div>
    <div class="col-md-3 text-right">    <a class="btn btn-default btn-default" href="{{ path('forsyningsvaerk_edit', { 'id': entity.id }) }}">{{ 'common.edit' | trans }}</a>

    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('chevron-right') }} {{ 'forsyningsvaerker.labels.singular' | trans }}</div>
        <table class="table table-condensed">
          <tbody>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.navn' | trans }}</th>
                <td>{{ entity.navn }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.energiform' | trans }}</th>
                <td>{{ entity.energiform }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.noter' | trans }}</th>
                <td>{{ entity.noter }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.noterTBeregningAfRabat' | trans }}</th>
                <td>{{ entity.noterTBeregningAfRabat }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.vedForbrugOverKWh' | trans }}</th>
                <td>{{ entity.vedForbrugOverKWh }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2009' | trans }}</th>
                <td>{{ entity.pris2009 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2010' | trans }}</th>
                <td>{{ entity.pris2010 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2011' | trans }}</th>
                <td>{{ entity.pris2011 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2012' | trans }}</th>
                <td>{{ entity.pris2012 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2013' | trans }}</th>
                <td>{{ entity.pris2013 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2014' | trans }}</th>
                <td>{{ entity.pris2014 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2015' | trans }}</th>
                <td>{{ entity.pris2015 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2016' | trans }}</th>
                <td>{{ entity.pris2016 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2017' | trans }}</th>
                <td>{{ entity.pris2017 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2018' | trans }}</th>
                <td>{{ entity.pris2018 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2019' | trans }}</th>
                <td>{{ entity.pris2019 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2020' | trans }}</th>
                <td>{{ entity.pris2020 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2021' | trans }}</th>
                <td>{{ entity.pris2021 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2022' | trans }}</th>
                <td>{{ entity.pris2022 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2023' | trans }}</th>
                <td>{{ entity.pris2023 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2024' | trans }}</th>
                <td>{{ entity.pris2024 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2025' | trans }}</th>
                <td>{{ entity.pris2025 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2026' | trans }}</th>
                <td>{{ entity.pris2026 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2027' | trans }}</th>
                <td>{{ entity.pris2027 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2028' | trans }}</th>
                <td>{{ entity.pris2028 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2029' | trans }}</th>
                <td>{{ entity.pris2029 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2030' | trans }}</th>
                <td>{{ entity.pris2030 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2031' | trans }}</th>
                <td>{{ entity.pris2031 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2032' | trans }}</th>
                <td>{{ entity.pris2032 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2033' | trans }}</th>
                <td>{{ entity.pris2033 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2034' | trans }}</th>
                <td>{{ entity.pris2034 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2035' | trans }}</th>
                <td>{{ entity.pris2035 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2036' | trans }}</th>
                <td>{{ entity.pris2036 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2037' | trans }}</th>
                <td>{{ entity.pris2037 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2038' | trans }}</th>
                <td>{{ entity.pris2038 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2039' | trans }}</th>
                <td>{{ entity.pris2039 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2040' | trans }}</th>
                <td>{{ entity.pris2040 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2041' | trans }}</th>
                <td>{{ entity.pris2041 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2042' | trans }}</th>
                <td>{{ entity.pris2042 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2043' | trans }}</th>
                <td>{{ entity.pris2043 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2044' | trans }}</th>
                <td>{{ entity.pris2044 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2045' | trans }}</th>
                <td>{{ entity.pris2045 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2046' | trans }}</th>
                <td>{{ entity.pris2046 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2047' | trans }}</th>
                <td>{{ entity.pris2047 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2048' | trans }}</th>
                <td>{{ entity.pris2048 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2049' | trans }}</th>
                <td>{{ entity.pris2049 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2050' | trans }}</th>
                <td>{{ entity.pris2050 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2051' | trans }}</th>
                <td>{{ entity.pris2051 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2052' | trans }}</th>
                <td>{{ entity.pris2052 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2053' | trans }}</th>
                <td>{{ entity.pris2053 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2054' | trans }}</th>
                <td>{{ entity.pris2054 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2055' | trans }}</th>
                <td>{{ entity.pris2055 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2056' | trans }}</th>
                <td>{{ entity.pris2056 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2057' | trans }}</th>
                <td>{{ entity.pris2057 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2058' | trans }}</th>
                <td>{{ entity.pris2058 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2059' | trans }}</th>
                <td>{{ entity.pris2059 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2060' | trans }}</th>
                <td>{{ entity.pris2060 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2061' | trans }}</th>
                <td>{{ entity.pris2061 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2062' | trans }}</th>
                <td>{{ entity.pris2062 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2063' | trans }}</th>
                <td>{{ entity.pris2063 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2064' | trans }}</th>
                <td>{{ entity.pris2064 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2065' | trans }}</th>
                <td>{{ entity.pris2065 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2066' | trans }}</th>
                <td>{{ entity.pris2066 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2067' | trans }}</th>
                <td>{{ entity.pris2067 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2068' | trans }}</th>
                <td>{{ entity.pris2068 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2069' | trans }}</th>
                <td>{{ entity.pris2069 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2070' | trans }}</th>
                <td>{{ entity.pris2070 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2071' | trans }}</th>
                <td>{{ entity.pris2071 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2072' | trans }}</th>
                <td>{{ entity.pris2072 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2073' | trans }}</th>
                <td>{{ entity.pris2073 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2074' | trans }}</th>
                <td>{{ entity.pris2074 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.pris2075' | trans }}</th>
                <td>{{ entity.pris2075 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2Noter' | trans }}</th>
                <td>{{ entity.co2Noter }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2009' | trans }}</th>
                <td>{{ entity.co2y2009 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2010' | trans }}</th>
                <td>{{ entity.co2y2010 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2011' | trans }}</th>
                <td>{{ entity.co2y2011 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2012' | trans }}</th>
                <td>{{ entity.co2y2012 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2013' | trans }}</th>
                <td>{{ entity.co2y2013 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2014' | trans }}</th>
                <td>{{ entity.co2y2014 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2015' | trans }}</th>
                <td>{{ entity.co2y2015 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2016' | trans }}</th>
                <td>{{ entity.co2y2016 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2017' | trans }}</th>
                <td>{{ entity.co2y2017 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2018' | trans }}</th>
                <td>{{ entity.co2y2018 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2019' | trans }}</th>
                <td>{{ entity.co2y2019 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2020' | trans }}</th>
                <td>{{ entity.co2y2020 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2021' | trans }}</th>
                <td>{{ entity.co2y2021 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2022' | trans }}</th>
                <td>{{ entity.co2y2022 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2023' | trans }}</th>
                <td>{{ entity.co2y2023 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2024' | trans }}</th>
                <td>{{ entity.co2y2024 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2025' | trans }}</th>
                <td>{{ entity.co2y2025 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2026' | trans }}</th>
                <td>{{ entity.co2y2026 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2027' | trans }}</th>
                <td>{{ entity.co2y2027 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2028' | trans }}</th>
                <td>{{ entity.co2y2028 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2029' | trans }}</th>
                <td>{{ entity.co2y2029 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2030' | trans }}</th>
                <td>{{ entity.co2y2030 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2031' | trans }}</th>
                <td>{{ entity.co2y2031 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2032' | trans }}</th>
                <td>{{ entity.co2y2032 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2033' | trans }}</th>
                <td>{{ entity.co2y2033 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2034' | trans }}</th>
                <td>{{ entity.co2y2034 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2035' | trans }}</th>
                <td>{{ entity.co2y2035 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2036' | trans }}</th>
                <td>{{ entity.co2y2036 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2037' | trans }}</th>
                <td>{{ entity.co2y2037 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2038' | trans }}</th>
                <td>{{ entity.co2y2038 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2039' | trans }}</th>
                <td>{{ entity.co2y2039 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2040' | trans }}</th>
                <td>{{ entity.co2y2040 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2041' | trans }}</th>
                <td>{{ entity.co2y2041 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2042' | trans }}</th>
                <td>{{ entity.co2y2042 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2043' | trans }}</th>
                <td>{{ entity.co2y2043 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2044' | trans }}</th>
                <td>{{ entity.co2y2044 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2045' | trans }}</th>
                <td>{{ entity.co2y2045 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2046' | trans }}</th>
                <td>{{ entity.co2y2046 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2047' | trans }}</th>
                <td>{{ entity.co2y2047 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2048' | trans }}</th>
                <td>{{ entity.co2y2048 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2049' | trans }}</th>
                <td>{{ entity.co2y2049 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2050' | trans }}</th>
                <td>{{ entity.co2y2050 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2051' | trans }}</th>
                <td>{{ entity.co2y2051 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2052' | trans }}</th>
                <td>{{ entity.co2y2052 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2053' | trans }}</th>
                <td>{{ entity.co2y2053 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2054' | trans }}</th>
                <td>{{ entity.co2y2054 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2055' | trans }}</th>
                <td>{{ entity.co2y2055 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2056' | trans }}</th>
                <td>{{ entity.co2y2056 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2057' | trans }}</th>
                <td>{{ entity.co2y2057 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2058' | trans }}</th>
                <td>{{ entity.co2y2058 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2059' | trans }}</th>
                <td>{{ entity.co2y2059 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2060' | trans }}</th>
                <td>{{ entity.co2y2060 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2061' | trans }}</th>
                <td>{{ entity.co2y2061 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2062' | trans }}</th>
                <td>{{ entity.co2y2062 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2063' | trans }}</th>
                <td>{{ entity.co2y2063 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2064' | trans }}</th>
                <td>{{ entity.co2y2064 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2065' | trans }}</th>
                <td>{{ entity.co2y2065 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2066' | trans }}</th>
                <td>{{ entity.co2y2066 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2067' | trans }}</th>
                <td>{{ entity.co2y2067 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2068' | trans }}</th>
                <td>{{ entity.co2y2068 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2069' | trans }}</th>
                <td>{{ entity.co2y2069 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2070' | trans }}</th>
                <td>{{ entity.co2y2070 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2071' | trans }}</th>
                <td>{{ entity.co2y2071 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2072' | trans }}</th>
                <td>{{ entity.co2y2072 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2073' | trans }}</th>
                <td>{{ entity.co2y2073 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2074' | trans }}</th>
                <td>{{ entity.co2y2074 }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.forsyningsvaerk.co2y2075' | trans }}</th>
                <td>{{ entity.co2y2075 }}</td>
            </tr>          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
