<table class="table table-condensed table-header-rotated table-hover">
  <thead>
  <tr>
    {{ helper.header('appbundle.tiltagdetail.tilvalgt') }}
    {{ helper.header('appbundle.varmepumpetiltagdetail.energiTypePrimaerFoer') }}
    {{ helper.header('appbundle.varmepumpetiltagdetail.energiForbrugPrimaerFoer.forbrugKWh') }}
    {{ helper.header('appbundle.varmepumpetiltagdetail.energiForbrugPrimaerFoer.forbrugKr') }}
    {{ helper.header('appbundle.varmepumpetiltagdetail.varmePumpeForbrug.forbrugKWh') }}
    {{ helper.header('appbundle.varmepumpetiltagdetail.varmePumpeForbrug.forbrugKr') }}
    {{ helper.header('appbundle.varmepumpetiltagdetail.varmebespKwhAar') }}
    {{ helper.header('appbundle.varmepumpetiltagdetail.varmebespKrAar') }}
  </tr>
  <tr>
    {{ helper.header_unit('appbundle.tiltagdetail.tilvalgt') }}
    {{ helper.header_unit('appbundle.varmepumpetiltagdetail.energiTypePrimaerFoer') }}
    {{ helper.header_unit('appbundle.varmepumpetiltagdetail.energiForbrugPrimaerFoer.forbrugKWh') }}
    {{ helper.header_unit('appbundle.varmepumpetiltagdetail.energiForbrugPrimaerFoer.forbrugKr') }}
    {{ helper.header_unit('appbundle.varmepumpetiltagdetail.varmePumpeForbrug.forbrugKWh') }}
    {{ helper.header_unit('appbundle.varmepumpetiltagdetail.varmePumpeForbrug.forbrugKr') }}
    {{ helper.header_unit('appbundle.varmepumpetiltagdetail.varmebespKwhAar') }}
    {{ helper.header_unit('appbundle.varmepumpetiltagdetail.varmebespKrAar') }}
  </tr>
  </thead>
  <tbody>
  {% for detail in entity.details %}
    <tr>
      <td class="{{ detail.tilvalgt | b2class }}">{{ detail.tilvalgt | b2icon }}</td>
      <td class="energiTypePrimaerFoer number">{{ ('appbundle.varmetiltagdetail.energiType.' ~ detail.energiTypePrimaerFoer) | trans }}</td>
      <td class="energiForbrugPrimaerFoer number">{{ detail.getEnergiForbrugPrimaerFoerKwh() | format_decimal(0) }}</td>
      <td class="energiForbrugPrimaerFoer number">{{ detail.getEnergiForbrugPrimaerFoerKr() | format_decimal(0) }}</td>
      <td class="varmePumpeForbrugKWh number">{{ detail.getVarmePumpeForbrugKWh() | format_decimal(0) }}</td>
      <td class="varmePumpeForbrugKr number">{{ detail.getVarmePumpeForbrugKr() | format_decimal(0) }}</td>
      <td class="varmebespKwhAar number">{{ detail.varmebespKwhAar | format_decimal(0) }}</td>
      <td class="varmebespKrAar number">{{ detail.varmebespKrAar | format_decimal(0) }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
