{% extends 'AppBundle::base.html.twig' %}

{% block body -%}

  <div class="row heading">
    <div class="col-md-9">
      <h1>{{ entity }}</h1>
    </div>
    <div class="col-md-3 text-right">
      <a class="btn btn-default btn-default" href="{{ path('komponent_edit', { 'id': entity.id }) }}">{{ 'common.edit' | trans }}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('chevron-right') }} {{ 'komponent.labels.singular' | trans }}</div>
        <table class="table table-condensed">
          <tbody>
            <tr>
              <th>{{ 'appbundle.komponent.titel' | trans }}</th>
              <td>{{ entity.titel }}</td>
            </tr>
            <tr>
              <th>{{ 'appbundle.komponent.roerlaengde' | trans }}</th>
              <td>{{ entity.roerlaengde }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}
