  {% extends 'AppBundle::base.html.twig' %}


  {% block body -%}

  <div class="row heading">
    <div class="col-md-9">
        <h1>{{ 'rapportsektion.labels.plural' | trans }}</h1>
    </div>
    <div class="col-md-3 text-right">
          </div>

  </div>


  <table class="table table-condensed table-header-rotated">
    <thead>
    <tr>
        {{ helper.header('appbundle.rapportsektion.title') }}
        {{ helper.header('appbundle.rapportsektion.text') }}
        {{ helper.header('appbundle.rapportsektion.type') }}
        {{ helper.header('appbundle.rapportsektion.extras') }}
      {{ helper.header() }}
    </tr>
    <tr>
        {{ helper.header_unit('appbundle.rapportsektion.title') }}
        {{ helper.header_unit('appbundle.rapportsektion.text') }}
        {{ helper.header_unit('appbundle.rapportsektion.type') }}
        {{ helper.header_unit('appbundle.rapportsektion.extras') }}
      {{ helper.header_unit() }}
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    <tr>
        <td>{{ entity.title }}</td>
        <td>{{ entity.text }}</td>
        <td>{{ entity.type }}</td>
        <td>{{ entity.extras }}</td>
      <td class="text-right">    <a class="btn btn-default btn-xs" href="{{ path('rapportsektion_edit', { 'id': entity.id }) }}">{{ 'common.edit' | trans }}</a>

      </td>

    </tr>
    {% endfor %}
    </tbody>
  </table>

  {% endblock %}
