{% extends 'AppBundle::base.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-md-10">
      <h1>Bygninger</h1>
    </div>
    <div class="col-md-2">
      <a href="{{ path('bygning_new') }}" class="btn btn-default">
        <i class="fa fa-plus"></i> Tilføj Bygning
      </a>
    </div>

  </div>

  <table class="table table-hover">
    <tr>
      <th>{{ knp_pagination_sortable(pagination, '#', 'b.bygId') }}</th>
      <th>{{ knp_pagination_sortable(pagination, 'Adresse', 'b.adresse') }}</th>
      <th>{{ knp_pagination_sortable(pagination, 'Postnr.', 'b.postnummer') }}</th>
      <th>{{ knp_pagination_sortable(pagination, 'By.', 'b.postBy') }}</th>
      <th>Actions</th>
    </tr>
    {% for bygning in pagination %}
      <tr>
        <td>{{ bygning.bygId }}</td>
        <td>{{ bygning.adresse }}</td>
        <td>{{ bygning.postnummer }}</td>
        <td>{{ bygning.postBy }}</td>
        <td>
          <a href="{{ path('bygning_show', { 'id': bygning.id }) }}" class="btn btn-primary btn-xs">show</a>
          <a href="{{ path('bygning_edit', { 'id': bygning.id }) }}" class="btn btn-default btn-xs">edit</a>
        </td>
      </tr>
    {% else %}
      Ingen bygninger fundet
    {% endfor %}
  </table>

  <div class="row">
    <div class="col-md-12">
      {{ knp_pagination_render(pagination, "", {}, { "prev_label": "«", "next_label": "»", "first_label": "««", "last_label": "»»"}) }}
    </div>
  </div>

{% endblock %}