{% extends 'AppBundle::base.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-md-10">
      <h1>{{ 'bygninger.labels.plural' | trans }}</h1>
    </div>
    <div class="col-md-2">
      <a href="{{ path('bygning_new') }}" class="btn btn-default">
        {{ icon('plus') }} {{ 'bygninger.actions.add' | trans }}
      </a>
    </div>

  </div>

  <table class="table table-hover">
    <tr>
      <th>{{ knp_pagination_sortable(pagination, '#', 'b.bygId') }}</th>
      <th>{{ knp_pagination_sortable(pagination, 'appbundle.bygning.adresse'|trans, 'b.adresse') }}</th>
      <th>{{ knp_pagination_sortable(pagination, 'appbundle.bygning.postnummer'|trans, 'b.postnummer') }}</th>
      <th>{{ knp_pagination_sortable(pagination, 'appbundle.bygning.postBy'|trans, 'b.postBy') }}</th>
      <th></th>
    </tr>
    {% for bygning in pagination %}
      <tr>
        <td>{{ bygning.bygId }}</td>
        <td>{{ bygning.adresse }}</td>
        <td>{{ bygning.postnummer }}</td>
        <td>{{ bygning.postBy }}</td>
        <td>
          <a href="{{ path('bygning_show', { 'id': bygning.id }) }}" class="btn btn-primary btn-xs">show</a>
          <a href="{{ path('bygning_edit', { 'id': bygning.id }) }}" class="btn btn-default btn-xs">edit</a>
        </td>
      </tr>
    {% else %}
      {{ 'bygninger.strings.ingen' | trans }}
    {% endfor %}
  </table>

  <div class="row">
    <div class="col-md-12">
      {{ knp_pagination_render(pagination, "", {}, { "prev_label": "«", "next_label": "»", "first_label": "««", "last_label": "»»"}) }}
    </div>
  </div>

{% endblock %}