{% extends 'AppBundle::base.html.twig' %}

{% block body -%}


  <div class="row heading">
    <div class="col-md-8">
      {% if entity.navn %}
        <h1>{{ icon('home') }} {{ entity.navn }}
          <small>{{ entity.adresse }}, {{ entity.postnummer }} {{ entity.postBy }}</small>
        </h1>
      {% else %}
        <h1>{{ icon('home') }} {{ entity.adresse }}, {{ entity.postnummer }} {{ entity.postBy }}</h1>
      {% endif %}
    </div>
    <div class="col-md-4 text-right">
      <p>
        {% if entity.baseline is not null %}
        <a href="{{ path('baseline_show', { 'id': entity.baseline.id }) }}" class="btn btn-primary">
          {{ 'baseline.labels.singular' | trans }}
        </a>
      {% endif %}

      {% if is_granted('ROLE_BYGNING_EDIT') %}
        <a href="{{ path('bygning_edit', { 'id': entity.id }) }}" class="btn btn-default">
          {{ icon('edit') }} {{ 'common.edit' | trans }}
        </a>
      {% endif %}

      {% if is_granted('ROLE_BYGNING_EDIT') and entity.status == '1_IS' %}
        <a href="{{ path('bygning_indfoer', { 'id': entity.id }) }}" class="btn btn-primary">
          {{ icon('caret-square-o-right') }} {{ 'bygninger.actions.indfoer' | trans }}
        </a>
      {% elseif is_granted('ROLE_BYGNING_EDIT') and entity.status == '2_DV' %}
        <a href="{{ path('bygning_tilknyt', { 'id': entity.id }) }}" class="btn btn-primary">
          {{ icon('caret-square-o-right') }} {{ 'bygninger.actions.tilknyt_raadgiver' | trans }}
        </a>
      {% endif %}
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('home') }} {{ 'appbundle.bygning.navn' | trans }} / {{ 'appbundle.bygning.adresse' | trans }}</div>
        <table class="table table-condensed th-vertical">
          <tbody>
          <tr>
            <th>{{ 'appbundle.bygning.navn' | trans }}</th>
            <td>{{ entity.navn }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.adresse' | trans }}</th>
            <td>{{ entity.adresse }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.postnummer' | trans }}</th>
            <td>{{ entity.postnummer }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.postBy' | trans }}</th>
            <td>{{ entity.postBy }}</td>
          </tr>
          </tbody>
        </table>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('users') }} {{ 'common.personer' | trans }} / {{ 'common.tilknytning' | trans }}</div>
        <table class="table table-condensed th-vertical">
          <tbody>
          <tr>
            <th>{{ 'appbundle.bygning.virksomhed' | trans }}</th>
            <td>
              {% if entity.virksomhed %}
                <a href="{{ path('virksomhed_show', { 'id': entity.virksomhed.id }) }}">{{ entity.virksomhed }}</a>
              {% endif %}
            </td>
          </tr>
          {% if entity.virksomhed %}
            <tr>
              <th class="indent">{{ 'appbundle.virksomhed.crmNumber' | trans }}</th>
              <td>{{ entity.virksomhed.getCrmNumber(TRUE) }}</td>
            </tr>
            <tr>
              <th class="indent">{{ 'appbundle.virksomhed.projectNumber' | trans }}</th>
              <td>{{ entity.virksomhed.getProjectNumber(TRUE) }}</td>
            </tr>
            <tr>
              <th class="indent">{{ 'appbundle.virksomhed.customerNumber' | trans }}</th>
              <td>{{ entity.virksomhed.getCustomerNumber(TRUE) }}</td>
            </tr>
            <tr>
              <th class="indent">{{ 'appbundle.virksomhed.typeName' | trans }}</th>
              <td>{{ entity.virksomhed.getTypeName(TRUE) }}</td>
            </tr>
          {% endif %}
          <tr>
            <th>{{ 'appbundle.bygning.cvrNumber' | trans }}</th>
            <td>{{ entity.cvrNumber }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.eanNumber' | trans }}</th>
            <td>{{ entity.eanNumber }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.pNumber' | trans }}</th>
            <td>{{ entity.pNumber }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.aaplusAnsvarlig' | trans }}</th>
            <td>{{ entity.aaplusAnsvarlig }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.projektleder' | trans }}</th>
            <td>{{ entity.projektleder }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.energiRaadgiver' | trans }}</th>
            <td>
              {% set energiRaadgiver = entity.getEnergiRaadgiver() %}
              {% if energiRaadgiver | length %}
                {% for user in energiRaadgiver %}
                  <div>{{ user }}</div>
                {% endfor %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.projekterende' | trans }}</th>
            <td>{{ entity.projekterende }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.afdelingsnavn' | trans }}</th>
            <td>{{ entity.afdelingsnavn }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.ejerA' | trans }}</th>
            <td>{{ entity.ejerA }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.divisionnavn' | trans }}</th>
            <td>{{ entity.divisionnavn }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.omraadenavn' | trans }}</th>
            <td>{{ entity.omraadenavn }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.ejerforhold' | trans }}</th>
            <td>{{ entity.ejerforhold }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('info-circle') }} {{ 'common.data' | trans }}</div>
        <table class="table table-condensed th-vertical">
          <tbody>
          <tr>
            <th>{{ 'appbundle.bygning.bygId' | trans }}</th>
            <td>{{ entity.bygId }}</td>
          </tr>
          <tr class="hidden">
            <th>{{ 'appbundle.bygning.enhedsys' | trans }}</th>
            <td>{{ entity.enhedsys }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.type' | trans }}</th>
            <td>{{ entity.type }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.OpfoerselsAar' | trans }}</th>
            <td>{{ entity.OpfoerselsAar }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.anvendelse' | trans }}</th>
            <td>{{ entity.anvendelse }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.bruttoetageareal' | trans }}</th>
            <td>{{ entity.bruttoetageareal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.erhvervsareal' | trans }}</th>
            <td>{{ entity.erhvervsareal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.opvarmetareal' | trans }}</th>
            <td>{{ entity.opvarmetareal }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.status' | trans }}</th>
            <td>{{ entity.status | readable }}</td>
          </tr>
          <tr>
            <th>{{ 'bygning_rapporter.labels.singular' | trans }}</th>
            <td>
              {% if entity.rapport %}
                <a href="{{ path('rapport_show', { 'id': entity.rapport.id }) }}">{{ entity.rapport }} - {{ 'appbundle.rapport.version' | trans }} {{ entity.rapport.version }}</a>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ 'baseline.labels.singular' | trans }}</th>
            <td>
              {% if entity.baseline %}
                <a href="{{ path('baseline_show', { 'id': entity.baseline.id }) }}">{{ 'common.linked' | trans }}</a>
              {% else %}
                {{ 'common.notLinked' | trans }}
              {% endif %}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('industry') }} {{ 'forsyningsvaerk.labels.plural' | trans }}</div>
        <table class="table table-condensed th-vertical">
          <tbody>
          <tr>
            <th>{{ 'appbundle.bygning.forsyningsvaerkEl' | trans }}</th>
            <td>{{ entity.forsyningsvaerkEl }}</td>
          </tr>
          <tr>
            <th>{{ 'appbundle.bygning.forsyningsvaerkVarme' | trans }}</th>
            <td>{{ entity.forsyningsvaerkVarme }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% if (entity.virksomhed and entity.virksomhed.getContactPersons()) %}
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">{{ icon('briefcase') }} {{ 'appbundle.bygning.virksomhedContactPersons' | trans }}
            <a data-toggle="collapse" href="#virksomhed-contact-person" class="pull-right">{{ 'common.toggle' | trans }}</a>
          </div>
          {% set contactPersons = entity.virksomhed.getContactPersons() %}
          {% if contactPersons | length %}
            <div id="virksomhed-contact-person" class="collapse">
              <table class="table table-condensed th-vertical" style="margin:0;">
                <tr>
                  <th>{{ 'appbundle.virksomhed.contactPersons.0.name' | trans }}</th>
                  <th>{{ 'appbundle.virksomhed.contactPersons.0.mail' | trans }}</th>
                  <th>{{ 'appbundle.virksomhed.contactPersons.0.phoneNumber' | trans }}</th>
                </tr>
                {% for contactPerson in contactPersons %}
                  <tr>
                    <th>{{ contactPerson.name }}</th>
                    <td>{{ contactPerson.mail }}</td>
                    <td>{{ contactPerson.phoneNumber }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          {% else %}
            <div class="panel-body">
              {{ 'virksomhed.messages.empty.contactPersons' | trans }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">{{ icon('phone') }} {{ 'appbundle.bygning.contactPersons' | trans }}</div>
        {% set contactPersons = entity.getContactPersons() %}
        {% if contactPersons | length %}
          <table class="table table-condensed th-vertical">
            <tr>
              <th>{{ 'appbundle.bygning.contactPersons.0.name' | trans }}</th>
              <th>{{ 'appbundle.bygning.contactPersons.0.mail' | trans }}</th>
              <th>{{ 'appbundle.bygning.contactPersons.0.phoneNumber' | trans }}</th>
            </tr>
            {% for contactPerson in contactPersons %}
              <tr>
                <th>{{ contactPerson.name }}</th>
                <td>{{ contactPerson.mail }}</td>
                <td>{{ contactPerson.phoneNumber }}</td>
              </tr>
            {% endfor %}
          </table>
        {% else %}
          <div class="panel-body">
            {{ 'virksomhed.messages.empty.contactPersons' | trans }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
